<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}"  >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/admin/event_detail.css">
        <div class="event-title">이벤트</div>
        <div class="row justify-content-center event-detail-div">
            <div class="col-6 event-content-div">
                <div class="row mb-3 event-content-top">
                    <div class="col-5">
                        <th:block th:each="eventImg : ${event.eventImgList}">
                            <th:block th:if="${eventImg.isMain == 'Y'}">
                                <img width="100%" height="280px;" th:src="${'/img/admin/' + eventImg.eventAttachedFileName}" alt="">
                            </th:block>
                        </th:block>
                    </div>
                    <div class="col-7">
                        <div class="row mb-3">
                            <div class="col">[[${event.eventTitle}]]</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">[[${event.eventRegDate}]]</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">[[${event.eventContent}]]</div>
                </div>
                <div class="row">
                    <div class="col-12" th:each="eventImg : ${event.eventImgList}">
                        <img th:if="${eventImg.isMain == 'N'}" width="100%" th:src="${'/img/admin/' + eventImg.eventAttachedFileName}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <input type="button" value="수정" th:onclick="|location.href='@{/admin/updateEventInfoForm(eventCode=${event.eventCode})}'|">
        <input type="button" value="삭제" th:onclick="|location.href='@{/admin/deleteEvent(eventCode=${event.eventCode})}'|">
    </th:block>

   
</body>
</html>