<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}"  >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/admin/event_detail.css">
        <div class="event-title">이벤트</div>
        <div class="row justify-content-center event-detail-div">
            <div class="col-6 event-content-div">
                <div class="row event-content-top">
                    <div class="event-top">
                        <div class="event-title-div">[[${event.eventTitle}]]</div>
                        <div class="event-date">[[${event.eventRegDate}]]</div>
                    </div>
                </div>
                <div class="row event-content-middle">
                    <div class="col">[[${event.eventContent}]]</div>
                </div>
                <div class="row">
                    <div class="col-12" th:each="eventImg : ${event.eventImgList}">
                        <img th:if="${eventImg.isMain == 'N'}" width="100%" th:src="${'/img/admin/' + eventImg.eventAttachedFileName}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-collection">
            <input type="button" value="수정" class="editBtn" th:onclick="|location.href='@{/admin/updateEventInfoForm(eventCode=${event.eventCode})}'|">
            <input type="button" value="삭제" class="delBtn" th:onclick="|location.href='@{/admin/deleteEvent(eventCode=${event.eventCode})}'|">
        </div>
        
    </th:block>

   
</body>
</html>