<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}"  >
<head>
<meta charset="UTF-8">
<title>이벤트 목록</title>

</head>
<body>
  <th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/admin/eventForm.css">
    <div class="event-title">이벤트</div>
    <div>
        <table class="event-table">
            <thead>
              <tr>
                <th scope="col">메인 이미지</th>
                <th scope="col">이벤트명</th>
                <th scope="col">등록일</th>
                <th scope="col">조회수</th>
              </tr>
            </thead>
            <th:block th:if="${#lists.size(eventLists)==0}">
              <tbody>
                <tr class="no_event">
                    <td colspan="4">등록된 이벤트가 없습니다.</td>
                </tr>
              </tbody>
            </th:block>
            <th:block th:if="${#lists.size(eventLists)!=0}">
              <tbody>
                <tr th:each="eventList : ${eventLists}">
                  <td><img class="eventMainImg" th:src="${'/img/admin/'+eventList.eventImgList[0].eventAttachedFileName}" alt="..."></td>
                  <td><a th:href="@{/admin/eventDetail(eventCode=${eventList.eventCode})}">[[${eventList.eventTitle}]]</a></td>
                  <td>[[${eventList.eventRegDate}]]</td>
                  <td>[[${eventList.eventReadCnt}]]</td>
                </tr>
              </tbody>
            </th:block>
          </table>
          <th:block th:if="${session.loginInfo != null}">
            <th:block th:if="${session.loginInfo.loginType == 'ADMIN'}" style="display: block;">
              <input class="eventAddBtn" type="button" value="신규 등록" onclick="location.href='/admin/regEventForm';">
            </th:block>
          </th:block>
    </div>

    <script src="/js/admin/admin.js"></script>
    </th:block>
</body>
</html>