<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/admin/falseOfferings.css">
    </th:block>
    <th:block layout:fragment="content">
        <div class="offerings-list-table">
            <table>
                <colgroup>
                    <col width="5%">
                    <col width="*">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <thead>
                    <tr>
                        <td>No</td>
                        <td>매물번호</td>
                        <td>신고건수</td>
                        <td>신고날짜</td>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:if="${#lists.size(falseOfferingsList) == 0}">
                        <tr>
                            <td colspan="4">신고된 매물이 없습니다.</td>
                        </tr>
                    </th:block>
                    <th:block th:unless="${#lists.size(falseOfferingsList) == 0}">
                        <tr th:each="falseOfferings,state : ${falseOfferingsList}">
                            <td>[[${#lists.size(falseOfferingsList)-state.index}]]</td>
                            <td class="cursor"
                                th:onclick="|location.href='@{/admin/falseOfferingsDetail(roomCode=${falseOfferings.roomCode})}';|">
                                [[${#strings.substring(falseOfferings.roomCode,5,9)}]]</td>
                            <td>[[${falseOfferings.reportCnt}]]</td>
                            <td>[[${falseOfferings.reportDate}]]</td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </th:block>
</body>

</html>