<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>상품명</td>
                <td>상품 안내</td>
                <td>상품 설명</td>
                <td>가격</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="membershipItem : ${membershipItemList}">
                <td><a th:href="@{/admin/membershipDetail(membershipCode=${membershipItem.membershipCode}, memCateCode=${membershipItem.memCateCode}, itemCode=${membershipItem.itemCode})}">[[${membershipItem.itemName}]]</a></td>
                <td>[[${membershipItem.itemIntro}]]</td>
                <td>[[${membershipItem.itemContent}]]</td>
                <td>[[${membershipItem.itemPrice}]]</td>
                <td><input type="submit" value="구매"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>