<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>상품명</td>
                <td>상품 설명</td>
                <td>가격</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="membershipList : ${membershipList}">
                <th:block th:if="${membershipList.memCateCode == 'CATE_001'}">
                    <td>
                        <a th:href="@{/admin/membershipItem(membershipCode=${membershipList.membershipCode})}">[[${membershipList.membershipName}]]</a>
                    </td>
                </th:block>
                <th:block th:if="${membershipList.memCateCode != 'CATE_001'}">
                    <td><a th:href="@{/admin/membershipDetail(membershipCode=${membershipList.membershipCode}, memCateCode=${membershipList.memCateCode})}">[[${membershipList.membershipName}]]</a></td>
                </th:block>
                <td>[[${membershipList.membershipContent}]]</td>
                <td>[[${membershipList.membershipPrice}]]</td>
                <td th:style="${membershipList.memCateCode == 'CATE_001' ? 'display:none;':''}">
                    <input type="submit" value="구매">
                </td>
            </tr>
        </tbody>
    
    </table>
</body>
</html>