<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="/css/admin/membership_list.css">
</head>
<body>
    
    <div style="height: 30px;;"></div>
    
    <th:block th:each="membership : ${membershipList}">
        <div class="membershipTitle">[[${membership.membershipName}]]</div>
        <div class="membership-div" style="margin-bottom: 10px;">
            <div class="membershipList" th:each="item : ${membership.memItemList}">
                <div class="itemName">[[${item.itemName}]]</div>
                <div class="itemPrice">[[${item.itemPrice}]]</div>
                <div class="itemIntro">[[${item.itemIntro}]]</div>
                <div class="itemContent">[[${item.itemContent}]]</div>
            </div>
        </div>

    </th:block>





</body>
</html>