<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title>공인중개사 목록</title>
</head>
<body>
     <!-- 검색 -->
     <div>
        <form action="/admin/realList" method="post">
            <input type="text" name="realSearch">
            <input type="submit" value="검색">
        </form>
    </div>

    <table>
        <colgroup>
            <col width="5%">
            <col width="10%"> 
            <col width="10%">
            <col width="10%">
            <col width="5%">
        </colgroup>
        <thead>
            <tr>
                <td>No</td>
                <td>코드</td>
                <td>공인중개사명</td>
                <td>사업자번호</td>
                <td>권한여부</td>
            </tr>
        </thead>
        <tbody>
            <th:block th:if="${#lists.size(realList)==0}">
                <tr>
                    <td colspan="5">조회된 회원이 없습니다.</td>
                </tr>
            </th:block>

            <th:block th:if="${#lists.size(realList)!=0}">
                <tr th:each="real : ${realList}">
                    <td>[[${real.userNo}]]</td>
                    <td>[[${real.realTorCode}]]</td>
                    <td>[[${real.officeName}]]</td>
                    <td><a th:href="@{/admin2/realDetail(identificationNum=${real.identificationNum})}">[[${real.identificationNum}]]</a></td>
                    <td>[[${real.licenseFileName}]]</td>
                    <td>
                        [[${real.authority}]]
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>