<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
    
<head>
<meta charset="UTF-8">
<title>맴버쉽 신규 등록 </title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/css/admin/regMembership.css">

</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="cate col align-middle scrollBar">
                <div th:each="category : ${cateList}" class="alert alert-secondary" role="alert" th:onclick="getMidCateList([[${category.memCateCode}]]);">
                    [[${category.memCateName}]]
                </div>
                <div class="alert alert-light" role="alert">
                    추 가
                </div>
            </div>

            <div class="midCate col align-middle scrollBar">
                <div  th:each="midCategory : ${midCateList}" class="alert alert-secondary" role="alert" th:onclick="getItemCateList([[${midCategory.membershipCode}]]);">
                    [[${midCategory.membershipName}]]
                </div>
            </div>
            
            <div class="itemCate col align-middle scrollBar">
                <div th:each="item : ${itemList}"  class="alert alert-secondary" role="alert">
                    [[${item.itemName}]]
                </div>
            </div>
        </div>
        

        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>


    <form method="post" action="/admin/regMembership">
        <div>   
            <label>대분류</label>
            <select class="category1" name="memCateCode" id="select_category">
                <option value="" selected>전체</option>
                <option value="addNew" class="new">
                    신규등록
                </option>
                <option th:each="category : ${cateList}" th:value="${category.memCateCode}">[[${category.memCateName}]]</option>
            </select> 
            <!-- 신규등록 입력 칸 -->
            <div class="addNewCategory" style="display: none;">
                <input type="text" name="memCateName">
            </div>
        </div>


        
        <!-- 소분류가 있을 때 -->
        <div class="optionForm0" style="display: none;">    
            <label>중분류</label>
            <select class="category2" name="membershipCode" id="select-midCategory">
                <option value="" selected>전체</option>
                <option value="addMidNew" class="midNew">
                    신규등록
                </option>
                <option th:each="midCategory : ${midCateList}" th:value="${midCategory.membershipCode}">[[${midCategory.membershipName}]]</option>
            </select>
            <!-- 신규 등록 시 입력 칸 -->
            <div class="addNewMidCategory" style="display: none;">
                <input type="text" name="membershipName">
            </div>
        </div>

        
        <div class="optionForm1" style="display: none;">
            <div class="inputArea">
                <label for="itemName">상품명</label>
                <input type="text" id="itemName" name="itemName"/>
            </div>
            <div class="inputArea">
                <label for="itemIntro">상품소개</label>
                <textarea rows="5" cols="50" id="itemIntro" name="itemIntro"></textarea>
            </div>
            <div class="inputArea">
                <label for="itemContent">상품설명</label>
                <textarea rows="5" cols="50" id="itemContent" name="itemContent"></textarea>
            </div>
            <div class="inputArea">
                <label for="itemPrice">상품가격</label>
                <input type="text" id="itemPrice" name="itemPrice"/>
            </div>
        </div>

        <!-- 소분류가 없을 때 -->
        <div class="optionForm2" style="display: none;">
            <div class="inputArea">
                <label for="membershipName">상품명</label>
                <input type="text" id="membershipName" name="membershipName"/>
            </div>
            <div class="inputArea">
                <label for="membershipContent">상품설명</label>
                <textarea rows="5" cols="50" id="membershipContent" name="membershipContent"></textarea>
            </div>
            <div class="inputArea">
                <label for="membershipPrice">상품가격</label>
                <input type="text" id="membershipPrice" name="membershipPrice" disabled/>
            </div>
        </div>
        
        <input type="submit" value="등록하기">
        <input type="submit" value="뒤로가기">
    </form>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/js/admin/admin.js"></script>

</body>
</html>