<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}"  >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/admin/new_event.css">
        <div class="new-event-title">이벤트 등록</div>
        <div class="new-event-form-div">
            <form action="/admin/regEvent" method="post" enctype="multipart/form-data">
                <div>
                    <label for="eventTitle" class="form-label">제목</label>
                    <input type="text" class="form-control" id="eventTitle" name="eventTitle">
                </div>
                <div>
                    <label for="eventContent" class="form-label">내용</label>
                    <textarea class="form-control" id="eventContent" name="eventContent" rows="3"></textarea>
                </div>
                <div>
                    <label class="form-label">Main Image</label>
                    <input type="file" class="form-control" name="eventImg">
                </div>
                <div>
                    <label class="form-label">Sub Image</label>
                    <input type="file" class="form-control" name="subEventImg" multiple>
                </div>
                <div class="d-grid mt-3 addBtn-div">
                    <button type="submit" class="addBtn">등록하기</button>
                </div>
            </form>
        </div>
    
    <script src="/js/admin/admin.js"></script>
    </th:block>

</body>
</html>