<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
    
<head>
<meta charset="UTF-8">
<title>맴버쉽 신규 등록 </title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/css/admin/regMembership.css">

</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="cate col align-middle scrollBar" id="cate">
                <div th:each="category : ${cateList}" class="alert alert-secondary" role="alert" th:onclick="getMidCateList([[${category.memCateCode}]]);">
                    [[${category.memCateName}]]
                </div>
                <div class="addNewCate alert alert-light" role="alert" >
                    <span th:onclick='addNewInput(this, "")'>추 가</span>
                </div>
            </div>

            <div class="midCate col align-middle scrollBar" id="midCate">
                <div th:each="midCategory : ${midCateList}" class="alert alert-secondary" role="alert" th:onclick="getItemCateList([[${midCategory.memCateCode}]],[[${midCategory.membershipCode}]]);">
                    [[${midCategory.membershipName}]]
                </div>
                <div class="addNewCate alert alert-light" role="alert">
                    <span  th:onclick='addNewInput(this, [[${midCateList[0].memCateCode}]])'>추 가</span>
                </div>
            </div>
        </div>    
            

        <!-- 상품 정보 출력 html -->
        <div class="row mt-4">
            <div class="col">
                상품 정보
            </div>
        </div>
        <div class="row itemList">
            <div class="itemCate col-4 align-middle scrollBar" id="itemCate">
                <table class="itemListTable table table-hover table-striped">
                    <colgroup>
                        <col width="">
                        <col width="">
                        <col width="">
                        <col width="">
                    </colgroup>
                    <thead>
                        <tr>
                            <td>No</td>
                            <td>상품명</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                데이터를 조회하려면 상단의 카테고리를 선택해주세요.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="itemDetailList col-8 align-middle">

            </div>
        </div>        
        
        <div class="row mt-4 membershipRegForm">
            <form>
                <div class="row g-3" >
                    <select class="form-select" id="selectFirstCate"  aria-label="Default select example" onchange="selectNewMidCate()">
                        <option selected>대분류</option>
                        <option th:each="category : ${cateList}" th:value="${category.memCateCode}">[[${category.memCateName}]]</option>
                    </select>
                    <select class="form-select" id="selectSecondCate" aria-label="Default select example" name="searchMidCate">
                        <option selected>중분류</option>
                        <option th:each="midCategory : ${midCateList}" th:value="${midCategory.membershipCode}">[[${midCategory.membershipName}]]</option>
                    </select>
                    <div class="col-md-6">
                        <label for="itemName" class="form-label">상품명</label>
                        <input type="text" class="form-control" id="itemName">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPrice" class="form-label">상품 가격</label>
                        <input type="number" class="form-control" id="itemPrice">
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Intro" id="itemIntro"></textarea>
                        <label for="itemIntro">상품 소개</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Contents" id="itemContent" style="height: 100px"></textarea>
                        <label for="itemContent">상품 상세설명</label>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary" onclick="insertItem()">등록하기</button>
                    </div>
                </div>
                <input class="btn btn-danger resetBtn" type="reset" value="초기화">
            </form>
        </div>
        <div class="row">
            <div class="col">
                <div class=""></div>
            </div>
        </div>
    </div>


    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/js/admin/admin.js"></script>

</body>
</html>