<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title>공지사항 수정</title>
</head>
<body>
    <form action="/admin/updateBoard" method="post">
        <input type="hidden" name="boardNum" th:value="${board.boardNum}">
        <div>
            <div> 글 제목 </div>
            <div><input type="text" name="infoTitle" required th:value="${board.infoTitle}"></div>
        </div>
        <div>
            <div> 내용 </div>
            <div>
                <textarea cols="50" rows="10" name="infoContent" th:value="${board.infoContent}">[[${board.infoContent}]]</textarea>
            </div>
        </div>
        
        <input type="submit" value="수정">
    </form>
</body>
</html>