<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragment/main_layout}" >
<head>
<meta charset="UTF-8">
<title>이벤트 수정</title>

</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/admin/event_update.css">
        <div class="event-title">이벤트 수정</div>
        <div class="event-edit-form-div">
            <form action="/admin/updateEvent" method="post" enctype="multipart/form-data" class="event-edit-form">
                <div><input type="hidden" name="eventCode" th:value="${event.eventCode}"></div>
                <div class="col-4">
                    <label for="eventTitle" class="form-label">이벤트명</label>
                    <input type="text" class="form-control" id="eventTitle" name="eventTitle" th:value="${event.eventTitle}">
                </div>
                <div class="col-4 event-ex">
                    <label for="eventContent" class="form-label">이벤트 설명</label>
                    <textarea class="form-control" id="eventContent" name="eventContent" rows="3" th:value="${event.eventContent}">[[${event.eventContent}]]</textarea>
                </div>
                <div class="col-3 event-main-img">
                    <label class="form-label">Main Image</label>
                    <input type="file" class="form-control" name="eventImg">
                </div>
                <div class="col-3 event-sub-img">
                    <label class="form-label">Sub Image</label>
                    <input type="file" class="form-control" name="subEventImg" multiple>
                </div>
                <div class="col-2 d-grid comBtn-div">
                    <button type="submit" class="comBtn">수정하기</button>
                </div>
            </form>
        </div>
        
    </th:block>
    


   
</html>