<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title>회원 목록</title>
</head>
<body>
    <table>
        <colgroup>
            <col width="5%">
            <col width="10%">
            <col width="10%">
            <col width="5%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <td>No</td>
                <td>사용자명</td>
                <td>비밀번호</td>
                <td>유형</td>
                <td>닉네임</td>
                <td>폰번호</td>
                <td>가입일시</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userList}">
                <td>[[${user.userNo}]]</td>
                <td>[[${user.userName}]]</td>
                <td>[[${user.password}]]</td>
                <td>[[${user.loginType}]]</td>
                <td>[[${user.nickName}]]</td>
                <td>[[${user.phone}]]</td>
                <td>[[${user.joinDate}]]</td>
            </tr>
        </tbody>
    </table>
</body>
</html>