<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >
<head>
<meta charset="UTF-8">
<title>일반 회원 상세 조회</title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/admin/user_detail.css">
        <div class="table-title">회원 상세 정보</div>
        <div class="basic-info-title">
            <div>
                <span>	&ndash;</span>
                <span class="basic-info-span">회원 기본 정보</span>	
            </div>
            <table class="detail-info-table">
                <colgroup>
                    <col width="5%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="5%">
                </colgroup>
                <thead>
                    <tr>
                        <td>No</td>
                        <td>사용자명</td>
                        <td>비밀번호</td>
                        <td>사용자 유형</td>
                        <td>닉네임</td>
                        <td>휴대폰 번호</td>
                        <td>가입 날짜</td>
                        <td>탈퇴</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="udetail : ${userDetail}">
                        <td>[[${udetail.userNo}]]</td>
                        <td>[[${udetail.userName}]]</td>
                        <td>[[${udetail.password}]]</td>
                        <td>[[${udetail.loginType}]]</td>
                        <td>[[${udetail.nickName}]]</td>
                        <td>[[${udetail.phone}]]</td>
                        <td>[[${udetail.joinDate}]]</td>
                        <td>
                            <input type="submit" class="deleteBtn" value="삭제" th:onclick = "|location.href='@{/admin/deleteUser(userNo=${udetail.userNo})}'|">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="falseOffering-div">
            <div>
                <span>	&ndash;</span>
                <span class="basic-info-span">허위 매물 신고 내역</span>	
            </div>
            <table class="falseOffering-detail-table">
                <colgroup>
                    <col width="5%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <td>매물 번호</td>
                        <td>신고 코드</td>
                        <td>신고 내용</td>
                        <td>등록일</td>
                        <td>처리 상태</td>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:if="${#lists.size(falseOfferingsList) ==0}">
                        <tr>
                            <td colspan="5">신고한 허위매물이 없습니다.</td>
                        </tr>
                    </th:block>
                    <th:block th:unless="${#lists.size(falseOfferingsList) ==0}">
                        <tr th:each="falseOffering : ${falseOfferingsList}">
                            <td>[[${falseOffering.roomCode}]]</td>
                            <td>[[${falseOffering.reasonCode}]]</td>
                            <td>[[${falseOffering.reportContent}]]</td>
                            <td>[[${falseOffering.reportDate}]]</td>
                            <td>[[${falseOffering.inquiryStatusVO.statusName}]]</td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <div class="room-div">
            <div>
                <span>	&ndash;</span>
                <span class="basic-info-span">등록한 매물 내역</span>	
            </div>
            <table class="room-detail-table">
                <colgroup>
                    <col width="5%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead>
                    <tr>
                        <td>매물 번호</td>
                        <td>주소</td>
                        <td>상세주소</td>
                        <td>등록일</td>
                        <td>제목</td>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:if="${#lists.size(roomInfo) ==0}">
                        <tr>
                            <td colspan="5">등록한 매물이 없습니다.</td>
                        </tr>
                    </th:block>
                    <th:block th:unless="${#lists.size(roomInfo) ==0}">
                        <tr th:each="roomInfo : ${roomInfo}">
                            <td>[[${roomInfo.roomCode}]]</td>
                            <td>[[${roomInfo.roomAddrVO.addr}]]</td>
                            <td>[[${roomInfo.roomAddrVO.detailAddr}]]</td>
                            <td>[[${roomInfo.createDate}]]</td>
                            <td>[[${roomInfo.title}]]</td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </th:block>
    
    
</body>
</html>