<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{fragment/main_layout}" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/admin/buyItem_list.css">

        <th:block th:each="membershipItem, state : ${buyItemList}">
            <th:block th:if="${state.index == 0}">
                <div class="memCateName">[[${membershipItem.memCateName}]]</div>
            </th:block>
            <div class="membershipTitle">[[${membershipItem.membershipName}]]</div>
            <div class="membership-div" style="margin-bottom: 10px;">
                <div class="membershipList-div" th:each=" item : ${membershipItem.memItemList}">
                    <div class="top-div">
                        <p class="itemName">[[${item.itemName}]]</p>
                        <p class="itemIntro" >[[${item.itemIntro}]]</p>
                    </div>
                    <p class="itemContent" >[[${item.itemContent}]]</p>
                    <p class="itemPrice">[[${#numbers.formatCurrency(item.itemPrice)}]]</p>

                    <form action="/item/goBuyItem" method="post">
                        <input type="hidden" name="itemCode" th:value="${item.itemCode}">
                        <input type="hidden" name="buyPrice" th:value="${item.itemPrice}">
                        <input type="hidden" name="memCateCode" th:value="${item.memCateCode}">
                        <input type="submit" value="구매하기" class="buyBtn">
                    </form>
                </div>
            </div>
        </th:block>


    <script src="/js/main/buyItemList.js"></script>
    </th:block>
</body>
</html>