<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <title>원하는 방을 한방에 한방👊</title>
</head>

<body>
    <th:block layout:fragment="content" class="content">
        <link rel="stylesheet" href="/css/main/home.css">
        <div class="search_room">
            <h3>어떤 방을 찾으세요?</h3>
            <div class="h_search">
                <form method="get" action="/room/roomMain">
                    <fieldset>
                        <legend class="hide">매물 검색 폼</legend>
                        <div>
                            <input class="insertAddr" name="searchAddr" placeholder="지역을 입력하세요." value="">
                            <input class="searchBtn" type="submit" value="">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <section class="main_content1">
            <div class="ai_picks">
                <h1 class="ai_title1"><span class="imo">&#x1F3E0; </span><span>한방</span>추천 매물이예요!</h1>
                <div class="ai_title2">
                    <a href='javascript:void(0);' class="room_more" onclick="location.href='/room/roomMain'">더 많은 방 보기 ></a>
                </div>
                <ul class="ai_room_list">
                    <li th:each="room, state : ${selectMainPageRoomList}" th:onclick="detailRoom([[${room.roomCode}]]);">
                        <th:block th:if="${state.index &lt; 4}">
                            <div>
                                <div class="ai_room1" >
                                    <div class="ai_room_img_wrap">
                                        <div class="ai_room_img_content">
                                            <img th:src="${'/img/' + 'room/' + room.imgList[0].attachedFileName}"
                                                alt="매물사진">
                                        </div>
                                    </div>
                                    <div class="ai_room_info">
                                        <p class="room_title">[<span>[[${room.subPropertyTypeVO.subPropertyTypeName}]]</span>]</p>
                                        <th:block th:if="${room.tradeTypeCode == 'TTC_001'}">
                                            <h4 class="room_price">월세 [[${room.deposit}]]/[[${room.monthlyLease}]]</h4>
                                        </th:block>
                                        <th:block th:if="${room.tradeTypeCode == 'TTC_002'}">
                                            <h4 class="room_price">전세
                                                <span th:if="${room.jeonseCost != null}">
                                                    <span th:with="jeonseCostInt=${T(java.lang.Integer).parseInt(room.jeonseCost)}">
                                                        <span th:with="billions=${jeonseCostInt / 10000}">
                                                            <span th:with="millions=${jeonseCostInt % 10000}">
                                                                <span th:if="${billions > 0}" th:text="${billions + '억'}"></span>
                                                                <span th:if="${millions > 0}" th:text="${millions}"></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </h4>
                                        </th:block>
                                        <p class="room_info">[[${room.floor}]]층,  [[${room.roomSizeM}]]m&#178;, <th:block th:if="${room.maintenanceCost!=null}">관리비[[${room.maintenanceCost}]]만</th:block></p>
                                        <p class="room_info">[[${room.roomAddrVO.addr}]]</p>
                                        <p class="room_info">[[${room.title}]]</p>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </li>
                </ul>
            </div>
        </section>
        <section class="main_content2">
            <div>
                <p class="content2_title">
                    <span class="imo">&#x1F3E0; </span><span>한방</span> 매물가 평균
                </p>
                <div class="content2_wrap">
                    <button type="button" class="content2_btn_left"></button>
                    <div>
                        <div class="room_avg_price_info" th:each="typeAvg : ${typeAvgList}">
                            <div class="rapi_title">
                                <p>[[${typeAvg.subPropertyTypeVO.subPropertyTypeName}]] 평균가</p>
                            </div>
                            <div class="rapi_info">
                                <p class="monye">월세</p>
                                <p class="monye_avg">[[${typeAvg.avgDeposit}]]/[[${typeAvg.avgMonthlyLease}]]</p>
                                <p class="monye">전세</p>
                                <p class="money_avg">
                                    <span th:if="${typeAvg.avgJeonseCost != null}">
                                        <span th:with="avgJeonseCostInt=${T(java.lang.Integer).parseInt(typeAvg.avgJeonseCost)}">
                                            <span th:with="billions=${avgJeonseCostInt / 10000}">
                                                <span th:with="millions=${avgJeonseCostInt % 10000}">
                                                    <span th:if="${billions > 0}" th:text="${billions + '억'}"></span>
                                                    <span th:if="${millions > 0}" th:text="${millions}"></span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="content2_btn_right"></button>
                </div>
            </div>
        </section>
        <div class="slide_wrap">
            <div>
                <div class="slide_bg">
                    <div class="slide_img"></div>
                </div>
            </div>
        </div>
        <div class="board_list">
            <div>
                <ul class="list_wrap">
                    <li>
                        <p class="title">형태별 검색</p>
                        <a href="">원룸</a>
                        <a href="">투·쓰리룸</a>
                        <a href="">오피스텔</a>
                        <a href="">아파트</a>
                    </li>
                    <li>
                        <p class="title">상품소개</p>
                        <div th:each="cateList : ${cateList}" class="buyItemList">
                            <a
                                th:href="@{/buyItem(memCateCode=${cateList.memCateCode})}">[[${cateList.memCateName}]]</a>
                        </div>
                    </li>
                    <li>
                        <p class="title">한방 뉴스/고객지원</p>
                        <a href="/admin/infoBoard">공지사항</a>
                        <a href="/admin/eventList">이벤트</a>
                        <a href="">자주묻는 질문</a>
                    </li>
                    <li>
                        <p class="title">한방정보</p>
                        <a href="">회사소개</a>
                        <a href="">오시는 길</a>
                        <a href="">제휴문의</a>
                    </li>
                </ul>
            </div>
        </div>
        <th:block layout:fragment="content_js">
            <script src="https://code.jquery.com/jquery-latest.min.js"></script>
            <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <script src="/js/main/home.js"></script>
        </th:block>
    </th:block>
</body>

</html>