@charset "UTF-8";


form {
    position: relative;
    padding-bottom: 80px;
}

.table {
    margin-bottom: 80px;
    border-top: 3px solid #000;
}

.table .table_top{
    display: flex;
    justify-content: space-between;
}
.table .table_top div{
    margin-top: 33px;
    font-size: 13px;
}
.table h2 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.title {
    color: rgb(34, 34, 34);
    font-size: 46px;
    line-height: 70px;
    letter-spacing: -1px;
    font-weight: 700;
    text-align: center;
}

.table tr td header {
    padding: 10px 3px;
    background-color: rgb(252, 252, 252);
    font-weight: 700;
    font-size: 14px;
    text-align: left;
}



.table tr {
    border: 0;
}

.table tr th {
    border-right: 1px solid #d1d1d1;
    ;
}

.table tr td {
    padding: 10px 3px;

}

.table tr td .subProperty {
    font-size: 15px;
    padding: 15px 0;
}

.table tr td .subProperty:first-child {
    border-top: 1px solid #d1d1d1;

}

.table tr td .property {
    font-size: 15px;
    padding: 15px 0;
    border-top: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
}

.caution {
    margin-bottom: 30px;
}

.caution li {
    color: rgb(101, 101, 101);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
}

.caution li span {
    font-size: 20px;
    font-weight: 700;
}

form div h2 {
    flex: 0 0 auto;
    color: rgb(34, 34, 34);
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.5px;
    font-weight: 700;
    margin-bottom: 10px;
}

.table_top .essential {
    color: red;
    font-weight: 700;
}

.essential {
    color: red;
    font-weight: 700;
}

table tbody tr {
    margin-bottom: 30px;
}

table tbody tr th {
    width: 13%;
    font-weight: 700;
    font-size: 15px;
    padding-left: 20px;
    text-align: left;
    padding-right: 20px;
    vertical-align: middle;
    background-color: rgb(252, 252, 252);
    border-top: 1px solid #d1d1d1;
}

table tbody tr td {
    border-top: 1px solid #d1d1d1;
}

table {
    width: 100%;
    text-align: left;
}

.table-top {
    display: flex;
    justify-content: space-between;
}

.addr {
    position: relative;
}

.addr div div {
    font-size: 15px;
    margin-bottom: 10px;
}

.addr div input[type="text"] {
    width: 300px;
}

.addr .addr_select {
    position: absolute;
    top: 50px;
    left: 10px;
}

.addr .detail_addr {
    position: absolute;
    bottom: 50px;
    left: 10px;
}

#map {
    width: 500px;
    height: 280px;
}

#roomSizeP,
#roomSizeM {
    padding-left: 5px;
    padding-right: 30px;
}

.pm_div {
    position: relative;
    margin-left: 10px;
}

.pm {
    position: absolute;
    top: 33%;
    left: 190px;
}

.pm:last-child {
    left: 360px;
}

.floor {
    margin-left: 10px;
}

input[type="text"] {
    border-radius: 5px;
    width: 150px;
    height: 50px;
    border: 2px solid #a9a9a9;
}

/* 라디오 버튼 스타일 */
input[type="radio"] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none !important;
    border: 2px solid #9999;
    vertical-align: middle;
    border-radius: 50%;
    /* 원 모양으로 */
    padding: 10px;
    align-items: center;
    margin-bottom: 5px;
}

input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    /* 내부 원 크기 조절 */
    height: 12px;
    background-color: #fff;
    /* 원 내부 배경색 */
    border-radius: 50%;
    /* 내부 원 모양 */
}

input[type="radio"]:checked::before {
    background-color: #5c75bb;
    /* 체크된 상태 색상 */
    border-color: rgba(255, 255, 255, 0.3);
}

.options tr td input[type="checkbox"] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none !important;
    border: 2px solid #9999;
    vertical-align: middle;
    border-radius: 20%;
    padding: 10px;
    align-items: center;
    margin-bottom: 5px;
}

input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}

input[type="checkbox"]:checked {
    background-color: #5c75bb;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}

input[type="checkbox"]:checked::before {
    border-radius: 4px;
    transform: scale(1) translate(-50%, -50%)
}

/* 버튼 스타일 */
#submitButton {
    background-color: #5c75bb;
    /* 녹색 */
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    font-weight: 700;
    width: 210px;
    height: 80px;
    line-height: 24px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);

}

#submitButton:hover {
    background-color: #405795;
    /* 더 진한 녹색 */
}

input[type="button"] {
    background-color: #5c75bb;
    /* 녹색 */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 13px 15px;
    cursor: pointer;

    font-weight: bold;
}

input[type="button"]:hover {
    background-color: #405795;
    /* 더 진한 녹색 */
}

input[type="date"] {
    background-color: #fff;
    /* 배경색 설정 */
    color: #000;
    /* 텍스트 색 설정 */
    border: 1px solid #999;
    /* 테두리 스타일 설정 */
    cursor: pointer;
    /* 커서 스타일 변경 */
    padding: 5px;
    /* 내부 여백 설정 */
    border-radius: 4px;
    /* 둥근 테두리 설정 */
    width: 150px;
    /* 원하는 너비 설정 */
}

/* 비활성화된 입력 필드의 스타일 설정 */
input[type="date"]:disabled {
    background-color: #f0f0f0;
    /* 배경색 설정 */
    color: #999;
    /* 텍스트 색 설정 */
    border: 1px solid #ccc;
    /* 테두리 스타일 설정 */
    cursor: not-allowed;
    /* 커서 스타일 변경 */
}

input:disabled {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;

}

.monthly {
    display: flex;
}

.monthly>div>div,
.jeonse>div {
    margin-bottom: 7px;
    font-size: 13px;
    font-weight: 600;
}

.monthly div {
    margin-right: 30px;
}

.monthly div input[type="text"],
.jeonse input[type="text"] {
    padding-left: 5px;
    padding-right: 40px;
}

.monthly,
.jeonse {
    position: relative;
    margin-left: 10px;
}

.won {
    position: absolute;
    top: 50%;
    left: 110px;
}

.monthly_won {
    position: absolute;
    top: 50%;
    left: 290px;
}

.insert-img .mainImg {
    margin-left: 10px;
}

.insert-img .mainImg div,
.insert-img .subImg div {
    margin-bottom: 10px;
}

.table .room-content td .input-field,
.textarea-field {
    width: 100%;
}

.table .room-content td .input-field,
.table .room-content td div,
.table tr td .textarea-field {
    margin-bottom: 15px;
}

.textarea-field {
    height: 250px;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 10px;
}

.input-field:focus,
.textarea-field:focus {
    border-color: #383838;
    /* 입력 필드가 포커스를 받으면 파란색 선으로 변경합니다. */
}

/* 입력 엘리먼트 숨기기 */
input[type="file"] {
    display: none;
}

/* 커스텀 디자인한 레이블 스타일 */
label.custom-file-label {
    background-color: #5c75bb;
    color: #fff;
    padding: 20px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
}

label.custom-file-label:hover {
    background-color: #405795;
}

.no-bor-r {
    border: 0;
}

.no-bor-t {
    border: 0;
}

#subImgList {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.image-list {
    max-width: 300px;
    max-height: 200px;
}

.image-list img {
    width: 200px;
    /* 이미지의 너비를 고정 크기 200px로 설정 */
    height: 200px;
    /* 이미지의 높이를 고정 크기 200px로 설정 */
}

#error-div{
    position: fixed;
    right: 0; /* 화면 왼쪽에 고정 */
    top: 0; /* 화면 상단에 고정 */
    background-color: rgb(212, 38, 38); /* 배경색을 원하는 색상으로 설정 */
    color: white; /* 텍스트 색상을 원하는 색상으로 설정 */
    padding: 10px; /* 원하는 패딩 값을 설정하여 내용을 여백으로 둘 수 있습니다. */
    text-align: left;
    width: 500px;
    z-index: 500;
    display: none;
    justify-content: space-between;
    border-radius: 5px;
}

.close{
    display: block;
    background-image: url("/img/room/icons8-x.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    text-indent: -99999px;
    width: 20px;
    z-index: 501;
    cursor: pointer;
}

/* ----------------------------------------------------------------------------- */
/* 상품 적용 모달창 디자인 */
#apply-item-input{
    margin-left: 50px;
    width: 300px;
}
.cateName{
    margin: 10px 0;
}
.info-div{
    margin: 10px 0;
}
.endDate{
    float: right;
}
.membershipInfo{
    margin-bottom: 10px;
}
.info-div{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #405795;
    border-radius: 10px;
}
.packageDateilInfo, .generalDateilInfo, .plusDateilInfo{
    text-align: center;
}
.packageDateilInfo > div , .generalDateilInfo > div, .plusDateilInfo > div {
    display: inline-block;
    margin-right: 15px;
    justify-content: space-between;

}
.itemName{
    color: #000;
}
.leftCntInfo{
    font-size: small;
    color: #000;
}
.packageIsValid, .generalIsValid, .plusIsValid{
    display: none;
}
.packageDateilInfo > div > label, .generalDateilInfo > div > label{
    border: 1px solid #5c75bb ;
    border-radius: 10px;
    padding: 10px;
}
.plusDateilInfo > div >label{
    border: none;
}
.leftCntInfo{
    margin-bottom: 5px;
}
.useItem-title{
    margin-left: 20px;
    font-weight: bold;
    background-color: rgb(252,252,252);
    line-height: 50px;
}
