@charset "UTF-8";
/* room_detail.css */

#wrap{
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.img-box{
    display: flex;
}
.img-box > p{
    box-sizing: border-box;
    width: calc(100% / 3);
    height: 90%;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
}
.container-box{
    display: grid;
    grid-template-columns: 510px 360px;
    gap: 0 40px;
    padding: 0 10px;
}
.box{
    margin-bottom: 100px;
}
.title_a{
    margin-bottom: 30px;
}
.box > ul > li{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.box > ul > li > div{
    margin-right: 20px;
}
.box > ul > li > div:first-child{
    font-size: 15px;
    font-weight: 700;
}
.wd25 > .col{
    flex: none;
}
.wd25 > div{
    box-sizing: border-box;
    width: 50%;
}
.option-box::after{
    display: block;
    content: "";
    clear: both;
}
.option-box > li{
    display: block;
    float: left;
    margin-right: 20px;
}
.wing .wing-box{
    width: 360px;
    padding: 30px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
}
.wing > .wing-box > .row{
    margin-bottom: 15px; 
}
.info-box{
    margin-bottom: 40px;
}
.realtorOffice{
    margin-bottom: 20px;
    padding: 15px;
}
.realtorOffice > div{
    font-size: 16px;
}
.realtorOffice > div, .gnb{
    font-weight: 700;
}
.flx{
    display: flex;
}
.flx > div{
    margin-right: 15px;
}

.dibs_on_btn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border: 1px solid black;
    background-color: transparent;
    background-image: url("/img/member/dibsOn.svg");
    background-repeat: no-repeat;
    background-position: center;
}