<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 복사해서 사용 -->
<mapper namespace="admin2Mapper">
    <!-- 허위매물 신고 조회 -->
    <select id="selectFalseOfferings" resultMap="roomMapper.falseOfferings">
        SELECT ROOM_CODE
            , REPORT_CNT
            , REPORT_DATE
        FROM FALSE_OFFERINGS
        WHERE REPORT_CNT >= 4
    </select>

    <!-- 공인중개사 권한 승인 요청 -->
    <select id="selectRealtorAuthority" resultMap="realtorMapper.realtorDetail">
        SELECT REALTOR_CODE
            , AUTHORITY
            , REQUEST_DATE
        FROM REALTOR_DETAIL
        WHERE AUTHORITY = 'N'
    </select>
</mapper>































