<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">
    <resultMap id="manager" type="com.green.hanbang.admin.vo.MemberManageVO">
        <id column="USER_NO"                 property="userNo"/>
        <result column="USER_NAME"       property="userName"/>
        <result column="PASSWORD"       property="password"/>
        <result column="LOGIN_TYPE"      property="loginType"/>
        <result column="NICK_NAME"      property="nickName"/>
        <result column="PHONE"      property="phone"/>
        <result column="JOIN_DATE"  property="joinDate"/>
        <result column="REALTOR_CODE"  property="realTorCode"/>
        <result column="OFFICE_NAME"  property="officeName"/>
        <result column="IDENTIFICATION_NUM"  property="identificationNum"/>
        <result column="LICENSE_FILE_NAME"  property="licenseFileName"/>
        <result column="AUTHORITY"  property="authority"/>
    </resultMap>
    
    <resultMap id="board" type="com.green.hanbang.admin.vo.BoardVO">
        <result column="BOARD_NUM" property="boardNum"/>
        <result column="INFO_TITLE" property="infoTitle"/>
        <result column="INFO_CONTENT" property="infoContent"/>
        <result column="INFO_REGDATE" property="infoRegDate"/>
    </resultMap>

    <resultMap id="memCate" type="com.green.hanbang.admin.vo.MemCateVO">
        <result column="MEM_CATE_CODE" property="memCateCode"/>
        <result column="MEM_CATE_NAME" property="memCateName"/>
        <collection property="membershipList" resultMap="membership"/>
    </resultMap>

    <resultMap id="membership" type="com.green.hanbang.admin.vo.MembershipVO">
        <result column="MEM_CATE_CODE" property="memCateCode"/>
        <result column="MEM_CATE_NAME" property="memCateName"/>
        <result column="MEMBERSHIP_CODE" property="membershipCode"/>
        <result column="MEMBERSHIP_NAME" property="membershipName"/>
        <result column="MEMBERSHIP_CONTENT" property="membershipContent"/>
        <result column="MEMBERSHIP_PRICE" property="membershipPrice"/>
        <collection property="memItemList" resultMap="memItem"/>
    </resultMap>

    <resultMap id="memItem" type="com.green.hanbang.admin.vo.MemItemVO">
        <result column="MEM_CATE_CODE" property="memCateCode"/>
        <result column="MEMBERSHIP_CODE" property="membershipCode"/>
        <result column="ITEM_CODE" property="itemCode"/>
        <result column="ITEM_NAME" property="itemName"/>
        <result column="ITEM_PRICE" property="itemPrice"/>
        <result column="ITEM_CONTENT" property="itemContent"/>
        <result column="ITEM_INTRO" property="itemIntro"/>
    </resultMap>

<!--    일반 회원 조회 -->
    <select id="userManage" resultMap="manager">
        SELECT USER_NO
        , USER_NAME
        FROM MEMBER_USER
        WHERE LOGIN_TYPE = 'USER'
        <if test='userSearch != null and !userSearch.equals("")'>
            AND UPPER(USER_NAME) LIKE '%'||UPPER(#{userSearch})||'%'
        </if>
    </select>

<!--    일반 회원 상세 조회-->
    <select id="userDetail" resultMap="manager">
        SELECT MEM.USER_NO 
            , USER_NAME
            , PASSWORD
            , LOGIN_TYPE
            , NICK_NAME
            , PHONE
            , TO_CHAR(JOIN_DATE, 'YYYY-MM-DD') JOIN_DATE
        FROM MEMBER_USER MEM
        WHERE USER_NO = #{userNo}
    </select>

<!--  일반 회원 삭제 -->
    <delete id="deleteUser">
        DELETE MEMBER_USER
        WHERE USER_NO = #{userNo}
    </delete>

<!--    공인 중개사 조회 -->
    <select id="realManage" resultMap="manager">
        SELECT REALTOR_CODE
            , OFFICE_NAME
            , IDENTIFICATION_NUM
            , AUTHORITY
            , REAL.USER_NO
        FROM MEMBER_USER MEM, REALTOR_DETAIL REAL
        WHERE LOGIN_TYPE = 'REALTOR'
        AND REAL.USER_NO = MEM.USER_NO
        <if test='realSearch != null and !realSearch.equals("")'>
            AND UPPER(IDENTIFICATION_NUM) LIKE '%'||UPPER(#{realSearch})||'%'
        </if>
    </select>

<!-- 공인 중개사 상세 조회-->
    <select id="realDetail" resultMap="manager">
        SELECT REALTOR_CODE
            , OFFICE_NAME
            , IDENTIFICATION_NUM
            , LICENSE_FILE_NAME
            , AUTHORITY
            , USER_NO
            , TO_CHAR(REQUEST_DATE,'YYYY-MM-DD') REQUEST_DATE
        FROM REALTOR_DETAIL
        WHERE IDENTIFICATION_NUM = #{identificationNum}
    </select>

<!-- 공인 중개사 승인 -->
    <update id="updateAuthority">
        UPDATE REALTOR_DETAIL
        SET AUTHORITY = 'Y'
        WHERE EXISTS (SELECT AUTHORITY
                        FROM MEMBER_USER
                        WHERE LOGIN_TYPE = 'REALTOR'
                        AND REALTOR_CODE = #{realTorCode}
                      )

    </update>

<!-- 공인중개사 삭제   -->
    <delete id="deleteReal">
        DELETE REALTOR_DETAIL
        WHERE IDENTIFICATION_NUM = #{identificationNum}
    </delete>

<!--   공지사항 조회하기-->
    <select id="selectBoard" resultMap="board">
        SELECT BOARD_NUM
            , INFO_TITLE
            , TO_CHAR(INFO_REGDATE, 'YYYY-MM-DD') INFO_REGDATE
        FROM INFO_BOARD
        ORDER BY INFO_REGDATE DESC
    </select>

<!-- 공지사항 등록하기 -->
    <insert id="insertBoard" >
        INSERT INTO INFO_BOARD(
            BOARD_NUM
            , INFO_TITLE
            , INFO_CONTENT
        )VALUES (
            (SELECT NVL(MAX(BOARD_NUM),0)+1 FROM INFO_BOARD)
            , #{infoTitle}
            ,#{infoContent}
        )
    </insert>

<!--   공지사항 상세 조회-->
    <select id="detailBoard" resultMap="board">
        SELECT BOARD_NUM
            , INFO_TITLE
            , INFO_CONTENT
            , TO_CHAR(INFO_REGDATE, 'YYYY-MM-DD') INFO_REGDATE
        FROM INFO_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>

<!--   공지사항 수정-->
    <update id="updateBoard">
        UPDATE INFO_BOARD
        SET
            INFO_TITLE = #{infoTitle}
            , INFO_CONTENT= #{infoContent}
        WHERE BOARD_NUM= #{boardNum}
    </update>

<!--공지사항 삭제-->
    <delete id="deleteBoard">
        DELETE INFO_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </delete>

<!--    맴버쉽 카테고리 출력 (대분류)-->
    <select id="selectCategory" resultMap="memCate">
        SELECT MEM_CATE_CODE
            , MEM_CATE_NAME
        FROM MEMBERSHIP_CATEGORY
    </select>

<!-- 맵버쉽 카테고리 출력 (중분류)-->
    <select id="selectMidCategory" resultMap="membership">
        SELECT MEMBERSHIP_NAME
            , MEMBERSHIP_CODE
        FROM MEMBERSHIP_TABLE
        WHERE MEM_CATE_CODE = #{memCateCode}
    </select>

<!-- 맴버쉽 카테고리 출력 (소분류)-->
    <select id="selectItemCategory" resultMap="memItem">
        SELECT ITEM_NAME
            , ITEM_CODE
        FROM MEMITEM_TABLE
        WHERE MEMBERSHIP_CODE = #{membershipCode}
    </select>

<!-- 맴버쉽 상품의 세부 상품 조회 (중분류 && 소분류) -->
    <select id="selectMembershipItemList" resultMap="membership">
        SELECT MEMBERSHIP_NAME
            , MEMBERSHIP_CONTENT
            , MEMBERSHIP_PRICE
            , SHIP.MEMBERSHIP_CODE
            , CATE.MEM_CATE_CODE
            , ITEM_NAME
            , ITEM_PRICE
            , ITEM_INTRO
            , ITEM_CONTENT
            , ITEM_CODE
            , MEM_CATE_NAME
        FROM MEMBERSHIP_CATEGORY CATE, MEMBERSHIP_TABLE SHIP, MEMITEM_TABLE ITEM
        WHERE SHIP.MEM_CATE_CODE = CATE.MEM_CATE_CODE
        AND SHIP.MEMBERSHIP_CODE = ITEM.MEMBERSHIP_CODE(+)
        AND SHIP.MEM_CATE_CODE = #{memCateCode}

    </select>

<!-- 맴버쉽 아이템 상세 조회   -->
    <select id="membershipDetail" resultMap="memCate">
        SELECT MEMBERSHIP_NAME
            , MEMBERSHIP_CONTENT
            , MEMBERSHIP_PRICE
            , SHIP.MEMBERSHIP_CODE
            , CATE.MEM_CATE_CODE
            , ITEM_NAME
            , ITEM_PRICE
            , ITEM_INTRO
            , ITEM_CONTENT
            , ITEM_CODE
            , MEM_CATE_NAME
        FROM MEMBERSHIP_CATEGORY CATE, MEMBERSHIP_TABLE SHIP, MEMITEM_TABLE ITEM
        WHERE SHIP.MEM_CATE_CODE = CATE.MEM_CATE_CODE
        AND SHIP.MEMBERSHIP_CODE = ITEM.MEMBERSHIP_CODE(+)
        AND SHIP.MEM_CATE_CODE = #{memCateCode}
        AND SHIP.MEMBERSHIP_CODE = #{membershipCode}
        <if test="itemCode != null">
            AND ITEM.ITEM_CODE = #{itemCode}
        </if>
    </select>

<!--    맴버쉽 아이템 등록하기 (1) : 대분류 등록-->
    <insert id="insertCategory">
        INSERT INTO MEMBERSHIP_CATEGORY(
            MEM_CATE_CODE
            , MEM_CATE_NAME
        ) VALUES (
            #{memCateCode}
            , #{memCateName}
        )
    </insert>

    <!--    맴버쉽 아이템 등록하기 (2) : 중분류 등록-->
    <insert id="insertMidCategory">
        INSERT INTO MEMBERSHIP_TABLE(
            MEMBERSHIP_CODE
            , MEMBERSHIP_NAME
            , MEMBERSHIP_CONTENT
            , MEMBERSHIP_PRICE
            , MEM_CATE_CODE
        ) VALUES (
            #{membershipCode}
            , #{membershipName}
            , #{membershipContent}
            , #{membershipPrice}
            , #{memCateCode}
        )
    </insert>

    <!--    맴버쉽 아이템 등록하기 (3) : 소분류 등록-->
    <insert id="insertItem">
        INSERT INTO ITEM_TABLE(
            ITEM_CODE
            , ITEM_NAME
            , ITEM_CONTENT
            , ITEM_INTRO
            , ITEM_PRICE
            , MEMBERSHIP_CODE
        ) VALUES (
            #{itemCode}
            , #{itemName}
            , #{itemContent}
            , #{itemIntro}
            , #{itemPrice}
            , #{membershipCode}
        )
    </insert>

<!--    코드 생성하기 -->
    <select id="selectNextCateCode" resultType="String">
        SELECT 'CATE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MEM_CATE_CODE, 6))), 0) + 1, 3, '0')
        FROM MEMBERSHIP_CATEGORY
    </select>
    <select id="selectNextMembershipCode" resultType="String">
        SELECT 'MEMBERSHIP_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MEMBERSHIP_CODE, 6))), 0) + 1, 3, '0')
        FROM MEMBERSHIP_TABLE
    </select>
    <select id="selectNextItemCode" resultType="String">
        SELECT 'ITEM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ITEM_CODE, 6))), 0) + 1, 3, '0')
        FROM ITEM_TABLE
    </select>

</mapper>































