<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inquiryMapper">
    <resultMap id="memberInquiry" type="com.green.hanbang.member.vo.MemberInquiryVO">
        <id column="MEMBER_INQUIRY_WRITE_NO"            property="memberInquiryWriteNo"/>
        <result column="MEMBER_INQUIRY_CODE"            property="memberInquiryCode"/>
        <result column="MEMBER_INQUIRY_TITLE"           property="memberInquiryTitle"/>
        <result column="MEMBER_INQUIRY_DETAIL"          property="memberInquiryDetail"/>
        <result column="MEMBER_INQUIRY_WRITE_DATE"      property="memberInquiryWriteDate"/>
        <result column="USER_NO"                        property="userNo"/>
        <result column="INQUIRY_ST_CODE"                property="inquiryStCode"/>
        <collection property="memberInquiryImgVOList"   resultMap="memberInquiryImg"/>
        <collection property="memberInquiryTypeVO"      resultMap="memberInquiryType"/>
        <collection property="inquiryStatusVO"          resultMap="inquiryStatus"/>
    </resultMap>

    <resultMap id="memberInquiryImg" type="com.green.hanbang.member.vo.MemberInquiryImgVO">
        <id column="MEMBER_INQUIRY_IMG_NO"                  property="memberInquiryImgNo"/>
        <result column="MEMBER_INQUIRY_WRITE_NO"            property="memberInquiryWriteNo"/>
        <result column="MEMBER_INQUIRY_IMG_NAME"            property="memberInquiryImgName"/>
        <result column="MEMBER_ATTACHED_INQUIRY_IMG_NAME"   property="memberAttachedInquiryImgName"/>
    </resultMap>

    <resultMap id="memberInquiryType" type="com.green.hanbang.member.vo.MemberInquiryTypeVO">
        <id column="MEMBER_INQUIRY_CODE"            property="memberInquiryCode"/>
        <result column="MEMBER_INQUIRY_NAME"        property="memberInquiryName"/>
    </resultMap>

    <resultMap id="inquiryStatus" type="com.green.hanbang.member.vo.InquiryStatusVO">
        <id column="INQUIRY_ST_CODE"    property="inquiryStCode"/>
        <result column="STATUS_NAME"    property="statusName"/>
    </resultMap>

    <!-- 다음 문의 작성 번호를 조회 -->
    <select id="selectNextInquiryNumber" resultType="String">
        SELECT ('INQ_WR_'|| LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MEMBER_INQUIRY_WRITE_NO, 8))), 0) + 1, 3, '0')) AS MEMBER_INQUIRY_WRITE_NO
        FROM MEMBER_INQUIRY_WRITE
    </select>

    <!-- 문의 유형 목록 조회 -->
    <select id="selectMemberInquiryTypeList" resultMap="memberInquiryType">
        SELECT
            MEMBER_INQUIRY_CODE
            , MEMBER_INQUIRY_NAME
        FROM
            MEMBER_INQUIRY_TYPE
        ORDER BY
            MEMBER_INQUIRY_CODE
    </select>

    <!-- 상태 불러오기 -->
    <select id="selectStatus" resultMap="inquiryStatus">
        SELECT INQUIRY_ST_CODE
            , STATUS_NAME
        FROM
            INQUIRY_STATUS
        WHERE
            INQUIRY_ST_CODE = #{inquiryStCode}
    </select>

    <!-- 문의 작성 삽입 -->
    <insert id="insertMemberInquiry">
        INSERT INTO MEMBER_INQUIRY_WRITE (
        MEMBER_INQUIRY_WRITE_NO,
        MEMBER_INQUIRY_CODE,
        MEMBER_INQUIRY_TITLE,
        MEMBER_INQUIRY_DETAIL,
        USER_NO,
        INQUIRY_ST_CODE
        )
        VALUES (
        (SELECT 'INQ_WR_'|| LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MEMBER_INQUIRY_WRITE_NO, 8))), 0) + 1, 3, '0')
        FROM MEMBER_INQUIRY_WRITE),
        #{memberInquiryCode},
        #{memberInquiryTitle},
        #{memberInquiryDetail},
        #{userNo},
        'ST_01'
        )
    </insert>

    <!-- 문의 작성 이미지 파일 삽입 -->
    <insert id="insertMemberInquiryImg">
        INSERT INTO MEMBER_INQUIRY_IMG (
            MEMBER_INQUIRY_IMG_NO
            , MEMBER_INQUIRY_WRITE_NO
            , MEMBER_INQUIRY_IMG_NAME
            , MEMBER_ATTACHED_INQUIRY_IMG_NAME
        )
        <foreach collection="inquiryImgList" item="inquiryImg" separator="UNION ALL" index="idx">
            (SELECT 'INQ_IMG_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(MEMBER_INQUIRY_IMG_NO, 9))), 0) + 1, 3, '0')
            FROM MEMBER_INQUIRY_IMG)
            , #{inquiryImg.memberInquiryImgNo}
            , #{inquiryImg.memberInquiryWriteNo}
            , #{inquiryImg.memberInquiryImgName}
            , #{inquiryImg.memberAttachedInquiryImgName}
        FROM DUAL
        </foreach>
    </insert>

    <!-- 문의 내역 목록 조회 -->
    <select id="selectMemberInquiryList" resultMap="memberInquiry">
    SELECT MIT.MEMBER_INQUIRY_NAME
        , MEMBER_INQUIRY_TITLE
        , MEMBER_INQUIRY_WRITE_DATE
        , MIW.MEMBER_INQUIRY_CODE
        , MIW.USER_NO
        , STATUS_NAME
    FROM
        MEMBER_INQUIRY_WRITE MIW
    JOIN
        MEMBER_INQUIRY_TYPE MIT
    ON
        MIW.MEMBER_INQUIRY_CODE = MIT.MEMBER_INQUIRY_CODE
    JOIN
        INQUIRY_STATUS IST
    ON
        MIW.INQUIRY_ST_CODE = IST.INQUIRY_ST_CODE
    WHERE
        MIW.USER_NO = #{userNo}
    </select>

    <!-- 문의 내역 상세 조회 -->
    <select id="selectInquiryDetail" resultMap="memberInquiry">
        SELECT MEMBER_INQUIRY_CODE
            , MEMBER_INQUIRY_TITLE
            , MEMBER_INQUIRY_DETAIL
            , MEMBER_INQUIRY_WRITE_DATE
            , MIW.USER_NO
            , MIW.MEMBER_INQUIRY_CODE
            , MIT.MEMBER_INQUIRY_NAME
            , MII.MEMBER_INQUIRY_IMG_NO
            , MII.MEMBER_INQUIRY_IMG_NAME
            , MII.MEMBER_ATTACHED_INQUIRY_IMG_NAME
            , MIW.MEMBER_INQUIRY_CODE
        FROM
            MEMBER_INQUIRY_WRITE MIW
        JOIN
            MEMBER_INQUIRY_TYPE MIT
        ON
            MIW.MEMBER_INQUIRY_CODE = MIT.MEMBER_INQUIRY_CODE
        JOIN
            MEMBER_INQUIRY_IMG MII
        ON
            MIW.MEMBER_INQUIRY_WRITE_NO = MII.MEMBER_INQUIRY_WRITE_NO
        JOIN
            INQUIRY_STATUS IS
        ON
            MIW.INQUIRY_ST_CODE = IS.INQUIRY_ST_CODE
        WHERE
            MIW.USER_NO = #{userNo};
    </select>

</mapper>