<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="itemMapper">
    <resultMap id="buy" type="com.green.hanbang.item.vo.BuyVO">
        <id column="BUY_CODE"           property="buyCode"/>
        <result column="ITEM_CODE"      property="itemCode"/>
        <result column="USER_NO"        property="userNo"/>
        <result column="BUY_PRICE"      property="buyPrice"/>
        <result column="BUY_DATE"       property="buyDate"/>
    </resultMap>

    <resultMap id="package" type="com.green.hanbang.item.vo.PackageItemVO">
        <id column="PACKAGE_CODE"            property="packageCode"></id>
        <result column="BUY_CODE"               property="buyCode"/>
        <result column="ITEM_CODE"              property="itemCode"/>
        <result column="USER_NO"                property="userNo"/>
        <result column="START_DATE"             property="startDate"/>
        <result column="END_DATE"               property="endDate"/>
        <result column="GENERAL_PRODUCT_CNT"    property="generalProductCnt"/>
        <result column="PLUS_SEASON_CNT"        property="plusSeasonCnt"/>
        <result column="PLUS_DAY_CNT"           property="plusDayCnt"/>
        <result column="IS_VALID"               property="isValid"/>
        <result column="MEM_CATE_CODE"          property="memCateCode"/>
        <result column="MEM_CATE_NAME"          property="memCateName"/>
        <result column="MEMBERSHIP_NAME"        property="membershipName"/>
        <result column="ITEM_NAME"              property="itemName"/>
    </resultMap>

    <resultMap id="general" type="com.green.hanbang.item.vo.GeneralItemVO">
        <id column="GENERAL_CODE"            property="generalCode"/>
        <result column="BUY_CODE"               property="buyCode"/>
        <result column="ITEM_CODE"              property="itemCode"/>
        <result column="USER_NO"                property="userNo"/>
        <result column="START_DATE"             property="startDate"/>
        <result column="END_DATE"               property="endDate"/>
        <result column="GENERAL_PRODUCT_CNT"    property="generalProductCnt"/>
        <result column="IS_VALID"               property="isValid"/>
        <result column="MEM_CATE_CODE"          property="memCateCode"/>
        <result column="MEM_CATE_NAME"          property="memCateName"/>
        <result column="MEMBERSHIP_NAME"        property="membershipName"/>
        <result column="ITEM_NAME"              property="itemName"/>
    </resultMap>

    <resultMap id="plus" type="com.green.hanbang.item.vo.PlusItemVO">
        <id column="PLUS_CODE"            property="plusCode"></id>
        <result column="BUY_CODE"               property="buyCode"/>
        <result column="ITEM_CODE"              property="itemCode"/>
        <result column="USER_NO"                property="userNo"/>
        <result column="START_DATE"             property="startDate"/>
        <result column="END_DATE"               property="endDate"/>
        <result column="PLUS_TYPE"              property="plusType"/>
        <result column="IS_VALID"               property="isValid"/>
        <result column="MEM_CATE_CODE"          property="memCateCode"/>
        <result column="MEM_CATE_NAME"          property="memCateName"/>
        <result column="MEMBERSHIP_NAME"        property="membershipName"/>
        <result column="ITEM_NAME"              property="itemName"/>
    </resultMap>

<!--    buyCode 생성 쿼리 -->
    <select id="selectNextBuyCode" resultType="String" >
        SELECT 'BUY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(BUY_CODE, 5))), 0) + 1, 3, '0')
        FROM BUY_ITEM
    </select>

<!--   아이템 구매 -->
    <insert id="goBuyItem">
        INSERT INTO BUY_ITEM (
            BUY_CODE
            , USER_NO
            , ITEM_CODE
            , BUY_PRICE
        )VALUES(
            #{buyCode}
            ,#{userNo}
            ,#{itemCode}
            ,#{buyPrice}
        )
    </insert>

<!--   PackageDetailCode 생성 쿼리-->
    <select id="selectNextPackageDetailCode" resultType="String" >
        SELECT 'PACKAGE_DETAIL_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(PACKAGE_CODE, 17))), 0) + 1, 3, '0')
        FROM PACKAGE_ITEM
    </select>

    <!--    페키지 아이템 구매 -->
    <insert id="buyPackageItem">
        INSERT INTO PACKAGE_ITEM(
            PACKAGE_CODE
            , BUY_CODE
            , ITEM_CODE
            , USER_NO
            , END_DATE
            , GENERAL_PRODUCT_CNT
            , PLUS_SEASON_CNT
            , PLUS_DAY_CNT
            , IS_VALID
        )VALUES(
            #{packageCode}
            , #{buyCode}
            , #{itemCode}
            , #{userNo}
            , ADD_MONTHS(SYSDATE, DECODE(SUBSTR(#{itemCode}, 8), 1, 6, 2, 3, 3, 2, 4, 1, 5, 6, 6, 3, 7, 2, 8, 1, 9, 6, 10, 3) )
            , 10
            , DECODE(SUBSTR(#{itemCode}, 8), 1, 10, 2, 5, 3, 5, 4, 2, 5, 10 , 6, 5, 7, 5 , 8, 2, 9, 2, 10, 2)
            , DECODE(SUBSTR(#{itemCode}, 8), 1, 50, 2, 20, 3, 15, 4, 10, 5, 50, 6, 20, 7, 15, 8, 10, 9, 8, 10, 8)
            , 'Y'
        )
    </insert>

    <!--   GeneralDetailCode 생성 쿼리-->
    <select id="selectNextGeneralDetailCode" resultType="String" >
        SELECT 'GENERAL_DETAIL_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(GENERAL_CODE, 17))), 0) + 1, 3, '0')
        FROM GENERAL_ITEM
    </select>

    <!--    일반 상품 구매-->
    <insert id="buyGeneralItem">
        INSERT INTO GENERAL_ITEM(
            GENERAL_CODE
            , BUY_CODE
            , ITEM_CODE
            , USER_NO
            , END_DATE
            , GENERAL_PRODUCT_CNT
            , IS_VALID
        )VALUES(
            #{generalCode}
            ,#{buyCode}
            ,#{itemCode}
            ,#{userNo}
            , SYSDATE + 30
            , DECODE(SUBSTR(#{itemCode}, 8), 1, 10, 2, 5, 3, 5)
            , 'Y'
        )
    </insert>

    <!--   plusDetailCode 생성 쿼리-->
    <select id="selectNextPlusDetailCode" resultType="String" >
        SELECT 'PLUS_DETAIL_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(PLUS_CODE, 15))), 0) + 1, 3, '0')
        FROM PLUS_ITEM
    </select>

<!--    플러스 상품 구매-->
    <insert id="buyPlusItem">
        INSERT INTO PLUS_ITEM(
            PLUS_CODE
            , ITEM_CODE
            , BUY_CODE
            , USER_NO
            , PLUS_TYPE
            , END_DATE
            , IS_VALID
        )VALUES(
            #{plusCode}
            ,#{itemCode}
            ,#{buyCode}
            ,#{userNo}
            ,DECODE(SUBSTR(#{itemCode}, 8), 4,'S',5,'D')
            ,DECODE(SUBSTR(#{itemCode}, 8), 4, SYSDATE + 30, 5, SYSDATE + 1)
            , 'Y'
        )
    </insert>

    <select id="selectPackageItemList" resultMap="package">
        SELECT BUY_CODE
            , END_DATE
            , GENERAL_PRODUCT_CNT
            , PLUS_SEASON_CNT
            , PLUS_DAY_CNT
            , IS_VALID
            , PACKAGE_CODE
            , USER_NO
            , (SELECT MEM_CATE_CODE
                FROM MEMITEM_TABLE
                WHERE ITEM_CODE = PACKAGE_ITEM.ITEM_CODE) MEM_CATE_CODE
            , (SELECT MEM_CATE_NAME
                FROM MEMBERSHIP_CATEGORY
                WHERE MEM_CATE_CODE = (SELECT MEM_CATE_CODE
                                        FROM MEMITEM_TABLE
                                        WHERE ITEM_CODE = PACKAGE_ITEM.ITEM_CODE)) MEM_CATE_NAME
            , (SELECT MEMBERSHIP_NAME
                FROM MEMBERSHIP_TABLE
                WHERE MEMBERSHIP_CODE = (SELECT MEMBERSHIP_CODE
                                            FROM MEMITEM_TABLE
                                            WHERE ITEM_CODE = PACKAGE_ITEM.ITEM_CODE)) MEMBERSHIP_NAME
            , (SELECT ITEM_NAME
                FROM MEMITEM_TABLE
                WHERE ITEM_CODE = PACKAGE_ITEM.ITEM_CODE) ITEM_NAME
        FROM PACKAGE_ITEM
        WHERE USER_NO = #{userNo}
        ORDER BY END_DATE ASC
    </select>

    <select id="selectGeneralItemList" resultMap="general">
        SELECT BUY_CODE
            , END_DATE
            , GENERAL_PRODUCT_CNT
            , USER_NO
            , IS_VALID
        , (SELECT MEM_CATE_CODE
            FROM MEMITEM_TABLE
            WHERE ITEM_CODE = GENERAL_ITEM.ITEM_CODE) MEM_CATE_CODE
        , (SELECT MEM_CATE_NAME
            FROM MEMBERSHIP_CATEGORY
            WHERE MEM_CATE_CODE = (SELECT MEM_CATE_CODE
                                    FROM MEMITEM_TABLE
                                    WHERE ITEM_CODE = GENERAL_ITEM.ITEM_CODE)) MEM_CATE_NAME
        , (SELECT MEMBERSHIP_NAME
            FROM MEMBERSHIP_TABLE
            WHERE MEMBERSHIP_CODE = (SELECT MEMBERSHIP_CODE
                                        FROM MEMITEM_TABLE
                                        WHERE ITEM_CODE = GENERAL_ITEM.ITEM_CODE)) MEMBERSHIP_NAME
        , (SELECT ITEM_NAME
            FROM MEMITEM_TABLE
            WHERE ITEM_CODE = GENERAL_ITEM.ITEM_CODE) ITEM_NAME
        FROM GENERAL_ITEM
        WHERE USER_NO = #{userNo}
        ORDER BY END_DATE ASC
    </select>

    <select id="selectPlusItemList" resultMap="plus">
        SELECT BUY_CODE
            , END_DATE
            , PLUS_TYPE
            , USER_NO
            , IS_VALID
            , (SELECT MEM_CATE_CODE
                FROM MEMITEM_TABLE
                WHERE ITEM_CODE = PLUS_ITEM.ITEM_CODE) MEM_CATE_CODE
            , (SELECT MEM_CATE_NAME
                FROM MEMBERSHIP_CATEGORY
                WHERE MEM_CATE_CODE = (SELECT MEM_CATE_CODE
                                        FROM MEMITEM_TABLE
                                        WHERE ITEM_CODE = PLUS_ITEM.ITEM_CODE)) MEM_CATE_NAME
            , (SELECT MEMBERSHIP_NAME
                FROM MEMBERSHIP_TABLE
                WHERE MEMBERSHIP_CODE = (SELECT MEMBERSHIP_CODE
                                            FROM MEMITEM_TABLE
                                            WHERE ITEM_CODE = PLUS_ITEM.ITEM_CODE)) MEMBERSHIP_NAME
            , (SELECT ITEM_NAME
                FROM MEMITEM_TABLE
                WHERE ITEM_CODE = PLUS_ITEM.ITEM_CODE) ITEM_NAME

        FROM PLUS_ITEM
        WHERE USER_NO = #{userNo}
        ORDER BY END_DATE ASC
    </select>

</mapper>































