<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
    <resultMap id="member" type="com.green.hanbang.member.vo.MemberVO">
        <id column="USER_NO"                            property="userNo"/>
        <result column="USER_NAME"                      property="userName"/>
        <result column="PASSWORD"                       property="passWord"/>
        <result column="LOGIN_TYPE"                     property="loginType"/>
        <result column="PHONE"                          property="phone"/>
        <result column="NICK_NAME"                      property="nickName"/>
        <result column="JOIN_DATE"                      property="joinDate"/>
        <association property="realtorDetailVO"         resultMap="realtorMapper.realtorDetail"/>

    </resultMap>

    <resultMap id="memberImg" type="com.green.hanbang.member.vo.MemberImgVO">
        <id column="PROFILE_IMG_NO"                 property="profileImgNo" />
        <result column="USER_NO"                    property="userNo" />
        <result column="PROFILE_IMG_NAME"           property="profileImgName" />
        <result column="ATTACHED_PROFILE_IMG_NAME"  property="attachedProfileImgName" />
    </resultMap>

    <!-- 회원 가입 -->
    <insert id="join">
        INSERT INTO MEMBER_USER (
            USER_NO
            , USER_NAME
            , PASSWORD
            , LOGIN_TYPE
            , NICK_NAME
        ) VALUES (
            (SELECT 'USER_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(USER_NO, 6))), 0) + 1, 3, '0')
            FROM MEMBER_USER)
            , #{userName}
            , #{passWord}
            , #{loginType}
            , #{nickName}
        )
    </insert>

    <!-- 프로필 이미지 등록 -->
    <insert id="insertProImg">
        INSERT INTO MEMBER_IMG (
            PROFILE_IMG_NO
            , PROFILE_IMG_NAME
            , ATTACHED_PROFILE_IMG_NAME
            , USER_NO
        ) VALUES (
            (SELECT 'PRO_IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(PROFILE_IMG_NO, 9))), 0) + 1, 3, '0')
            FROM MEMBER_IMG)
            , #{profileImgName}
            , #{attachedProfileImgName}
            , #{userNo}
        )
    </insert>

    <!-- 로그인 -->
    <select id="login" resultMap="member">
        SELECT
            MU.USER_NO
            , MU.USER_NAME
            , MU.LOGIN_TYPE
            , MU.NICK_NAME
            , MU.PHONE
            , MI.PROFILE_IMG_NO
            , MI.PROFILE_IMG_NAME
            , MI.ATTACHED_PROFILE_IMG_NAME
        FROM
            MEMBER_USER MU
        LEFT JOIN
            MEMBER_IMG MI
        ON
            MU.USER_NO = MI.USER_NO
        WHERE USER_NAME = #{userName}
              AND PASSWORD = #{passWord}
    </select>

    <!-- 회원 정보 조회 -->
    <select id="selectUserInfo" resultMap="member">
        SELECT
            MU.USER_NO
            , MU.USER_NAME
            , MU.LOGIN_TYPE
            , MU.NICK_NAME
            , MU.PHONE
            , MI.PROFILE_IMG_NO
            , MI.PROFILE_IMG_NAME
            , MI.ATTACHED_PROFILE_IMG_NAME
        FROM
            MEMBER_USER MU
        LEFT JOIN
            MEMBER_IMG MI
        ON
            MU.USER_NO = MI.USER_NO
        WHERE
            MU.USER_NO = #{userNo}
    </select>

    <!-- 아이디 중복 확인 -->
    <select id="userNameCheck" resultType="String">
        SELECT USER_NAME
        FROM MEMBER_USER
        WHERE USER_NAME = #{userName}
    </select>

    <!-- 회원 탈퇴 기능 -->
    <delete id="memberDelete">
        DELETE FROM MEMBER_USER
        WHERE USER_NAME = #{userName}
    </delete>

    <!-- 비밀번호 변경 (회원 정보 수정의 경우) -->
    <update id="updatePassword">
        UPDATE FROM MEMBER_USER
        SET PASSWORD = #{passWord}
        WHERE USER_NAME = #{userName}
    </update>

    <!-- 회원 번호 조회 -->
    <select id="selectUserNo" resultType="String">
        SELECT
        'USER_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(USER_NO, 6))), 0) + 0, 3, '0') AS NEW_USER_NO
        FROM MEMBER_USER
    </select>

    <!-- 프로필 이미지 불러오기 -->
    <select id="profileImgLoad" resultMap="memberImg">
        SELECT MI.USER_NO
        , PROFILE_IMG_NO
        , PROFILE_IMG_NAME
        , ATTACHED_PROFILE_IMG_NAME
        FROM MEMBER_USER MU
        LEFT JOIN MEMBER_IMG MI
        ON MU.USER_NO = MI.USER_NO
        WHERE MU.USER_NO = #{userNo}
    </select>

</mapper>