<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
    <resultMap id="member" type="com.green.hanbang.member.vo.MemberVO">
        <id column="USER_NO"                            property="userNo"/>
        <result column="USER_NAME"                      property="userName"/>
        <result column="PASSWORD"                       property="passWord"/>
        <result column="LOGIN_TYPE"                     property="loginType"/>
        <result column="PHONE"                          property="phone"/>
        <result column="NICK_NAME"                      property="nickName"/>
        <result column="JOIN_DATE"                      property="joinDate"/>
        <association property="realtorDetailVO"         resultMap="realtorMapper.realtorDetail"/>
        <collection property="memberList"               resultMap="memberImg"/>
    </resultMap>

    <resultMap id="memberImg" type="com.green.hanbang.member.vo.MemberImgVO">
        <id column="PROFILE_IMG_NO" property="imgNo" />
        <result column="USER_NO" property="userNo" />
        <result column="PROFILE_IMG_NAME" property="imgName" />
        <result column="ATTACHED_PROFILE_IMG_NAME" property="attachedImgName" />
    </resultMap>

    <!-- 회원 가입 -->
    <insert id="join">
        INSERT INTO MEMBER_USER (
            USER_NO
            , USER_NAME
            , PASSWORD
            , LOGIN_TYPE
            , NICK_NAME
        ) VALUES (
            (SELECT NVL(MAX(USER_NO)+1, 0)
            FROM MEMBER_USER)
            , #{userName}
            , #{passWord}
            , #{loginType}
            , #{nickName}
        )
    </insert>

    <!-- 프로필 이미지 불러오기 -->
    <select id="profileImgLoad" resultMap="memberImg">
        SELECT MI.USER_NO
        , PROFILE_IMG_NO
        , PROFILE_IMG_NAME
        , ATTACHED_PROFILE_IMG_NAME
        FROM MEMBER_USER MU
        LEFT JOIN MEMBER_IMG MI
        ON MU.USER_NO = MI.USER_NO
        WHERE MU.USER_NO = #{userNo}
    </select>

    <!-- 프로필 이미지 수정-->
    <update id="updateProImg">
        UPDATE FROM MEMBER_USER
        INNER JOIN MEMBER_IMG MI
        ON USER_NO = MI.USER_NO
        SET PROFILE_IMG_NAME = #{profile_img_name}
            , ATTACHED_PROFILE_IMG_NAME = #{attached_profile_img_name}
        WHERE PROFILE_IMG_NO = #{profile_img_no}
    </update>

    <!-- 로그인 -->
    <select id="login" resultMap="member">
        SELECT USER_NO
        , USER_NAME
        , LOGIN_TYPE
        , NICK_NAME
        FROM MEMBER_USER
        WHERE USER_NAME = #{userName}
        AND PASSWORD = #{passWord}
    </select>

    <!-- 아이디 중복 확인 -->
    <select id="userNameCheck" resultType="String">
        SELECT USER_NAME
        FROM MEMBER_USER
        WHERE USER_NAME = #{userName}
    </select>

    <!-- 회원 탈퇴 기능 -->
    <delete id="memberDelete">
        DELETE FROM MEMBER_USER
        WHERE USER_NAME = #{userName}
    </delete>

    <!-- 비밀번호 변경 (회원 정보 수정의 경우) -->
    <update id="updatePassword">
        UPDATE FROM MEMBER_USER
        SET PASSWORD = #{passWord}
        WHERE USER_NAME = #{userName}
    </update>

</mapper>