<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 복사해서 사용 -->
<mapper namespace="roomMapper">
    <!--옵션 resultMap-->
    <resultMap id="options" type="com.green.hanbang.room.vo.OptionsVO">
        <id column="OPTION_CODE" property="optionCode"/>
        <result column="OPTION_NAME" property="optionName"/>
        <collection property="detailOptionList" resultMap="detailOptions"/>
    </resultMap>

    <!--상세옵션 resultMap-->
    <resultMap id="detailOptions" type="com.green.hanbang.room.vo.DetailOptionsVO">
        <id column="DETAIL_OPTION_CODE" property="detailOptionCode"/>
        <result column="DETAIL_OPTION_NAME" property="detailOptionName"/>
        <result column="OPTION_CODE" property="optionCode"/>
    </resultMap>

    <!--매물유형 대분류 resultMap-->
    <resultMap id="propertyType" type="com.green.hanbang.room.vo.PropertyTypeVO">
        <id column="PROPERTY_TYPE_CODE" property="propertyTypeCode"/>
        <result column="PROPERTY_TYPE_NAME" property="propertyTypeName"/>
        <collection property="subPropertyTypeList" resultMap="subPropertyType"/>
    </resultMap>

    <!--매물유형 소분류 resultMap-->
    <resultMap id="subPropertyType" type="com.green.hanbang.room.vo.SubPropertyTypeVO">
        <id column="SUB_PROPERTY_TYPE_CODE" property="subPropertyTypeCode"/>
        <result column="SUB_PROPERTY_TYPE_NAME" property="subPropertyTypeName"/>
        <result column="PROPERTY_TYPE_CODE" property="propertyTypeCode"/>
    </resultMap>

    <!--전월세 resultMap-->
    <resultMap id="tradeType" type="com.green.hanbang.room.vo.TradeTypeVO">
        <result column="TRADE_TYPE_CODE" property="tradeTypeCode"/>
        <result column="TRADE_TYPE_NAME" property="tradeTypeName"/>
    </resultMap>

    <!--room resultMap-->
    <resultMap id="room" type="com.green.hanbang.room.vo.RoomVO">
        <id column="ROOM_CODE" property="roomCode"/>
        <result column="PROPERTY_TYPE_CODE" property="propertyTypeCode"/>
        <result column="SUB_PROPERTY_TYPE_CODE" property="subPropertyTypeCode"/>
        <result column="ROOM_SIZE_P" property="roomSizeP"/>
        <result column="ROOM_SIZE_M" property="roomSizeM"/>
        <result column="FLOOR" property="floor"/>
        <result column="TRADE_TYPE_CODE" property="tradeTypeCode"/>
        <result column="MONTHLY_LEASE" property="monthlyLease"/>
        <result column="DEPOSIT" property="deposit"/>
        <result column="JEONSE_COST" property="jeonseCost"/>
        <result column="MAINTENANCE_COST" property="maintenanceCost"/>
        <result column="DETAIL_OPTIONS" property="detailOptions"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="USER_NO" property="userNo"/>
        <association property="roomAddrVO" resultMap="roomAddr"/>
        <collection property="imgList" resultMap="roomImg"/>
    </resultMap>

    <!--room이미지 resultMap-->
    <resultMap id="roomImg" type="com.green.hanbang.room.vo.RoomIMGVO">
        <id column="IMG_CODE" property="imgCode"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="ROOM_CODE" property="roomCode"/>
        <result column="IS_MAIN" property="isMain"/>
    </resultMap>

    <resultMap id="roomAddr" type="com.green.hanbang.room.vo.RoomAddrVO">
        <id column="ADDR_CODE" property="addrCode"/>
        <result column="ADDR" property="addr"/>
        <result column="DETAIL_ADDR" property="detailAddr"/>
        <result column="COORDINATE_X" property="coordinateX"/>
        <result column="COORDINATE_Y" property="coordinateY"/>
        <result column="ROOM_CODE" property="roomCode"/>
    </resultMap>

    <!--option select-->
    <select id="selectOptions" resultMap="options">
        SELECT OP.OPTION_CODE
        , OPTION_NAME
        , DETAIL_OPTION_CODE
        , DETAIL_OPTION_NAME
        FROM OPTIONS OP, DETAIL_OPTIONS DTOP
        WHERE OP.OPTION_CODE = DTOP.OPTION_CODE
    </select>
    <!--매물 유형 셀렉트-->
    <select id="selectProperty" resultMap="propertyType">
        SELECT PT.PROPERTY_TYPE_CODE
        , PROPERTY_TYPE_NAME
        , SUB_PROPERTY_TYPE_CODE
        , SUB_PROPERTY_TYPE_NAME
        FROM PROPERTY_TYPE PT, SUB_PROPERTY_TYPE SPT
        WHERE PT.PROPERTY_TYPE_CODE = SPT.PROPERTY_TYPE_CODE
    </select>
    <!--전월세 셀렉트-->
    <select id="selectTradeType" resultMap="tradeType">
        SELECT TRADE_TYPE_CODE
        , TRADE_TYPE_NAME
        FROM TRADE_TYPE
    </select>

    <select id="selectNextRoomCode" resultType="String">
        SELECT
        'ROOM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ROOM_CODE,7))),0)+1, 4, '0')
        FROM ROOM
    </select>

    <!--매물 insert-->
    <insert id="insertRoom">
        INSERT INTO ROOM(
        ROOM_CODE
        , PROPERTY_TYPE_CODE
        , SUB_PROPERTY_TYPE_CODE
        , ROOM_SIZE_P
        , ROOM_SIZE_M
        , FLOOR
        , TRADE_TYPE_CODE
        , MONTHLY_LEASE
        , DEPOSIT
        , JEONSE_COST
        , MAINTENANCE_COST
        , DETAIL_OPTIONS
        , TITLE
        , CONTENT
        , USER_NO
        )VALUES(
        (SELECT 'ROOM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ROOM_CODE,7))),0)+1, 4, '0') FROM ROOM)
        , #{propertyTypeCode}
        , #{subPropertyTypeCode}
        , #{roomSizeP}
        , #{roomSizeM}
        , #{floor}
        , #{tradeTypeCode}
        , #{monthlyLease}
        , #{deposit}
        , #{jeonseCost}
        , #{maintenanceCost}
        , #{detailOptions}
        , #{title}
        , #{content}
        , #{userNo}
        )
    </insert>
    <!--이미지 insert-->
    <insert id="insertRoomImg">
        INSERT INTO ROOM_IMG(
        IMG_CODE
        , ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        , ROOM_CODE
        , IS_MAIN
        )
        <foreach collection="imgList" item="img" separator="UNION ALL" index="idx">
            SELECT (SELECT 'IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE, 5))), 0) + 1 + #{idx}, 3, '0')
            FROM ROOM_IMG)
            , #{img.originFileName}
            , #{img.attachedFileName}
            , #{img.roomCode}
            , #{img.isMain}
            FROM DUAL
        </foreach>
    </insert>

    <insert id="addrInsert" parameterType="com.green.hanbang.room.vo.RoomAddrVO" >
        INSERT INTO ROOM_ADDR(
        ADDR_CODE
        , ADDR
        , DETAIL_ADDR
        , COORDINATE_X
        , COORDINATE_y
        , ROOM_CODE
        )VALUES(
          (SELECT
            'ADDR_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ADDR_CODE,6))),0)+1, 3, '0')
            FROM ROOM_ADDR)
            , #{roomAddrVO.addr}
            , #{roomAddrVO.detailAddr}
            , #{roomAddrVO.coordinateX}
            , #{roomAddrVO.coordinateY}
            , #{roomAddrVO.roomCode}
        )
    </insert>

    <!--방조회-->
    <select id="selectRoom" resultMap="room">
        SELECT
        R.ROOM_CODE,
        R.PROPERTY_TYPE_CODE,
        R.SUB_PROPERTY_TYPE_CODE,
        R.ROOM_SIZE_P,
        R.ROOM_SIZE_M,
        R.FLOOR,
        R.TRADE_TYPE_CODE,
        R.MONTHLY_LEASE,
        R.DEPOSIT,
        R.JEONSE_COST,
        R.MAINTENANCE_COST,
        R.DETAIL_OPTIONS,
        R.TITLE,
        R.CONTENT,
        R.CREATE_DATE,
        R.USER_NO,
        RA.ADDR_CODE,
        RA.ADDR,
        RA.DETAIL_ADDR,
        RA.COORDINATE_X,
        RA.COORDINATE_Y,
        RI.IMG_CODE,
        RI.ORIGIN_FILE_NAME,
        RI.ATTACHED_FILE_NAME,
        RI.IS_MAIN
        FROM ROOM R
        LEFT JOIN ROOM_ADDR RA ON R.ROOM_CODE = RA.ROOM_CODE
        LEFT JOIN ROOM_IMG RI ON R.ROOM_CODE = RI.ROOM_CODE
        WHERE 1 = 1
        <if test='searchPropertyTypeCode != null '>
        AND R.PROPERTY_TYPE_CODE = #{searchPropertyTypeCode}
        </if>
        <if test='searchRoomSizePMin != 0 and !searchRoomSizePMin.equals("")'>
        AND R.ROOM_SIZE_P &gt;= #{searchRoomSizePMin}
        </if>
        <if test='searchRoomSizePMax != 0 and !searchRoomSizePMax.equals("")'>
        AND R.ROOM_SIZE_P &lt;= #{searchRoomSizePMax}
        </if>
        <if test='searchRoomSizeMMin != 0 and !searchRoomSizeMMin.equals("")'>
        AND R.ROOM_SIZE_M &gt;= #{searchRoomSizeMMin}
        </if>
        <if test='searchRoomSizeMMax != 0 and !searchRoomSizeMMax.equals("")'>
        AND R.ROOM_SIZE_M &lt;= #{searchRoomSizeMMax}
        </if>
        <if test='searchFloor != 0 and !searchFloor.equals("")'>
        AND R.FLOOR = #{searchFloor}
        </if>
        <if test='searchTradeTypeCode != null and !searchTradeTypeCode.equals("")'>
        AND R.TRADE_TYPE_CODE = #{searchTradeTypeCode}
        </if>
        <if test='searchMonthlyLeaseMax != 0 and !searchMonthlyLeaseMax.equals("")'>
        AND R.MONTHLY_LEASE &gt;= #{searchMonthlyLeaseMax}
        </if>
        <if test='searchDeposit != 0 and !searchDeposit.equals("")'>
        AND R.DEPOSIT &gt;= #{searchDeposit}
        </if>
        <if test='searchJeonseCost != 0 and !searchJeonseCost.equals("")'>
        AND R.JEONSE_COST &gt;= #{searchJeonseCost}
        </if>
        <if test='searchMaintenanceCost != 0 and !searchMaintenanceCost.equals("")'>
        AND R.MAINTENANCE_COST &gt;= #{searchMaintenanceCost}
        </if>
        <if test="searchDetailOptions != null">
            AND (
            <foreach collection="searchDetailOptions" item="detailOption" separator=" AND ">
                R.DETAIL_OPTIONS LIKE '%' || #{detailOption} || '%'
            </foreach>
            )
        </if>
        <if test='searchAddr != null and !searchAddr.equals("")'>
            AND UPPER(RA.ADDR) LIKE '%' || #{searchAddr} || '%'
        </if>
    </select>



    <select id="selectRoomAddr" resultMap="roomAddr">
        SELECT
        ADDR_CODE,
        ADDR,
        COORDINATE_X,
        COORDINATE_Y
        FROM ROOM_ADDR
    </select>

</mapper>































