<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 복사해서 사용 -->
<mapper namespace="room2Mapper">
    <!-- room 기본정보 조회 -->
    <select id="selectRoomInfo" resultMap="roomMapper.room">
        SELECT R.ROOM_CODE
            , PROPERTY_TYPE_CODE
            , SUB_PROPERTY_TYPE_CODE
            , ROOM_SIZE_P
            , ROOM_SIZE_M
            , FLOOR
            , TRADE_TYPE_CODE
            , MONTHLY_LEASE
            , DEPOSIT
            , JEONSE_COST
            , MAINTENANCE_COST
            , DETAIL_OPTIONS
            , CONTENT
            , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') CREATE_DATE
            , USER_NO
            , ATTACHED_FILE_NAME
            , ADDR
            , DETAIL_ADDR
        FROM ROOM R, ROOM_IMG I, ROOM_ADDR A
        WHERE R.ROOM_CODE = #{roomCode}
        AND R.ROOM_CODE = I.ROOM_CODE
        AND R.ROOM_CODE = A.ROOM_CODE
    </select>

    <!-- 등록한 사람 LOGIN_TYPE 조회 -->
    <select id="selectLoginType" resultType="String">
        SELECT LOGIN_TYPE
        FROM MEMBER_USER
        WHERE USER_NO = #{userNo}
    </select>

    <!-- 일반회원 닉네임 전화번호 조회 -->
    <select id="selectRegUser" resultMap="memberMapper.member">
        SELECT NICK_NAME
            , PHONE
            , USER_NO
            , LOGIN_TYPE
        FROM MEMBER_USER
        WHERE USER_NO = #{userNo}
    </select>

    <!-- 공인중개사 사업자번호, 사업자명, 전화번호 조회 -->
    <select id="selectRegRealtor" resultMap="memberMapper.member">
        SELECT PHONE
            , OFFICE_NAME
            , IDENTIFICATION_NUM
            , REALTOR_NAME
            , M.USER_NO
            , LOGIN_TYPE
        FROM MEMBER_USER M, REALTOR_DETAIL R
        WHERE M.USER_NO = #{userNo}
        AND M.USER_NO = R.USER_NO
    </select>

    <!-- 허위매물 신고 시 본인인증 -->
    <select id="selectElDAS" resultType="String">
        SELECT USER_NO
        FROM MEMBER_USER
        WHERE USER_NAME = #{userName}
        AND PASSWORD = #{passWord}
    </select>

    <!-- 허위매물 신고 사유 조회 -->
    <select id="selectReasonList" resultMap="roomMapper.reason">
        SELECT REASON_CODE
            , REASON
        FROM REASON
    </select>

    <!-- 허위 매물 insert -->
    <insert id="insertFalseOfferings">
        INSERT INTO FALSE_OFFERINGS (
            FALSE_OFFERINGS_CODE
            , ROOM_CODE
            , USER_NO
            , REASON_CODE
            , REPORT_CONTENT
            , REPORT_CNT
        ) VALUES (
            (SELECT 'FALSE_ROOM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(FALSE_OFFERINGS_CODE,12))),0) + 1 ,4,'0') FALSE_OFFERINGS_CODE
            FROM FALSE_OFFERINGS)
            , #{roomCode}
            , #{userNo}
            , #{reasonCode}
            , #{reportContent}
            , (SELECT NVL(MAX(REPORT_CNT),0) FROM FALSE_OFFERINGS WHERE ROOM_CODE = #{roomCode}) + 1
        )
    </insert>

    <!-- 문의 제목 목록 -->
    <select id="selectInquiryTitle" resultMap="roomMapper.inquiryTitle">
        SELECT INQUIRY_TITLE_CODE
            ,INQUIRY_TITLES
        FROM INQUIRY_TITLE
    </select>
</mapper>































