<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 복사해서 사용 -->
<mapper namespace="roomMapper">
    <!--옵션 resultMap-->
    <resultMap id="options" type="com.green.hanbang.room.vo.OptionsVO">
        <id column="OPTION_CODE" property="optionCode"/>
        <result column="OPTION_NAME" property="optionName"/>
        <collection property="detailOptionList" resultMap="detailOptions"/>
    </resultMap>

    <!--상세옵션 resultMap-->
    <resultMap id="detailOptions" type="com.green.hanbang.room.vo.DetailOptionsVO">
        <id column="DETAIL_OPTION_CODE" property="detailOptionCode"/>
        <result column="DETAIL_OPTION_NAME" property="detailOptionName"/>
        <result column="OPTION_CODE" property="optionCode"/>
    </resultMap>

    <!--매물유형 대분류 resultMap-->
    <resultMap id="propertyType" type="com.green.hanbang.room.vo.PropertyTypeVO">
        <id column="PROPERTY_TYPE_CODE" property="propertyTypeCode"/>
        <result column="PROPERTY_TYPE_NAME" property="propertyTypeName"/>
        <collection property="subPropertyTypeList" resultMap="subPropertyType"/>
    </resultMap>

    <!--매물유형 소분류 resultMap-->
    <resultMap id="subPropertyType" type="com.green.hanbang.room.vo.SubPropertyTypeVO">
        <id column="SUB_PROPERTY_TYPE_CODE" property="subPropertyTypeCode"/>
        <result column="SUB_PROPERTY_TYPE_NAME" property="subPropertyTypeName"/>
        <result column="PROPERTY_TYPE_CODE" property="propertyTypeCode"/>
    </resultMap>

    <!--전월세 resultMap-->
    <resultMap id="tradeType" type="com.green.hanbang.room.vo.TradeTypeVO">
        <result column="TRADE_TYPE_CODE" property="tradeTypeCode"/>
        <result column="TRADE_TYPE_NAME" property="tradeTypeName"/>
    </resultMap>

    <!--room resultMap-->
    <resultMap id="room" type="com.green.hanbang.room.vo.RoomVO">
        <id column="ROOM_CODE" property="roomCode"/>
        <result column="PROPERTY_TYPE_CODE" property="propertyTypeCode"/>
        <result column="SUB_PROPERTY_TYPE_CODE" property="subPropertyTypeCode"/>
        <result column="ROOM_SIZE_P" property="roomSizeP"/>
        <result column="ROOM_SIZE_M" property="roomSizeM"/>
        <result column="FLOOR" property="floor"/>
        <result column="TRADE_TYPE_CODE" property="tradeTypeCode"/>
        <result column="MONTHLY_LEASE" property="monthlyLease"/>
        <result column="DEPOSIT" property="deposit"/>
        <result column="JEONSE_COST" property="jeonseCost"/>
        <result column="MAINTENANCE_COST" property="maintenanceCost"/>
        <result column="DETAIL_OPTIONS" property="detailOptions"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="IMMEDIATE_OCCUPANCY" property="immediateOccupancy"/>
        <result column="AVAILABLE_MOVE_IN_DATE" property="availableMoveInDate"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="USER_NO" property="userNo"/>
        <association property="roomAddrVO" resultMap="roomAddr"/>
        <association property="propertyTypeVO" resultMap="propertyType"/>
        <collection property="imgList" resultMap="roomImg"/>
    </resultMap>

    <!--room이미지 resultMap-->
    <resultMap id="roomImg" type="com.green.hanbang.room.vo.RoomIMGVO">
        <id column="IMG_CODE" property="imgCode"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="ROOM_CODE" property="roomCode"/>
        <result column="IS_MAIN" property="isMain"/>
    </resultMap>

    <resultMap id="roomAddr" type="com.green.hanbang.room.vo.RoomAddrVO">
        <id column="ADDR_CODE" property="addrCode"/>
        <result column="ADDR" property="addr"/>
        <result column="DETAIL_ADDR" property="detailAddr"/>
        <result column="COORDINATE_X" property="coordinateX"/>
        <result column="COORDINATE_Y" property="coordinateY"/>
        <result column="ROOM_CODE" property="roomCode"/>
    </resultMap>

    <!-- 허위매물 신고된 방 -->
    <resultMap id="falseOfferings" type="com.green.hanbang.room.vo.FalseOfferingsVO">
        <id column="FALSE_OFFERINGS_CODE" property="falseOfferingsCode"/>
        <result column="ROOM_CODE" property="roomCode"/>
        <result column="USER_NO" property="userNo"/>
        <result column="REASON_CODE" property="reasonCode"/>
        <result column="REPORT_CONTENT" property="reportContent"/>
        <result column="REPORT_CNT" property="reportCnt"/>
        <result column="REPORT_DATE" property="reportDate"/>
        <association property="roomVO" resultMap="room"/>
    </resultMap>

    <!-- 허위매물 사유 -->
    <resultMap id="reason" type="com.green.hanbang.room.vo.ReasonVO">
        <id column="REASON_CODE" property="reasonCode"/>
        <result column="REASON" property="reason"/>
    </resultMap>

    <!-- 매물 문의 -->
    <resultMap id="inquiry" type="com.green.hanbang.room.vo.InquiryVO">
        <id column="INQUIRY_CODE" property="inquiryCode"/>
        <result column="FROM_USER_NO" property="fromUserNo"/>
        <result column="TO_USER_NO" property="toUserNo"/>
        <result column="ROOM_CODE" property="roomCode"/>
        <result column="INQUIRY_TITLE_CODE" property="inquiryTitleCode"/>
        <result column="INQUIRY_CONTENT" property="inquiryContent"/>
        <result column="INQUIRY_ANSWER" property="inquiryAnswer"/>
        <result column="INQUIRY_READ_CNT" property="inquiryReadCnt"/>
        <result column="INQUIRY_DATE" property="inquiryDate"/>
        <result column="INQUIRY_ST_CODE" property="inquiryStCode"/>
        <association property="inquiryTitleVO" resultMap="inquiryTitle"/>
        <association property="inquiryStatusVO" resultMap="inquiryMapper.inquiryStatus"/>
    </resultMap>

    <!-- 매물 문의 타이틀 -->
    <resultMap id="inquiryTitle" type="com.green.hanbang.room.vo.InquiryTitleVO">
        <id column="INQUIRY_TITLE_CODE" property="inquiryTitleCode"/>
        <result column="INQUIRY_TITLES" property="inquiryTitles"/>
    </resultMap>

<!--    매물 상품 적용 -->
    <resultMap id="applyItem" type="com.green.hanbang.room.vo.ApplyItemVO">
        <id column="APPLY_CODE"     property="applyCode"/>
        <result column="ROOM_CODE"  property="roomCode"/>
        <result column="BUY_CODE"   property="buyCode"/>
        <result column="CAN_APPLY"  property="canApply"/>
        <result column="BUY_TYPE"  property="buyType"/>
        <result column="END_DATE"  property="endDate"/>
    </resultMap>

    <!--option select-->
    <select id="selectOptions" resultMap="options">
        SELECT OP.OPTION_CODE
        , OPTION_NAME
        , DETAIL_OPTION_CODE
        , DETAIL_OPTION_NAME
        FROM OPTIONS OP, DETAIL_OPTIONS DTOP
        WHERE OP.OPTION_CODE = DTOP.OPTION_CODE
    </select>
    <!--매물 유형 셀렉트-->
    <select id="selectProperty" resultMap="propertyType">
        SELECT PT.PROPERTY_TYPE_CODE
        , PROPERTY_TYPE_NAME
        , SUB_PROPERTY_TYPE_CODE
        , SUB_PROPERTY_TYPE_NAME
        , SPT.PROPERTY_TYPE_CODE
        FROM PROPERTY_TYPE PT, SUB_PROPERTY_TYPE SPT
        WHERE PT.PROPERTY_TYPE_CODE = SPT.PROPERTY_TYPE_CODE
    </select>
    <!--전월세 셀렉트-->
    <select id="selectTradeType" resultMap="tradeType">
        SELECT TRADE_TYPE_CODE
        , TRADE_TYPE_NAME
        FROM TRADE_TYPE
    </select>

    <select id="selectNextRoomCode" resultType="String">
        SELECT
        'ROOM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ROOM_CODE,7))),0)+1, 4, '0')
        FROM ROOM
    </select>

    <!--매물 insert-->
    <insert id="insertRoom">
        INSERT INTO ROOM(
            ROOM_CODE
            , PROPERTY_TYPE_CODE
            , SUB_PROPERTY_TYPE_CODE
            , ROOM_SIZE_P
            , ROOM_SIZE_M
            , FLOOR
            , TRADE_TYPE_CODE
            , MONTHLY_LEASE
            , DEPOSIT
            <if test='jeonseCost != null and jeonseCost.equals("")'>
                , JEONSE_COST
            </if>
            <if test='maintenanceCost != null and maintenanceCost.equals("")'>
                , MAINTENANCE_COST
            </if>
            , DETAIL_OPTIONS
            , TITLE
            , CONTENT
            , IMMEDIATE_OCCUPANCY
        <if test='availableMoveInDate != null and availableMoveInDate.equals("")'>
            , AVAILABLE_MOVE_IN_DATE
        </if>
            , USER_NO
        )VALUES(
            (SELECT 'ROOM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ROOM_CODE,7))),0)+1, 4, '0') FROM ROOM)
            , #{propertyTypeCode}
            , #{subPropertyTypeCode}
            , #{roomSizeP}
            , #{roomSizeM}
            , #{floor}
            , #{tradeTypeCode}
            , NVL(#{monthlyLease},'')
            , NVL(#{deposit},'')
            <if test='jeonseCost != null and jeonseCost.equals("")'>
                , #{jeonseCost}
            </if>
            <if test='maintenanceCost != null and maintenanceCost.equals("")'>
                , #{maintenanceCost}
            </if>
            , #{detailOptions}
            , #{title}
            , #{content}
            , #{immediateOccupancy}
        <if test='availableMoveInDate != null and availableMoveInDate.equals("")'>
            , #{availableMoveInDate}
        </if>
            , #{userNo}
        )
    </insert>
    <!--이미지 insert-->
    <insert id="insertRoomImg">
        INSERT INTO ROOM_IMG(
        IMG_CODE
        , ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        , ROOM_CODE
        , IS_MAIN
        )
        <foreach collection="imgList" item="img" separator="UNION ALL" index="idx">
            SELECT (SELECT 'IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE, 5))), 0) + 1 + #{idx}, 3, '0')
            FROM ROOM_IMG)
            , #{img.originFileName}
            , #{img.attachedFileName}
            , #{img.roomCode}
            , #{img.isMain}
            FROM DUAL
        </foreach>
    </insert>

    <insert id="addrInsert" parameterType="com.green.hanbang.room.vo.RoomAddrVO" >
        INSERT INTO ROOM_ADDR(
        ADDR_CODE
        , ADDR
        , DETAIL_ADDR
        , COORDINATE_X
        , COORDINATE_y
        , ROOM_CODE
        )VALUES(
          (SELECT
            'ADDR_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ADDR_CODE,6))),0)+1, 3, '0')
            FROM ROOM_ADDR)
            , #{roomAddrVO.addr}
            , #{roomAddrVO.detailAddr}
            , #{roomAddrVO.coordinateX}
            , #{roomAddrVO.coordinateY}
            , #{roomAddrVO.roomCode}
        )
    </insert>

    <!--방조회-->
    <select id="selectRoom" resultMap="room">
        SELECT
        R.ROOM_CODE,
        R.PROPERTY_TYPE_CODE,
        R.SUB_PROPERTY_TYPE_CODE,
        R.ROOM_SIZE_P,
        R.ROOM_SIZE_M,
        R.FLOOR,
        R.TRADE_TYPE_CODE,
        R.MONTHLY_LEASE,
        R.DEPOSIT,
        R.JEONSE_COST,
        R.MAINTENANCE_COST,
        R.DETAIL_OPTIONS,
        R.TITLE,
        R.CONTENT,
        TO_CHAR(R.CREATE_DATE, 'YYYY.MM.DD'),
        R.IMMEDIATE_OCCUPANCY,
        TO_CHAR(R.AVAILABLE_MOVE_IN_DATE,'YYYY.MM.DD') ,
        R.USER_NO,
        PT.PROPERTY_TYPE_NAME,
        RA.ADDR_CODE,
        RA.ADDR,
        RA.DETAIL_ADDR,
        RA.COORDINATE_X,
        RA.COORDINATE_Y,
        RI.IMG_CODE,
        RI.ORIGIN_FILE_NAME,
        RI.ATTACHED_FILE_NAME,
        RI.IS_MAIN
        FROM ROOM R
        LEFT JOIN ROOM_ADDR RA ON R.ROOM_CODE = RA.ROOM_CODE
        LEFT JOIN ROOM_IMG RI ON R.ROOM_CODE = RI.ROOM_CODE
        LEFT JOIN PROPERTY_TYPE PT ON R.PROPERTY_TYPE_CODE = PT.PROPERTY_TYPE_CODE
        WHERE 1 = 1
        AND IS_MAIN='Y'
        <if test='searchPropertyTypeCode != null and !searchPropertyTypeCode.equals("")'>
        AND R.PROPERTY_TYPE_CODE = #{searchPropertyTypeCode}
        </if>
        <if test='searchRoomSizePMin != 0 and !searchRoomSizePMin.equals("")'>
        AND R.ROOM_SIZE_P &lt;= #{searchRoomSizePMin}
        </if>
        <if test='searchFloor != 0 and !searchFloor.equals("")'>
        AND R.FLOOR &lt;= #{searchFloor}
        </if>
        <if test='searchTradeTypeCode != null and !searchTradeTypeCode.equals("")' >
        AND R.TRADE_TYPE_CODE = #{searchTradeTypeCode}
        </if>
        <if test='searchMonthlyLeaseMax != 0 and !searchMonthlyLeaseMax.equals("")'>
        AND R.MONTHLY_LEASE &gt;= #{searchMonthlyLeaseMax}
        </if>
        <if test='searchDeposit != 0 and !searchDeposit.equals("")'>
        AND R.DEPOSIT &gt;= #{searchDeposit}
        </if>
        <if test='searchJeonseCost != 0 and !searchJeonseCost.equals("")'>
        AND R.JEONSE_COST &gt;= #{searchJeonseCost}
        </if>
        <if test='searchMaintenanceCost != 0 and !searchMaintenanceCost.equals("")'>
        AND R.MAINTENANCE_COST &gt;= #{searchMaintenanceCost}
        </if>
        <if test='searchDetailOptions != null and !searchDetailOptions.equals("")'>

            <foreach collection="searchDetailOptions" item="detailOption" separator=" AND " open="AND (" close=")">
                R.DETAIL_OPTIONS LIKE '%' || #{detailOption} || '%'
            </foreach>

        </if>
        <if test='searchAddr != null and !searchAddr.equals("")'>
            AND UPPER(RA.ADDR) LIKE '%' || #{searchAddr} || '%'
        </if>
    </select>

    <select id="selectRoomAddr" resultMap="roomAddr">
        SELECT
        ADDR_CODE,
        ADDR,
        COORDINATE_X,
        COORDINATE_Y
        FROM ROOM_ADDR
    </select>

<!--    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- room 기본정보 조회 -->
    <select id="selectRoomInfo" resultMap="room">
        SELECT R.ROOM_CODE
        , PROPERTY_TYPE_CODE
        , SUB_PROPERTY_TYPE_CODE
        , ROOM_SIZE_P
        , ROOM_SIZE_M
        , FLOOR
        , TRADE_TYPE_CODE
        , MONTHLY_LEASE
        , DEPOSIT
        , JEONSE_COST
        , MAINTENANCE_COST
        , DETAIL_OPTIONS
        , CONTENT
        , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') CREATE_DATE
        , USER_NO
        , ATTACHED_FILE_NAME
        , ADDR
        , DETAIL_ADDR
        , R.IMMEDIATE_OCCUPANCY
        , TO_CHAR(R.AVAILABLE_MOVE_IN_DATE,'YYYY-MM-DD') as AVAILABLE_MOVE_IN_DATE
        , IS_MAIN
        , TITLE
        FROM ROOM R, ROOM_IMG I, ROOM_ADDR A
        WHERE R.ROOM_CODE = #{roomCode}
        AND R.ROOM_CODE = I.ROOM_CODE
        AND R.ROOM_CODE = A.ROOM_CODE
    </select>

    <!-- 등록한 사람 LOGIN_TYPE 조회 -->
    <select id="selectLoginType" resultType="String">
        SELECT LOGIN_TYPE
        FROM MEMBER_USER
        WHERE USER_NO = #{userNo}
    </select>

    <!-- 일반회원 닉네임 전화번호 조회 -->
    <select id="selectRegUser" resultMap="memberMapper.member">
        SELECT NICK_NAME
        , PHONE
        , USER_NO
        , LOGIN_TYPE
        FROM MEMBER_USER
        WHERE USER_NO = #{userNo}
    </select>

    <!-- 공인중개사 사업자번호, 사업자명, 전화번호 조회 -->
    <select id="selectRegRealtor" resultMap="memberMapper.member">
        SELECT PHONE
        , OFFICE_NAME
        , IDENTIFICATION_NUM
        , REALTOR_NAME
        , M.USER_NO
        , LOGIN_TYPE
        FROM MEMBER_USER M, REALTOR_DETAIL R
        WHERE M.USER_NO = #{userNo}
        AND M.USER_NO = R.USER_NO
    </select>

    <!-- 허위매물 신고 시 본인인증 -->
    <select id="selectElDAS" resultType="String">
        SELECT USER_NO
        FROM MEMBER_USER
        WHERE USER_NAME = #{userName}
        AND PASSWORD = #{passWord}
    </select>

    <!-- 허위매물 신고 사유 조회 -->
    <select id="selectReasonList" resultMap="reason">
        SELECT REASON_CODE
        , REASON
        FROM REASON
    </select>

    <!-- 허위 매물 insert -->
    <insert id="insertFalseOfferings">
        INSERT INTO FALSE_OFFERINGS (
        FALSE_OFFERINGS_CODE
        , ROOM_CODE
        , USER_NO
        , REASON_CODE
        , REPORT_CONTENT
        , REPORT_CNT
        ) VALUES (
        (SELECT 'FALSE_ROOM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(FALSE_OFFERINGS_CODE,12))),0) + 1 ,4,'0') FALSE_OFFERINGS_CODE
        FROM FALSE_OFFERINGS)
        , #{roomCode}
        , #{userNo}
        , #{reasonCode}
        , #{reportContent}
        , (SELECT NVL(MAX(REPORT_CNT),0) FROM FALSE_OFFERINGS WHERE ROOM_CODE = #{roomCode}) + 1
        )
    </insert>

    <!-- 문의 제목 목록 -->
    <select id="selectInquiryTitle" resultMap="inquiryTitle">
        SELECT INQUIRY_TITLE_CODE
        ,INQUIRY_TITLES
        FROM INQUIRY_TITLE
    </select>

    <!-- 문의 하기 -->
    <insert id="insertInquiry">
        INSERT INTO INQUIRY(
        INQUIRY_CODE
        , FROM_USER_NO
        , TO_USER_NO
        , ROOM_CODE
        , INQUIRY_TITLE_CODE
        , INQUIRY_CONTENT
        ) VALUES (
        (SELECT 'INQUIRY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(INQUIRY_CODE,9))),0) + 1 ,4,'0') INQUIRY_CODE
        FROM INQUIRY)
        , #{fromUserNo}
        , #{toUserNo}
        , #{roomCode}
        , #{inquiryTitleCode}
        , #{inquiryContent}
        )
    </insert>

    <!--  수연 추가 쿼리    -->
    <!-- 매물에 상품 적용하기   -->
    <insert id="insertApplyItem">
        INSERT INTO APPLY_ITEM(
            APPLY_CODE
            , ROOM_CODE
            , BUY_CODE
            , BUY_TYPE
            , END_DATE
        )VALUES(
            (SELECT 'APPLY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(APPLY_CODE,7))),0) + 1 ,4,'0') APPLY_CODE
            FROM APPLY_ITEM)
            , #{roomCode}
            , #{buyCode}
            , #{buyType}
            , DECODE(#{buyType}, 'DAY' , SYSDATE + 1 ,  SYSDATE + 30)
        )
    </insert>

    <update id="updateItemCnt">
        <if test='memCateCode.equals("CATE_001")'>
            UPDATE PACKAGE_ITEM
            SET
            <if test='buyType.equals("GENERAL")'>
                GENERAL_PRODUCT_CNT = GENERAL_PRODUCT_CNT - 1
            </if>
            <if test='buyType.equals("SEASON")'>
                PLUS_SEASON_CNT = PLUS_SEASON_CNT - 1
            </if>
            <if test='buyType.equals("DAY")'>
                PLUS_DAY_CNT = PLUS_DAY_CNT - 1
            </if>
        </if>
        <if test='memCateCode.equals("CATE_002")'>
            UPDATE GENERAL_ITEM
            SET
            GENERAL_PRODUCT_CNT = GENERAL_PRODUCT_CNT - 1
        </if>
        <if test='memCateCode.equals("CATE_003")'>
            UPDATE PLUS_ITEM
            SET
            IS_VALID = 'N'
        </if>
        WHERE BUY_CODE = #{buyCode}
    </update>

    <!-- 사용한 패키지 상품의 잔여 수량 확인 -->
    <select id="getPackageIsValid" resultType="String">
        SELECT PACKAGE_CODE
        FROM PACKAGE_ITEM
        WHERE BUY_CODE = #{buyCode}
        AND GENERAL_PRODUCT_CNT = 0
        AND PLUS_SEASON_CNT = 0
        AND PLUS_DAY_CNT = 0
    </select>

<!--    사용한 패키지 상품의 잔여 수량 확인-->
    <select id="getGeneralIsValid" resultType="String">
        SELECT GENERAL_CODE
        FROM GENERAL_ITEM
        WHERE BUY_CODE = #{buyCode}
        AND GENERAL_PRODUCT_CNT = 0
    </select>

    <update id="updatePackageIsValid">
        UPDATE PACKAGE_ITEM
        SET
        IS_VALID = 'N'
        WHERE BUY_CODE = #{buyCode}
    </update>

    <update id="updateGeneralIsValid">
        UPDATE GENERAL_ITEM
        SET
        IS_VALID = 'N'
        WHERE BUY_CODE = #{buyCode}
    </update>

<!--    로그인 시 아이템 종료일에 따라 IS_VALID 값 변경 -->
    <update id="updatePackageValidWhenLogin">
        UPDATE PACKAGE_ITEM
        SET
        IS_VALID = 'N'
        WHERE PACKAGE_CODE IN (
                                SELECT PACKAGE_CODE
                                FROM PACKAGE_ITEM
                                WHERE USER_NO = #{userNo}
                                AND IS_VALID = 'Y'
                                AND END_DATE &lt; SYSDATE
        )
    </update>

    <update id="updateGeneralValidWhenLogin">
        UPDATE GENERAL_ITEM
        SET
        IS_VALID = 'N'
        WHERE GENERAL_CODE IN (
                                SELECT GENERAL_CODE
                                FROM GENERAL_ITEM
                                WHERE USER_NO = #{userNo}
                                AND IS_VALID = 'Y'
                                AND END_DATE &lt; SYSDATE
        )
    </update>

    <update id="updatePlusValidWhenLogin">
        UPDATE PLUS_ITEM
        SET
        IS_VALID = 'N'
        WHERE PLUS_CODE IN (
                                SELECT PLUS_CODE
                                FROM PLUS_ITEM
                                WHERE USER_NO = #{userNo}
                                AND IS_VALID = 'Y'
                                AND END_DATE &lt; SYSDATE
        )
    </update>


</mapper>