<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title> Footer Fragment </title>
</head>
<body>
<th:block th:fragment="mainFooterFragment">
    <link rel="stylesheet" href="/css/main/main_footer.css">
    <footer class="footer_all">
        <div>
            <div class="footer_one">
                <nav class="footer_nav">
                    <ul class="footer_ul_one">
                        <li><a href=>회사소개</a></li>
                        <li><a href=></a>이용약관</li>
                        <li><a href=></a>개인정보처리방침</li>
                        <li><a href=></a>매물관리규정</li>
                    </ul>
                </nav>
                <form>
                    <div>
                        <select class="">
                            <option value="0">일반 매물번호</option>
                            <option value="1">현장촬영 매물번호</option>
                        </select>
                    </div>
                </form>
                <button>Top</button>
            </div>
            <div class="footer_div_one">
                <div class="footer_div_two">
                    <ul class="footer_ul_two">
                        <li>(주)한방</li>
                        <li>대표 : 한방이</li>
                        <li>사업자 번호: 000-00-00000     통신판매업신고번호 : 제2023-울산 삼산-00000호</li>
                        <li>주소 : 울산광역시 남구 삼산중로100번길 26 케이엠빌딩 4층 (주)한방</li>
                        <li></li>
                        <li>고객센터 : 000-0000-0000 | 평일 09:00 ~ 18:00, 점심시간 : 12:50 ~ 14:00 (토·일요일, 공휴일 휴무)</li>
                        <li>팩스 : 00-000-0000     프로모션/사업 제휴문의 : green@korea.co.kr</li>
                    </ul>
                    <div class="footer_div_thr">
                        <a href="">자주묻는 질문</a>
                        <a href="">1:1문의</a>
                        <button class="">광고문의</button>
                    </div>
                    <p class="">HanBang, Inc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</body>
</html>