<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title> Header Fragment </title>
</head>
<body>
<th:block th:fragment="mainHeaderFragment">
    
    <input type="hidden" class="reduceCnt" value="0">
    <link rel="stylesheet" href="/css/main/main_header.css">
    <link rel="stylesheet" href="/css/admin/admin_alarm.css">
    <header class="menu_all">
        <img class="logo" src="/img/main/HanBangLogo.png" title="한방" onclick="location.href='/'" style="cursor: pointer;">
        <nav class="menu_bar">
            <!-- 관리자 로그인 시 출력되는 메뉴 -->
            <th:block th:if="${session.loginInfo !=null}">
                <th:block th:if="${session.loginInfo.loginType == 'ADMIN'}">
                    <ul class="adminMenu">
                        <li><a href="/room/roomMain">지도</a></li>
                        <li class="nav-item adminMenu-li">
                            <a class="nav-link" href="/admin/userList" role="button">
                                회원관리
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/infoBoard}">공지사항</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            맴버쉽 상품 
                            </a>
                            <th:block>
                                <ul class="dropdown-menu membershipList"  >
                                    <li th:each="mCategory : ${membershipCate}">
                                        <a class="dropdown-item" th:href="@{/admin/membershipList(memCateCode=${mCategory.memCateCode})}">[[${mCategory.memCateName}]]</a>
                                    </li>
                                    <li><input type="button" value="신규 등록" class="w-btn-outline w-btn-blue-outline" onclick="location.href='/admin/regMembershipForm';"></li>
                                </ul>
                            </th:block>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/eventList}">이벤트</a>
                        </li>
                        <li class="nav-item admin-alarm-li">
                            <h4>
                                <span onclick="alarm();" class="cursor">
                                    <span class="admin-alarm">알림</span>
                                </span>
                            </h4>
                            <div class="adminAlarm" id="admin_alarm_tag">
                                <div class="admin_alarm_header">
                                    <div class="cursor-default">알림</div>
                                    <div onclick="alarm_close();" class="cursor close-btn"></div>
                                </div>
                                <div class="admin_alarm_content">
                                    <div id="admin_today_alarm"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="my_menu" onclick="location.href='/member/logout';">로그아웃[이미지]</a>
                        </li>
                    </ul>
                </th:block>
            </th:block>
            
            <th:block th:if="${session.loginInfo == null}">
                <ul>
                    <li><a href="/room/roomMain">지도</a></li>
                    <li>
                        <th:block th:if="${session.loginInfo == null}">
                            <a href="/member/loginForm">찜목록</a>
                        </th:block>
                        <th:block th:if="${session.loginInfo != null}">
                            <th:block th:if="${session.loginInfo.loginType == 'REALTOR' or session.loginInfo.loginType == 'USER'}">
                                <a href="/member/dibsOn">찜목록</a>
                            </th:block>
                        </th:block>
                    </li>
                    <li>
                        <th:block th:if="${session.loginInfo == null}">
                            <a href="/member/loginForm">방 내놓기</a>
                        </th:block>
                        <th:block th:if="${session.loginInfo != null}">
                            <th:block th:if="${session.loginInfo.loginType == 'USER'}">
                                <a th:href="@{/room/reg(userNo=${session.loginInfo.userNo})}">방 내놓기</a>
                            </th:block>
                            <th:block th:if="${session.loginInfo.loginType == 'REALTOR'}">
                                <th:block th:if="${session.authorityAlarm == 1 or session.authorityAlarm == 2}">
                                     <a th:href="@{/room/reg(userNo=${session.loginInfo.userNo})}">방 내놓기</a>
                                 </th:block>
                                <th:block th:unless="${session.authorityAlarm == 1 or session.authorityAlarm == 2}">
                                     <a class="roomReg_a" href="javascript:void(0);" onclick="authorityYet();">방 내놓기</a>
                                </th:block>
                            </th:block>
                        </th:block>
                    </li>
                    <li class="alarm_position">
                        <th:block th:if="${session.loginInfo != null}">
                            <th:block th:if="${session.loginInfo.loginType == 'REALTOR'}">
                                <a class="alarm cursor" th:onclick="realtorAlarm([[${session.loginInfo.userNo}]],[[${session.authorityAlarm}]],[[${session.realtorInquiryCnt}]],[[${session.alarmCnt}]]);">알림
                                    <div th:if="${session.alarmCnt != 0}" class="alarmCnt">[[${session.alarmCnt}]]</div></a>
                            </th:block>
                            <th:block th:if="${session.loginInfo.loginType == 'USER'}">
                                <a class="alarm cursor" th:onclick="userAlarm([[${session.loginInfo.userNo}]],[[${session.loginInfo?.nickName}]],[[${session.userInquiryAnswer}]]);">알림
                                    <div th:if="${session.alarmCnt == 1}" class="alarmCnt">1</div>
                                </a>
                            </th:block>
                        </th:block>
                        <th:block th:if="${session.loginInfo == null}">
                            <a class="cursor" href="/member/loginForm">알림</span></a>
                        </th:block>
                        <div id="alarm_box">
                            <div onclick="alarm_close();" class="cursor close-btn"></div>
                            <div id="alarm_tag"></div>
                        </div>
                    </li>
                </ul>
            </th:block>
            <!-- 미로그인 시 나올 메뉴  -->
            <div th:if="${session.loginInfo == null}" class="member_login_join">
                <button type="button" class="member_login_join_btn" onclick="location.href='/member/loginForm'">로그인<span class="bar"></span>회원가입</button>
            </div>
            <!-- 로그인 완료 시 나올 메뉴 -->
            <div th:if="${session.loginInfo?.loginType == 'USER'}" class="member_nav">
                <div class="member_intro" th:if="${session.loginInfo != null}">
                    <div size="32" class="member_profile" th:with="imagePath=${session.loginInfo.memberImgVO.profileImgName}">
                        <img th:src="@{'http://localhost:8081/img/member/profileImg/' + ${session.loginInfo.memberImgVO.attachedProfileImgName}}" alt="프로필 이미지" draggable="false">
                    </div>
                    <div class="member_nickname" onclick="menuOpen()">
                        <p>[[${session.loginInfo?.nickName}]]님</p>
                        <div id="my_menu_wrap" class="my_menu_wrap">
                            <nav id="my_menu_nav" class="my_menu_nav" style="border: none;">
                                <a class="my_menu" onclick="location.href='/member/memberCall';">매물문의</a>
                                <a class="my_menu" onclick="location.href='/member/memberInquiry';">1:1문의</a>
                                <a class="my_menu" onclick="location.href='/member/memberReport';">허위매물 신고내역</a>
                                <a class="my_menu" onclick="location.href='/member/memberInfo';">내 정보</a>
                                <a class="my_menu" onclick="location.href='/member/logout';">로그아웃[이미지]</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 공인중개사 로그인 시 나올 메뉴 일단 만들어만 놨어요! -->
            <div th:if="${session.loginInfo?.loginType == 'REALTOR'}" class="member_nav">
                <div class="member_intro">
                    <div size="32" class="member_profile">
                        <img src="" alt="" draggable="false">
                    </div>
                    <div class="member_nickname" onclick="my_menu_open()">
                        <p>[[${session.loginInfo?.nickName}]]님</p>
                        <div class="my_menu_wrap" id="realtor_my_menu_wrap">
                            <nav class="my_menu_nav" style="border: none;">
                                <a class="my_menu" onclick="location.href='/';">방 찾기</a>
                                <th:block th:if="${session.authorityAlarm == 1 or session.authorityAlarm == 2}">
                                    <a class="my_menu" th:href="@{/room/reg(userNo=${session.loginInfo.userNo})}">매물 등록하기</a>
                                </th:block>
                                <th:block th:unless="${session.authorityAlarm == 1 or session.authorityAlarm == 2}">
                                    <a class="roomReg_a my_menu" href="javascript:void(0);" onclick="authorityYet();">매물 등록하기</a>
                                </th:block>
                                <a class="my_menu" onclick="location.href='/realtor/myPage';">마이페이지</a>
                                <a class="my_menu" onclick="location.href='/member/logout';">로그아웃[이미지]</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
     
    <script async src="/js/main/main_header.js" defer></script>
    <script src="/js/admin/admin_alarm.js"></script>   
</th:block>
</body>
</html>