<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<link rel="icon" type="image/png" th:href="@{/img/main/HanBang.png}">
<title>원하는 방을 한방에 한방👊</title>
<!-- 부트스트랩 CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
 integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<!-- 프로젝트 공통 CSS -->
<link rel="stylesheet" href="/css/main/common.css">
<th:block layout:fragment="content_css"></th:block>
</head>
<body>
    <div class="container">
        <div class="row">
            <!-- Header Area -->
            <div class="col">
                <th:block th:replace="~{fragment/main_header :: mainHeaderFragment}"></th:block>
            </div>
        </div>
        <div class="row">
            <!-- Content Area -->
            <div class="col">
                <th:block layout:fragment="content"></th:block>
            </div>
        </div>
        <div class="row mb-3">
            <!-- Footer Area -->
            <div class="col">
                <th:block th:replace="~{fragment/main_footer :: mainFooterFragment}"></th:block>
            </div>
        </div>
    </div>

<!-- 부트스트랩 JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<!-- 프로젝트 공통 JS-->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- 지금 열리는 html에 연결된 js 파일 로딩 -->
<th:block layout:fragment="content_js"></th:block>
</body>
</html>