@charset "UTF-8";
/* admin_manage2.css */
.admin-alarm-li{
    position: relative;
}
.menu_bar > ul > .admin-alarm-li > #admin_alarm_tag{
    line-height: 24px;
}
.admin-alarm{
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    line-height: 90px;
}
.admin-alarm-li:hover .admin-alarm{
    position: relative;
    color: #bfc9d0;
    transition: 0.3s;
}
.admin-alarm-li .admin-alarm{
    padding-bottom: 10px;
}
.admin-alarm-li:hover .admin-alarm::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #bfc9d0;
}
#admin_alarm_tag{
    display: none;
    position: absolute;
    width: 320px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 2;
}
.admin_alarm_header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.admin_alarm_content{
    padding: 10px 20px;
    background-color: #f1f1f1;
}
#admin_today_alarm > div{
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
}
#admin_today_alarm > div:hover{
  background-color: #d1eef7;
}
.cnt{
    font-size: 19px;
    font-weight: 700;
}
.cursor{
    cursor: pointer;
}
.cursor-default{
    cursor: default;
}
.close-btn{
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(../../img/main/ico-alllmenu_close.png);
}
.material-symbols-outlined{
    margin: 7px;
}