@charset "UTF-8";
/* user_detail.css */

.table-title{
    margin: 80px 0px 64px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    line-height: 70px;
    letter-spacing: -1px;
}

.detail-info-table{
    width: 100%;
    margin: 20px auto 50px auto;
    text-align: center;
    border-collapse: collapse;
    border-top: 2px solid #a3a3a3;
}

tbody > tr:hover {
    background-color: #e9e5e5;
}

td{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.basic-info-span{
    font-weight: bold;
}
.deleteBtn{
    background-color: white;
    color: red;
    font-weight: bold;
    font-size: small;
    padding: 5px;
    border: 1px solid red;
    border-radius: 8px;
}
.falseOffering-detail-table{
    width: auto;
    margin: 20px auto 50px auto;
    text-align: center;
    border-collapse: collapse;
    border-top: 2px solid #a3a3a3;
}
.room-detail-table{
    width: auto;
    margin: 20px auto 50px auto;
    text-align: center;
    border-collapse: collapse;
    border-top: 2px solid #a3a3a3;
}
