<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>원하는 방을 한방에 한방👊</title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/member/dibs_on_room.css">
        <link rel="stylesheet" href="/css/member/member_common.css">
        <header class="user_header">
            <div>
                <h1 class="userHTD">관심목록</h1>
                <div class="userHMD" th:if="${session.loginInfo == null}">
                    <a class="userHMC" onclick="location.href='/member/dibsOn'">최근 본 방</a>
                    <a class="userHM active" onclick="location.href='/member/loginForm'" aria-current="page">찜한 방</a>
                    <a class="userHMC" onclick="location.href='/member/recentViewedApartment'">최근 본 단지</a>
                    <a class="userHMC" onclick="location.href='/member/loginForm'">찜한 단지</a>
                    <a class="userHMC" onclick="location.href='/member/loginForm'">즐겨찾기</a>
                </div>
                <div class="userHMD" th:if="${session.loginInfo != null}">
                    <a class="userHMC" onclick="location.href='/member/dibsOn'">최근 본 방</a>
                    <a class="userHMC active" onclick="location.href='/member/dibsOnRoom'" aria-current="page">찜한 방</a>
                    <a class="userHMC" onclick="location.href='/member/recentViewedApartment'">최근 본 단지</a>
                    <a class="userHMC" onclick="location.href='/member/dibsOnApartment'">찜한 단지</a>
                    <a class="userHMC" onclick="location.href='/member/wishListFavorites'">즐겨찾기</a>
                </div>
            </div>
        </header>
        <div>
            <div>
                <p>
                    총 <span>[]</span>개의 찜한 방이 있습니다.
                </p>
            </div>
            <ul th:if="${saveList != null}">
                <li th:each="save, state : ${saveList}">
                    <div>
                        <div>
                            <a onclick="location.href='/room/roomDetailInfo?roomCode=${save.roomCode}'">
                                <div>
                                    <div>
                                        <div>
                                            <img th:src="'/img/room/' + ${save.roomVO.imgList[0].attachedFileName}" alt="매물 메인 사진">
                                        </div>
                                        <div class="subPropertyTypeCodeArea">
                                            <div th:if="${save.roomVO.subPropertyTypeCode == 'STYPE_001'}">원룸</div>
                                            <div th:if="${save.roomVO.subPropertyTypeCode == 'STYPE_002'}">투룸</div>
                                            <div th:if="${save.roomVO.subPropertyTypeCode == 'STYPE_003'}">쓰리룸 이상</div>
                                            <div th:if="${save.roomVO.subPropertyTypeCode == 'STYPE_004'}">오피스텔(도시형)</div>
                                            <div th:if="${save.roomVO.subPropertyTypeCode == 'STYPE_005'}">아파트</div>
                                        </div>
                                        <div class="tradeTypeCodeArea">
                                            <div th:if="${save.roomVO.tradeTypeCode == 'TTC_001'}">월세
                                                <span th:if="${save.roomVO.tradeTypeCode == 'TTC_001'}">
                                                    [[${save.roomVO.deposit}]]/[[${save.roomVO.monthlyLease}]]
                                                </span>
                                            </div>
                                            <div th:if="${save.roomVO.tradeTypeCode == 'TTC_002'}">전세
                                                <span th:if="${save.roomVO.tradeTypeCode == 'TTC_002'}">
                                                    [[${save.roomVO.jeonseCost}]]
                                                </span>
                                            </div>
                                        </div>
                                        <div class="basicInfo">[[${save.roomVO.floor}]]층, [[${save.roomVO.roomSizeM}]]m², 관리비 [[${save.roomVO.maintenanceCost}]]만</div>
                                        <div class="detailInfo">[[${save.roomVO.content}]]</div>
                                        <div class="dibsOn">
                                            <button type="button" class="dibs_on_room"></button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div th:if="${#lists.size(saveList)} > 0">
                <ul class="pagination">
                    <li th:class="${currentPage == 1} ? disabled">
                        <a th:if="${currentPage != 1}" th:href="@{/(page=1)}">처음</a>
                        <span th:if="${currentPage == 1}">처음</span>
                    </li>
                    <li th:class="${currentPage == 1} ? disabled">
                        <a th:if="${currentPage != 1}" th:href="@{/(page=${currentPage - 1})}">이전</a>
                        <span th:if="${currentPage == 1}">이전</span>
                    </li>
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == i} ? active">
                        <a th:if="${currentPage != i}" th:href="@{/(page=${i})}" th:text="${i}"></a>
                        <span th:if="${currentPage == i}" th:text="${i}"></span>
                    </li>
                    <li th:class="${currentPage == totalPages} ? disabled">
                        <a th:if="${currentPage != totalPages}" th:href="@{/(page=${currentPage + 1})}">다음</a>
                        <span th:if="${currentPage == totalPages}">다음</span>
                    </li>
                    <li th:class="${currentPage == totalPages} ? disabled">
                        <a th:if="${currentPage != totalPages}" th:href="@{/(page=${totalPages})}">마지막</a>
                        <span th:if="${currentPage == totalPages}">마지막</span>
                    </li>
                </ul>
            </div>
            <div>
                <button type="button">방 비교하기</button>
            </div>
            <div class="inquiryCT" th:if="${memberSaveList == null}">
                <p>찜한 방이 없습니다.</p>
                <p>관심있는 방을 찜 해보세요.</p>
            </div>
        </div>
    </th:block>
</body>
</html>