<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>회원가입 페이지</title>
</head>
<body>
        <div>
            <form action="/member/join" method="post">
                <div>
                    <input type="text" class="" name="userName" placeholder="이메일 주소 입력">
                </div>
                <div>
                    <input type="password" class="" name="passWord" placeholder="8자리 이상 영문,숫자,특수문자 포함">
                </div>
                <div>
                    <input type="password" class="" placeholder="비밀번호 확인">
                </div>
                <div>
                    <select name="loginType" id="loginType" th:value="${loginType}">
                        <option value="USER">일반 회원</option>
                        <option value="REALTOR">공인중개사</option>
                    </select>
                </div>
                <div>
                    <input type="submit" value="회원가입 완료">
                </div>
            </form>
        </div>

</body>
</html>