<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>원하는 방을 한방에 한방👊</title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/member/recent_viewed_room.css">
        <link rel="stylesheet" href="/css/member/member_common.css">
        <header class="user_header">
            <div>
                <h1 class="userHTD">관심목록</h1>
                <div class="userHMD" th:if="${session.loginInfo == null}">
                    <a class="userHMC active" onclick="location.href='/member/dibsOn'" aria-current="page">최근 본 방</a>
                    <a class="userHMC" onclick="location.href='/member/loginForm'">찜한 방</a>
                    <a class="userHMC" onclick="location.href='/member/recentViewedApartment'">최근 본 단지</a>
                    <a class="userHMC" onclick="location.href='/member/loginForm'">찜한 단지</a>
                    <!-- <a class="userHMC" onclick="location.href='/member/loginForm'">즐겨찾기</a> -->
                </div>
                <div class="userHMD" th:if="${session.loginInfo != null}">
                    <a class="userHMC active" onclick="location.href='/member/dibsOn'" aria-current="page">최근 본 방</a>
                    <a class="userHMC" onclick="location.href='/member/dibsOnRoom'">찜한 방</a>
                    <a class="userHMC" onclick="location.href='/member/recentViewedApartment'">최근 본 단지</a>
                    <a class="userHMC" onclick="location.href='/member/dibsOnApartment'">찜한 단지</a>
                    <!-- <a class="userHMC" onclick="location.href='/member/wishListFavorites'">즐겨찾기</a> -->
                </div>
            </div>
        </header>
        <div>
            <div>
                <p>
                    총 <span th:text="${recentViewList.size() - 1}"></span>개의 최근 본 방이 있습니다.
                </p>
                <p>
                    최근 본 방은 최대 30개까지 저장됩니다.
                </p>
            </div>
            <ul>
                <li>
                    <div>
                        <div>
                            <a class="recentP">
                                <ul th:each="recentViewList, state : ${recentViewList}" th:if="${state.index != 0}">
                                    <li>
                                        <img th:id="'randomImg' + ${state.index}" th:src="@{'/img/room/' + ${getRandomImage()}}" alt="매물 메인 이미지" style="width: 100px; height: 100px;">
                                    </li>
                                    <li>
                                        <p>[[${recentViewList.deposit}]]/[[${recentViewList.monthlyLease}]], 관리비 [[${recentViewList.maintenanceCost}]]만</p>
                                    </li>
                                    <li>
                                        <p>[[${recentViewList.title}]]</p>
                                    </li>
                                </ul>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="inquiryCT" th:if="${recentViewList == null}">
                <p>최근 본 방이 없습니다.</p>
                <p>관심있는 방을 둘러보세요.</p>
            </div>
        </div>
        <script th:inline="javascript">
            function getRandomImage() {
                var images = ["fec1a14f-93ef-48cf-8081-e610942fcbfd.jpg"
                , "3bb61cad-4722-421e-a3cb-072aab926ce8.jpg"
                , "3ad46480-f9d8-4356-9f7d-308915712bff.jpg"
                , "2add7544-2e8a-41ac-9775-91384ce12ef1.jpg"
                , "1d11ca72-3692-472a-9445-7c2f3f858ae7.jpg",];
                var randomIndex = Math.floor(Math.random() * images.length);
                return images[randomIndex];
            }

            document.addEventListener("DOMContentLoaded", function() {
                var recentViewList = document.querySelectorAll('[id^=randomImg]');
                recentViewList.forEach(function (imgElement) {
                    imgElement.src = '/img/room/' + getRandomImage();
                });
            });
        </script>
    </th:block>
    <th:block layout:fragment="content_js">
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script async src="/js/member/recent_viewed_room.js"></script>
    </th:block>
</body>
</html>