<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>원하는 방을 한방에 한방👊</title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/member/recent_viewed_room.css">
        <link rel="stylesheet" href="/css/member/member_common.css">
        <header class="user_header">
            <div>
                <h1 class="userHTD">관심목록</h1>
                <div class="userHMD" th:if="${session.loginInfo == null}">
                    <a class="userHMC active" onclick="location.href='/member/dibsOn'" aria-current="page">최근 본 방</a>
                    <a class="userHMC" onclick="location.href='/member/loginForm'">찜한 방</a>
                    <a class="userHMC" onclick="location.href='/member/recentViewedApartment'">최근 본 단지</a>
                    <a class="userHMC" onclick="location.href='/member/loginForm'">찜한 단지</a>
                    <!-- <a class="userHMC" onclick="location.href='/member/loginForm'">즐겨찾기</a> -->
                </div>
                <div class="userHMD" th:if="${session.loginInfo != null}">
                    <a class="userHMC active" onclick="location.href='/member/dibsOn'" aria-current="page">최근 본 방</a>
                    <a class="userHMC" onclick="location.href='/member/dibsOnRoom'">찜한 방</a>
                    <a class="userHMC" onclick="location.href='/member/recentViewedApartment'">최근 본 단지</a>
                    <a class="userHMC" onclick="location.href='/member/dibsOnApartment'">찜한 단지</a>
                    <!-- <a class="userHMC" onclick="location.href='/member/wishListFavorites'">즐겨찾기</a> -->
                </div>
            </div>
        </header>
        <div>
            <div>
                <p>
                    총 <span>[[${#lists.size(recentRooms)}]]</span>개의 최근 본 방이 있습니다.
                </p>
                <p>
                    최근 본 방은 최대 30개까지 저장됩니다.
                </p>
            </div>
            <ul>
                <li th:each="room : ${recentRooms}">
                    <div>
                        <div>
                            <a th:href="@{'/room/details/' + ${room.roomCode}}">
                                <img th:src="@{'/img/' + ${room.imageFileName}}" alt="매물 메인 이미지">
                                <p>[[${room.propertyType.propertyTypeName}]]</p>
                                <p>[[${room.tradeType.tradeTypeName}]] [[${room.monthlyLease}]]/[[${room.deposit}]]</p>
                                <p>[[${room.floor}]]층, [[${room.roomSizeM}]]m², 관리비[[${room.maintenanceCost}]]만</p>
                                <p>[[${room.title}]]</p>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="inquiryCT" th:if="${#lists.size(recentRooms)} == 0">
                <p>최근 본 방이 없습니다.</p>
                <p>관심있는 방을 둘러보세요.</p>
            </div>
        </div>
    </th:block>
</body>
</html>