<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>원하는 방을 한방에 한방👊</title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/member/recent_viewed_room.css">
        <link rel="stylesheet" href="/css/member/member_common.css">
        <header class="user_header">
            <div>
                <h1 class="userHTD">관심목록</h1>
                <div class="userHMD" th:if="${session.loginInfo == null}">
                    <a class="userHMC active" onclick="location.href='/member/dibsOn'" aria-current="page">최근 본 방</a>
                    <a class="userHMC" onclick="location.href='/member/loginForm'">찜한 방</a>
                    <a class="userHMC" onclick="location.href='/member/recentViewedApartment'">최근 본 단지</a>
                    <a class="userHMC" onclick="location.href='/member/loginForm'">찜한 단지</a>
                    <!-- <a class="userHMC" onclick="location.href='/member/loginForm'">즐겨찾기</a> -->
                </div>
                <div class="userHMD" th:if="${session.loginInfo != null}">
                    <a class="userHMC active" onclick="location.href='/member/dibsOn'" aria-current="page">최근 본 방</a>
                    <a class="userHMC" onclick="location.href='/member/dibsOnRoom'">찜한 방</a>
                    <a class="userHMC" onclick="location.href='/member/recentViewedApartment'">최근 본 단지</a>
                    <a class="userHMC" onclick="location.href='/member/dibsOnApartment'">찜한 단지</a>
                    <!-- <a class="userHMC" onclick="location.href='/member/wishListFavorites'">즐겨찾기</a> -->
                </div>
            </div>
        </header>
        <div>
            <div>
                <p>
                    총 <span></span>개의 최근 본 방이 있습니다.
                </p>
                <p>
                    최근 본 방은 최대 30개까지 저장됩니다.
                </p>
            </div>
            <ul>
                <li>
                    <div>
                        <div>
                            <a>
                                <ul>
                                    <li>
                                        <img id="cookieIsMain" src="" alt="매물 메인 이미지">
                                    </li>
                                    <li>
                                        <p id="cookiePropertyTypeName"></p>
                                    </li>
                                    <li>
                                        <p id="cookieTradeTypeName"></p><p id="cookieMonthlyLease"></p><p id="cookieDeposit"></p>
                                    </li>
                                    <li>
                                        <p id="cookieFloor"></p><p id="cookieRoomSizeM"></p><p id="cookieMaintenanceCost"></p>
                                    </li>
                                    <li>
                                        <p id="cookieTitle"></p>
                                    </li>
                                </ul>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="inquiryCT">
                <p>최근 본 방이 없습니다.</p>
                <p>관심있는 방을 둘러보세요.</p>
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="content_js">
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script async src="/js/member/recent_viewed_room.js"></script>
    </th:block>
</body>
</html>