<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <title>원하는 방을 한방에 한방👊</title>
</head>

<body>
    <th:block layout:fragment="content">
        <th:block layout:fragment="content_css">
            <link rel="stylesheet" href="/css/member/user_call.css">
            <link rel="stylesheet" href="/css/member/member_common.css">
            <link rel="stylesheet" href="/css/member/list.css">
        </th:block>
        <header class="user_header">
            <div>
                <h1 class="userHT">MY 한방</h1>
                <div class="userHM">
                    <a class="userHMC active" onclick="location.href='/member/memberCall'" aria-current="page">매물문의</a>
                    <a class="userHMC" onclick="location.href='/member/memberInquiry'">1:1 문의내역</a>
                    <a class="userHMC" onclick="location.href='/member/memberReport'">허위매물 신고내역</a>
                    <a class="userHMC" onclick="location.href='/member/memberInfo'">내 정보</a>
                </div>
            </div>
        </header>
        <table>
            <thead>
                <tr>
                    <td>No</td>
                    <td>문의 내용</td>
                    <td>날 짜</td>
                    <td>상 태</td>
                </tr>
            </thead>
            <th:block th:if="${#lists.size(roomInquiryList) != 0}">
                <tbody>
                    <th:block th:each="inquiry,state : ${roomInquiryList}">
                        <tr>
                            <td>[[${#lists.size(roomInquiryList) - state.index}]]</td>
                            <th:block th:if="${inquiry.inquiryAnswer != null}">
                                <td class="room-inquiry-titles cursor" th:onclick="inquiryAnswer(this,[[${inquiry.inquiryCode}]]);">
                                    <span>[[${inquiry.inquiryTitleVO.inquiryTitles}]]</span>
                                </td>
                            </th:block>
                            <th:block th:unless="${inquiry.inquiryAnswer != null}">
                                <td class="room-inquiry-titles">
                                    <span class="default">[[${inquiry.inquiryTitleVO.inquiryTitles}]]</span>
                                </td>
                            </th:block>
                            <td>[[${inquiry.inquiryDate}]]</td>
                            <td>[[${inquiry.inquiryStatusVO.statusName}]]</td>
                        </tr>
                        <tr class="room-inquiry-answer toggle-tr" th:if="${inquiry.inquiryAnswer != null}">
                            <td colspan="4"><pre>[[${inquiry.inquiryAnswer}]]</pre></td>
                        </tr>
                    </th:block>
                </tbody>
            </th:block>
            <th:block th:if="${#lists.size(roomInquiryList) == 0}">
                <tbody class="compenCT no-room-inquiry">
                    <tr>
                        <td colspan="4">문의한 방이 없습니다.
                            <p>관심있는 방을 문의 해보세요</p>
                        </td>
                    </tr>
                </tbody>
            </th:block>
        </table>
        <div class="callWP">
            <div class="compensationTA">
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="compensation">
                <button class="compenBtn">
                    <a onclick="">보상안내</a>
                </button>
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="content_js">
        <script src="/js/member/user_call.js" defer></script>
    </th:block>
</body>

</html>