<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>원하는 방을 한방에 한방👊</title>
</head>
<body>
    <th:block layout:fragment="content">
        <th:block layout:fragment="content_css">
            <link rel="stylesheet" href="/css/member/user_report.css">
            <link rel="stylesheet" href="/css/member/member_common.css">
            <link rel="stylesheet" href="/css/member/list.css">
        </th:block>
        <header class="user_header">
            <div>
                <h1 class="userHT">MY 한방</h1>
                <div class="userHM">
                    <a class="userHMC" onclick="location.href='/member/memberCall'">매물문의</a>
                    <a class="userHMC" onclick="location.href='/member/memberInquiry'">1:1 문의내역</a>
                    <a class="userHMC active" onclick="location.href='/member/memberReport'" aria-current="page">허위매물 신고내역</a>
                    <a class="userHMC" onclick="location.href='/member/memberInfo'">내 정보</a>
                </div>
            </div>
        </header>
        <div class="reportWP">
            <div class="reportTA">
                <p>직거래 매물 신고 내역에 대해서 확인하실 수 있으며, 중개사 신고 매물은 부동산매물클린관리센터(1600-7186)로 확인하시기 바랍니다.</p>
                <p>신고내역은 신고 당시의 매물 정보입니다.</p>
                <p>신고하신 내용에 대한 수정 및 삭제는 불가합니다.</p>
            </div>
            <table class="inquiryCT">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>매물</th>
                        <th>문의일</th>
                        <th>상태</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:if="${#lists.size(falseOfferingsList)==0}">
                        <tr class="reportCT">
                            <td colspan="4">신고내역이 없습니다.</td>
                        </tr>
                    </th:block>
                    <th:block th:if="${#lists.size(falseOfferingsList)!=0}">
                        <tr th:each="inquiry, state : ${falseOfferingsList}">
                            <td>[[${#lists.size(falseOfferingsList) - state.index}]]</td>
                            <td>[[${inquiry.roomVO.RoomAddrVO.addr}]]</td>
                            <td>[[${inquiry.reportDate}]]</td>
                            <td>[[${inquiry.inquiryStatusVO.statusName}]]</td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </th:block>
</body>
</html>