<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>원하는 방을 한방에 한방👊</title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/member/user_call.css">
        <header class="user_header">
            <div>
                <h1 class="userHT">MY 한방</h1>
                <div class="userHM">
                    <a class="userHMC active" onclick="location.href='/member/memberCall'" aria-current="page">전화문의</a>
                    <a class="userHMC" onclick="location.href='/member/memberInquiry'">1:1 문의내역</a>
                    <a class="userHMC" onclick="location.href='/member/memberReport'">허위매물 신고내역</a>
                    <a class="userHMC" onclick="location.href='/member/memberAccount'">내 정보</a>
                </div>
            </div>
        </header>
        <div class="">
            <button class="">
                <span>보상안내</span>
            </button>
        </div>
        <th:block th:if="${#lists.size(roomInquiryList) != 0}">
            <table>
                <thead>
                    <tr>
                        <td>No</td>
                        <td>문의 내용</td>
                        <td>날 짜</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="inquiry,state : ${roomInquiryList}">
                        <td>[[${#lists.size(roomInquiryList) - state.index}]]</td>
                        <td class="room-inquiry-titles">[[${inquiry.inquiryTitleVO.inquiryTitles}]]</td>
                        <td>[[${inquiry.inquiryDate}]]</td>
                    </tr>
                </tbody>
            </table>
        </th:block>
        <th:block  th:unless="${#lists.size(roomInquiryList) != 0}">
            <div class="no-room-inquiry">
                <p>문의한 방이 없습니다.</p>
                <p>관심있는 방을 문의 해보세요</p>
            </div>
        </th:block>
    </th:block>
</body>
</html>