<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>[내 정보 관리]</title>
</head>
<body>
    <th:block th:fragment="content">
        <div class="">
            <div class="">
                <div class="">
                    <div size="96" class="">
                        <label class="form-label"></label>
                        <input type="file" class="form-control" name="profileImg" value="사진">
                    </div>
                    <div class="">
                    </div>
                </div>
            </div>
            <ul class="">
                <li>
                    <div class="">
                        <p>소셜계정 목록 추가 필요 / 카카오톡, 페이스북</p>
                        <h1>연결된 소셜계정</h1>
                    </div>
                    <div class=""></div>
                </li>
                <li>
                    <div class="">
                        <h1>닉네임</h1>
                    </div>
                    <div class="" style="cursor: pointer;">
                        <p>[접속 유저 닉네임]</p>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1>이름</h1>
                    </div>
                    <div class="" style="cursor: pointer;">
                        <p>이창규</p>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1>휴대폰번호</h1>
                    </div>
                    <div class="" style="cursor: pointer;">
                        <div class="">
                            <p>010-4939-4018</p>
                            <h1 class="">본인 인증</h1>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div>
                        <h1>개인정보 수집 및 이용 동의 (선택)</h1>
                        <p>선택정보 제공에 대한 동의를 거부하시는 경우에도</p>
                        <p>서비스 이용이 가능합니다.</p>
                        <button type="button" class="">
                        <div>
                            <span class="">상세보기</span>
                        </div>
                        </button>
                    </div>
                    <button type="button" class="">
                        <span class="">해제</span>
                    </button>
                </li>
            </ul>
            <div class="">
                <button type="button" font-weight="regular" class="">
                    <div>
                        <span class="">회원탈퇴</span>
                    </div>
                </button>
            </div>
        </div>
    </th:block>
</body>
</html>