<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>원하는 방을 한방에 한방👊</title>
</head>
<body>
    <th:block th:fragment="content">
        <div class="user_my_page">
            <div class="profile_img_wrap">
                <div class="profile_img">
                    <div size="96" class="">
                        <label class="form-label"></label>
                        <input type="file" class="form-control profile_img" name="profileImg" value="사진">
                    </div>
                </div>
            </div>
            <ul class="">
                <li>
                    <div class="">
                        <p>소셜계정 목록 추가 필요 / 카카오톡, 페이스북</p>
                        <h1>연결된 소셜계정</h1>
                    </div>
                    <div class=""></div>
                </li>
                <li>
                    <div class="">
                        <h1>닉네임</h1>
                    </div>
                    <div class="" style="cursor: pointer;">
                        <p><a href="">[${session.loginInfo.userName}]<img src="" alt="닉네임 변경 창"></a></p>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1>이름</h1>
                    </div>
                    <div class="" style="cursor: pointer;">
                        <p>이창규 > [본인인증창]</p>
                    </div>
                </li>
                <li>
                    <div class="">
                        <h1>휴대폰번호</h1>
                    </div>
                    <div class="" style="cursor: pointer;">
                        <div class="">
                            <p>010-4939-4018 > [본인인증창] [본인인증 완료 시 아래 본인인증 마크와 텍스트]</p>
                            <h1 class="">본인 인증</h1>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div>
                        <h1>개인정보 수집 및 이용 동의 (선택)</h1>
                        <p>선택정보 제공에 대한 동의를 거부하시는 경우에도</p>
                        <p>서비스 이용이 가능합니다.</p>
                        <button type="button" class="">
                        <div>
                            <span class="" onclick="window.open('/member/userinfo_consent.html')">상세보기</span>
                        </div>
                        </button>
                    </div>
                    <button type="button" class="">
                        <span class="">해제</span>
                    </button>
                </li>
            </ul>
            <div class="">
                <button type="button" font-weight="regular" class="">
                    <div>
                        <span class=""><a onclick="location.href='/member/memberDelete';">회원탈퇴</a></span>
                    </div>
                </button>
            </div>
            <!-- // onclick="location.href='/member/passwordSetForm';" - 이거 나중에 유저정보창에 써라. -->
            <!-- 닉네임 변경 창 -->
            <div class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">닉네임 재설정</h5>
                        </div>
                        <div class="modal-body">
                            <h4>닉네임</h4>
                            <input autocomplete="off" type="text" placeholder="닉네임을 입력해주세요." id="inputNickName" th:value="${nickName}" oninput="countCharacters();" maxlength="10">
                            <p id="characterCount">0/10</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary data" data-bs-dismiss="modal">닫기</button>
                            <button type="submit" class="btn btn-primary">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script async src="/js/member/user_info.js"></script>
    </th:block>
</body>
</html>