<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>원하는 방을 한방에 한방👊</title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/member/user_info.css">
        <link rel="stylesheet" href="/css/member/member_common.css">
        <header class="user_header">
            <div>
                <h1 class="userHT">MY 한방</h1>
                <div class="userHM">
                    <a class="userHMC" onclick="location.href='/member/memberCall'">전화문의</a>
                    <a class="userHMC" onclick="location.href='/member/memberInquiry'">1:1 문의내역</a>
                    <a class="userHMC" onclick="location.href='/member/memberReport'">허위매물 신고내역</a>
                    <a class="userHMC active" onclick="location.href='/member/memberInfo'" aria-current="page">내 정보</a>
                </div>
            </div>
        </header>
        <div class="user_my_page">
            <div class="profile">
                <div class="profile_change upload">
                    <form id="profileForm" action="/member/updateProfile" method="post" enctype="multipart/form-data">
                        <div id="imagePreview" class="fake_upload">
                            <input class="form-control real_upload" id="profileImg" name="profileImg" type="file" onchange="submitForm()">
                            <img class="proImg" th:src="@{'http://localhost:8081/' + ${session.loginInfo.memberImgVO.profileImgName}}" alt="프로필 이미지" draggable="false">
                            <div class="pro_ico">
                                <img src="/img/member/camera_icon.png" alt="프로필 사진 변경">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="info_list">
                <li>
                    <div class="infoT"> 
                        <h1>연결된 소셜계정</h1>
                    </div>
                    <div class="social_ico">
                        <div class="email-icon"></div>
                        <div class="kakao-icon"></div>
                        <div class="facebook-icon"></div>
                    </div>
                </li>
                <li>
                    <div class="infoT"> 
                        <h1>닉네임</h1>
                    </div>
                    <div class="loginUserData">
                        <p>[[${session.loginInfo?.nickName}]]</p>
                    </div>
                    <div class="cp">
                        <button type="button" id="NNCBtn">
                            <img src="/img/member/right_icon.png" alt="닉네임 변경 창" class="rightBtn">
                        </button>
                    </div>
                </li>
                <li>
                    <div class="infoT">
                        <h1>아이디</h1>
                    </div>
                    <div class="loginUserData">
                        <p class="LUDname">[[${session.loginInfo?.userName}]]</p>
                    </div>
                </li>
                <li>
                    <div class="infoT"> 
                        <h1>비밀번호</h1>
                    </div>
                    <div class="cp">
                        <button type="button" id="PWCBtn">
                            <img src="/img/member/right_icon.png" alt="비밀번호 변경 창" class="rightBtn">
                        </button>
                    </div>
                </li>
                <li>
                    <div class="infoT">
                        <h1>이름</h1>
                    </div>
                    <div class="loginUserData">
                        <p></p>
                    </div>
                    <div class="cp">
                        <button type="button" id="NNCBtn">
                            <img src="/img/member/right_icon.png" alt="닉네임 변경 창" class="rightBtn">
                        </button>
                    </div>
                </li>
                <li>
                    <div class="infoT">
                        <h1>휴대폰번호</h1>
                    </div>
                    <div class="loginUserData">
                        <div class="">
                            <p>[[${session.loginInfo?.phone}]]</p>
                            <h1 class="userChecked">본인인증</h1>
                        </div>
                    </div>
                    <div class="cp">
                        <button type="button" id="NNCBtn">
                            <img src="/img/member/right_icon.png" alt="닉네임 변경 창" class="rightBtn">
                        </button>
                    </div>
                </li>
                <li class="privacy_agreement">
                    <div>
                        <h1>개인정보 수집 및 이용 동의 (선택)</h1>
                        <p>선택정보 제공에 대한 동의를 거부하시는 경우에도</p>
                        <p>서비스 이용이 가능합니다.</p>
                        <button type="button" class="view_deatils">
                            <div>
                                <span class="vdBtn" onclick="openNewWindow('/member/userinfo_consent')">상세보기</span>
                            </div>
                        </button>
                    </div>
                    <button type="button" class="agreement">
                        <span class="amBtn">동의/해제</span>
                    </button>
                </li>
            </ul>
            <div class="secession">
                <button type="button" font-weight="regular" class="seceBtn">
                    <div>
                        <span class="seceSpan">
                            <a onclick="location.href='/member/deleteMember';">회원탈퇴</a>
                        </span>
                    </div>
                </button>
            </div>
        </div>

        <!-- 닉네임 변경 창 -->
        <div class="modal fade" id="NNC" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <form id="NNCForm" class="row g-3" th:action="@{/member/updateNickName}" method="post">
                            <h1 class="modal-title">닉네임 재설정</h1>
                            <div class="modal-body">
                                <h4>닉네임</h4>
                                <label for="nickName" class="form-label"></label>
                                <input autocomplete="off" type="text" placeholder="닉네임을 입력해주세요." id="nickName" name="nickName" oninput="countCharacters()" maxlength="10">
                                <p id="characterCount">0/10</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary data" data-bs-dismiss="modal">닫기</button>
                                <button type="submit" class="btn btn-primary">확인</button>
                            </div>
                        </form>    
                    </div>
                </div>
            </div>
        </div>

        <script>
        function submitForm() {
            var fileInput = document.getElementById('profileImg');
            var file = fileInput.files[0];
            var formData = new FormData();
            formData.append('profileImg', file);

            fetch('/member/updateProfile', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                alert('프로필 사진이 등록되었습니다!');
                console.log(data);
            })
            .catch(err => {
                alert('fetch error!\nthen 구문에서 오류가 발생했습니다.\n콘솔창을 확인하세요!');
                console.log(err);
            });
        }
        </script>
        </body>
    </th:block>
    <th:block layout:fragment="content_js">
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script async src="/js/member/user_info.js"></script>
    </th:block>
</body>
</html>