<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>원하는 방을 한방에 한방👊</title>
</head>
<body>
    <th:block layout:fragment="content">
        <th:block layout:fragment="content_css">
            <link rel="stylesheet" href="/css/member/user_inquiry_detail.css">
            <link rel="stylesheet" href="/css/member/member_common.css">
            <link rel="stylesheet" href="/css/member/list.css">
        </th:block>
        <header class="user_header">
            <div>
                <h1 class="userHT">MY 한방</h1>
                <div class="userHM">
                    <a class="userHMC" onclick="location.href='/member/memberCall'">전화문의</a>
                    <a class="userHMC active" onclick="location.href='/member/memberInquiry'"aria-current="page">1:1 문의내역</a>
                    <a class="userHMC" onclick="location.href='/member/memberReport'">허위매물 신고내역</a>
                    <a class="userHMC" onclick="location.href='/member/memberInfo'">내 정보</a>
                </div>
            </div>
        </header>
        <div class="wrap">
            <table class="inquiryCT">
                <thead>
                    <h1>문의하신 내역의 상세 내용입니다.</h1>
                    <p>답변의 내용이 마음에 들지 않으시면, 재문의 부탁드립니다.</p>
                </thead>
                <tbody>
                <th:block th:each="memberInquiry, state : ${memberInquiryList}">
                    <tr>
                        <th>No</th>
                        <td>[[${#lists.size(memberInquiryList) - state.index}]]</td>
                        <th>질문일</th>
                        <td>[[${memberInquiry.memberInquiryWriteDate}]]</td>
                        <th>답변일</th>
                        <!-- <td th:if="${}"></td> -->
                        <td>답변을 기다려주세요.</td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>[[${memberInquiry.memberInquiryTitle}]]</td>
                        <th>문의유형</th>
                        <td>[[${memberInquiry.memberInquiryTypeVO.memberInquiryName}]]</td>
                    </tr>
                    <tr>
                        <th>질문 내용</th>
                        <td>[[${memberInquiry.memberInquiryDetail}]]</td>
                    </tr>
                    <!-- <tr>
                        <th>문의 사진</th>
                        <td>[[${memberInquiry.memberInquiryImgVO.memberAttachedInquiryImgName}]]</td>
                    </tr> -->
                    <tr>
                        <th>답변 내용</th>
                        <!-- <td th:if="${}"></td> -->
                        <td>답변을 기다려주세요.</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </th:block>
    <th:block layout:fragment="content_js">
        <script defer src="/js/member/user_inquiry_detail.js"></script>
    </th:block>
</body>
</html>
