@charset "UTF-8";
/* inquiry_board.css */

.side{
    padding: 0;
}
.side > div{
    border-bottom: 2px solid #ddd;
}
.no_inquiry td{
    font-size: 18px;
    padding: 20px 0;
}
table{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border-top: 4px solid #bfc9d0;
}
tbody > tr:hover {
    background-color: #e9e5e5;
}
td{
    border-bottom: 1px solid #eef3f7;
    padding: 10px;
}
.no-answer{
    color: #ff0404;
    font-weight: 500;
}
.btn.btn-light{
    margin-top: 0;
    border-radius: 0;
}
.table_box{
    padding: 40px 20px;
}
.page{
    text-align: center;
    margin: 22px 0;
}
.page > a{ 
    padding: 0 8px;
    color: #222;
}
.page > a:hover{
    text-decoration: underline;
}