@charset "UTF-8";
/* realtor_pwCorrect.css */

form{ 
    position: relative;
    width: 40%;
    margin: 0 auto 50px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > *{
    margin: 20px;
}
#password{
    padding: 5px 5px 5px 10px;
    border-radius: 4px;
}
#pwCorectText{
    display: block;
    color: red;
    font-weight: 500;
    position: absolute;
    top: 190px;
    left: 98px;
}
