@charset "UTF-8";
/* realtor_mypage.css */

#wrap{
    text-align: center;
    position: relative;
    max-width: 1440px;
    margin: 0 auto 150px;
}
.side .btn.btn-light{
    margin-top: 0;
    border-radius: 0;
}
.side{
    /* background-color: #f8f9fa; */
    padding: 0;
}
.side > div{
    border-bottom: 2px solid #ddd;
}
.info{
    width: 45%;
    margin-left: 50px;
}
.cate{
    text-align: left;
    margin-bottom: 5px;
    color: #767474;
}
input{
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #aaa;
}
.acceptanceBox{
    position: relative;
}
.acceptanceBox button{
    margin-top: 15px;
}
.acceptance{
    position: absolute;
    top: 27px;
    left: 0px;
    padding-top: 10px;
}
.uncertification{
    color: rgb(247, 42, 42);
}
.certification{
    color: rgb(37, 37, 243);
}