@charset "UTF-8";

.search_room{
    width: 100%;
    padding: 40px 10px 60px 10px;
    background-color: #5c75bb;    
    margin-bottom: 50px;
}

.search_room h3{
    margin-bottom: 20px;
    line-height: 60px;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
}
.h_search{
    width: 100%;
    border: 3px solid #fff;
    height: 50px;
}
.h_search div{
    position: relative;
    margin-top: 4px;
}
.insertAddr{
    width: 94%;
    height: 37px;
    padding-left: 20px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
}
.insertAddr::placeholder{
    color: #fff;
}
.insertAddr:focus{
    outline: none;
}
.searchBtn{
    position: absolute;
    top: 2px;
    right: 0;
    width: 49px;
    height: 49px;
    margin-top: -8px;
    border: none;
    background-color: #fff;
    background-image: url(../../img/main/btn_search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px 40px;
}
.main_content1{
    width: 100%;
    margin-bottom: 80px;
}

.ai_picks{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    padding: 0px 10px;
}

.ai_title1{
    color: rgb(34, 34, 34);
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.5px;
    font-weight: 400;
}

.ai_title1 > span{
    color: rgb(50, 108, 249);
    font-weight: 700;
}

.ai_title2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 4px;
}

.ai_title2 > p{
    color: rgb(101, 101, 101);
    font-size: 14px;
    line-height: 24px;
}

.ai_title2 > p{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 0;
    margin-right: auto;
    color: rgb(101, 101, 101);
    font-size: 14px;
    line-height: 24px;
}

.ai_room_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 20px;
    margin-top: 24px;
}

.ai_room_list > li{
    width: 280px;
}

.ai_room1{
    position: relative;
}

.ai_room1{
    display: block;
}

.ai_room_img_wrap{
    padding-top: 66.43%;
    border-radius: 2px;
    position: relative;
}

.ai_room_img_wrap > div{
    position: absolute;
    inset: 0px;
}

.ai_room_img_content{
    flex: 0 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgb(250, 250, 250);
    background-size: 60px 60px;
    user-select: none;
    position: relative;
}
.ai_room_img_content > img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    font-family: "object-fit: cover;";
    border-radius: 2px;
}

.ai_room_img{
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 200ms ease-in-out 0s;
    position: absolute;
    inset: 0px;
    z-index: 1;
}

.ai_room_img_f{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 9;
}

.ai_room_img_btn{
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
}

.ai_room_img_btn > button{
    width: 24px;
    height: 24px;
    border: 0px;
    background-color: transparent;
}

.ai_room_info{
    padding-top: 20px;
}

.room_title{
    color: rgb(34, 34, 34);
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

.room_price{
    margin-bottom: 4px;
    color: rgb(34, 34, 34);
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.room_info{
    color: rgb(101, 101, 101);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*  */

.main_content2{
    width: 100%;
    margin-bottom: 100px;
    padding: 40px 0px;
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
}

.main_content2 > div{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    padding: 0px 10px;
}

.content2_title{
    margin-bottom: 16px;
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.content2_title > span{
    color: rgb(50, 108, 249);
}

.content2_wrap{
    position: relative;
}

.content2_wrap > div{
    display: flex;
    touch-action: none;
    user-select: none;
}

.content2_btn_left{
    width: 50px;
    height: 50px;
    border: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0.35;
    transition: opacity 100ms ease-in-out 0s;
    background: url() center center / cover no-repeat;
    left: 0px;
}

.content2_btn_right{
    width: 50px;
    height: 50px;
    border: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0.35;
    transition: opacity 100ms ease-in-out 0s;
    background: url() center center / cover no-repeat;
    right: 0px;
}

.room_avg_price_info{
    flex: 0 0 auto;
    width: 218px;
    min-height: 220px;
    padding: 30px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}

.rapi_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.rapi_title > p{
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 26px;
}

.rapi_info{
    display: grid;
    grid-template-columns: 41px 1fr;
    gap: 4px 0px;
    margin-top: 16px;
}

.monye{
    margin: 3px 0px;
    color: rgb(101, 101, 101);
    font-size: 14px;
    line-height: 24px;
}

.monye_avg{
    color: rgb(34, 34, 34);
    font-size: 18px;
    line-height: 30px;
}

.area{
    margin-top: 16px;
    color: rgb(151, 151, 151);
    font-size: 12px;
    line-height: 20px;
}

.room_convenience_facilities{
    flex: 0 0 auto;
    width: 504px;
    min-height: 220px;
    padding: 30px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}

.room_inquiry_charts{
    flex: 0 0 auto;
    width: 288px;
    min-height: 220px;
    padding: 14px 30px 18px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}


.room_convenience_facilities{
    flex: 0 0 auto;
    width: 504px;
    min-height: 220px;
    padding: 30px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}

.rcf_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.rcf_title > p{
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 26px;
}

.rcf_content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px 0px 2px;
}

.rcf_content > div{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.rcf_icon{
    flex: 0 0 auto;
    width: 34px;
    height: 34px;
    margin-top: 1px;
    margin-bottom: 5px;
    background: url() center center / cover no-repeat;
}

.rcf_tit{
    flex: 0 0 auto;
    color: rgb(101, 101, 101);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    white-space: nowrap;
}

.rcf_count{
    flex: 0 0 auto;
    color: rgb(34, 34, 34);
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    white-space: nowrap;
}






.room_inquiry_charts{
    flex: 0 0 auto;
    width: 288px;
    min-height: 220px;
    padding: 14px 30px 18px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}



.slide_wrap{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.slide_bg{
    width: 100%;
    background: url() center center / cover no-repeat;
    outline: none;
    border: none;
}

.slide_img{
    width: 1200px;
    margin: 0px auto;
    background: url() center center / contain no-repeat;
    cursor: pointer;
}

.percelout_wrap{
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 60px 0px 80px;
    background-color: rgb(67, 77, 104);
    overflow: hidden;
}

.percelout_wrap > div > div.header{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.percelout_wrap > div > div.header > p{
    line-height: 40px;
    font-size: 28px;
    color: rgb(255, 255, 255);
}

.percelout_wrap > div > div.header > a{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
}

.pco_conent{
    position: relative;
    right: 0px;
    display: flex;
    width: 580px;
    margin-top: 30px;
    overflow: hidden;
    transition: right 0.5s ease-out 0s;
}

.pco_info1{
    width: 580px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 15px 0px;
    background-color: rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
}

.pco_tit{
    position: relative;
}

.pco_badge{
    display: flex;
    position: absolute;
    top: 0px;
    left: 25px;
    z-index: 2;
}

.pco_badge > p.state{
    padding: 7px 15px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 50, 110);
}

.pco_badge > p.title{
    padding: 7px 12px;
    font-size: 13px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(51, 51, 51, 0.3);
}

.pco_img{
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
    z-index: 2;
}

.addr{
    opacity: 0.8;
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
}

.poco_bottom{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.addr_detail{
    width: 390px;
    font-size: 26px;
    line-height: 38px;
    color: rgb(255, 255, 255);
}

.pco_price_info{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 38px
}

.pco_price_info p.text{
    margin-right: 4px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.pco_price_info p.price{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.img_be_af{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

.pco_info2{
    display: flex;
    width: 100%;
    padding: 22px 0px;
}

.pco_info2 > li{
    width: 25%;
    padding: 0px 20px;
}

.pco_info2 > li > p.title{
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(134, 134, 134);
}

.pco_info2 > li > p.value{
    font-size: 14px;
    line-height: 18px;
    color: rgb(34, 34, 34);
}

.pagenum_wrap{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 50px;
}

.pagenum{
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid;
    cursor: pointer;
    user-select: none;
}

.board_list{
    width: 100%;
    padding: 60px 0px;
}

.board_list > div{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    padding: 0px 10px;
}

.list_wrap{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.list_wrap > li{
    display: flex;
    flex-direction: column;
}

.list_wrap > li > p.title{
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    color: rgb(34, 34, 34);
    margin-bottom: 18px;
}

.list_wrap > li > a{
    font-size: 15px;
    line-height: 30px;
    color: rgb(136, 136, 136);
}
.buyItemList a{
    font-size: 15px;
    line-height: 30px;
    color: rgb(136, 136, 136);
}
