<!DOCTYPE html>
<html lang="ko" xlmns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{realtor/realtor_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <div id="wrap">
            <div class="row">
                <div class="col">
                    <th:block th:if="${inquiryDetail.inquiryTitleCode == 'INQUIRY_TITLE_001'}">
                        <div></div>
                    </th:block>
                    <th:block th:unless="${inquiryDetail.inquiryTitleCode == 'INQUIRY_TITLE_001'}">
                        <div>[[${inquiryDetail.inquiryTitleVO.inquiryTitles}]]</div>
                    </th:block>
                </div>
                <div class="col">[[${inquiryDetail.fromUserNo}]]</div>
                <div class="col">[[${inquiryDetail.inquiryDate}]]</div>
            </div>
            <div class="row">
                <div class="col">[[${inquiryDetail.inquiryContent}]]</div>
            </div>
            <th:block th:unless="${inquiryDetail.inquiryAnswer == null}">
                <div class="row">
                    <div class="col">
                        <form action="/realtor/inquiryAnswer" method="post">
                            <input type="hidden" th:value="${inquiryDetail.inquiryCode}">
                            <textarea name="inquiryAnswer" id="" cols="30" rows="10"></textarea>
                            <input type="submit" value="답변하기">
                        </form>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${inquiryDetail.inquiryAnswer == null}">
                <div class="row">
                    <div class="col">
                        답변이 완료된 게시글입니다. <br>
                    </div>
                </div>
            </th:block>
        </div>
    </th:block>
</body>
</html>