<!DOCTYPE html>
<html lang="ko" xlmns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{realtor/realtor_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <div id="wrap">
            <div class="row">
                <div class="col">
                    <th:block th:if="${inquiryDetail.inquiryTitleCode == 'INQUIRY_TITLE_001'}">
                        <span></span>
                    </th:block>
                    <th:block th:unless="${inquiryDetail.inquiryTitleCode == 'INQUIRY_TITLE_001'}">
                        <span>[[${inquiryDetail.inquiryTitleVO.inquiryTitles}]]</span>
                    </th:block>
                </div>
                <div class="col">[[${inquiryDetail.fromUserNo}]]</div>
                <div class="col">[[${inquiryDetail.inquiryDate}]]</div>
            </div>
            <div class="row">
                <div class="col-3">문의내용 : </div>
                <div class="col-9">[[${inquiryDetail.inquiryContent}]]</div>
            </div>
            <th:block th:if="${inquiryDetail.inquiryAnswer == null}">
                <div class="row">
                    <div class="col">
                        <form action="/realtor/inquiryAnswer" method="post" id="inquiryAnswerForm">
                            <input type="hidden" th:value="${inquiryDetail.inquiryCode}" name="inquiryCode">
                            <textarea name="inquiryAnswer" id="" cols="30" rows="10"></textarea>
                        </form>
                            <input type="button" value="답변하기" onclick="sendInquiry();">
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${inquiryDetail.inquiryAnswer == null}">
                <div class="row">
                    <div class="col">
                        [[${inquiryDetail.inquiryAnswer}]]
                    </div>
                </div>
            </th:block>
            <input type="button" value="목 록" onclick="location.href='/realtor/inquiryBoardList';">
        </div>
        <script src="/js/realtor/board.js"></script>
    </th:block>
</body>
</html>