<!DOCTYPE html>
<html lang="ko" xlmns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>공인중개사 전용 페이지</title>
</head>
<body>
    <th:block th:fragment="headerFragment">
        <link rel="stylesheet" href="/css/realtor/realtor_header.css">
        <div class="row mb-3 pt-4">
            <div class="col text-center gnb">
                <span>방 찾기</span>
                <span>매물 승인하기</span>
                <span onclick="location.href='/realtor/myPage';" class="cursor">마이페이지</span>
                <span onclick="location.href='/member/logout';" class="cursor">로그아웃</span>
            </div>
        </div>
    </th:block>
</body>
</html>