<!DOCTYPE html>
<html lang="ko" xlmns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/realtor/realtor_pwCorrect.css">
        <form action="/realtor/PWIdentify" method="post" id="pwValue">
            <input type="password" id="password" placeholder="비밀번호를 입력해주세요.">
            <div id="pwCorectText"></div>
            <div class="col-5 d-grid">
                <button type="button" class="btn btn-primary" id="change-btn"
                    th:onclick="realtorCorrection([[${session.loginInfo.userNo}]])">비밀번호확인</button>
            </div>
        </form>
        <script src="/js/realtor/realtor_mypage.js"></script>
    </th:block>
</body>
</html>