<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="content_css">
        <link rel="stylesheet" href="/css/room/reg_room.css">
    </th:block>
    <title></title>
</head>

<body>
    <th:block layout:fragment="content">
        <!-- <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet"> -->
        
        <h1 class="title">방내놓기</h1>
        <div id="error-div"><span class="close">닫기</span></div>
        <div>
            <ul class="caution">
                <li><span>．</span>전/ 월세 매물만 등록할 수 있습니다.</li>
                <li><span>．</span>1개의 매물만 등록 가능하며, 다방에서 직거래로 표시됩니다.</li>
                <li><span>．</span>주소를 다르게 입력할 경우 허위매물로 신고될 수 있으니 꼭 동일하게 입력 바랍니다.</li>
            </ul>
        </div>
        <div>
            <form id="roomForm" action="/room/insertRoom" method="post" enctype="multipart/form-data">
                <input name="userNo" type="hidden" th:value="${session.loginInfo.userNo}">
                <input name="coordinateY" id="coordinate_y" type="hidden" value=" ">
                <input name="coordinateX" id="coordinate_x" type="hidden" value=" ">
                <div class="table">
                    
                    <div class="table_top">
                        <h2>매물정보</h2>
                        <div><span class="essential">*</span>필수입력 항목</div>
                    </div>
                    <table>
                        <colgroup>
                            <col width="10%">
                            <col width="30%">
                            <col width="*%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>매물유형 <span class="essential">*</span></th>
                                <td>
                                    <header>대분류</header>
                                    <div th:each="property, state : ${propertyList}" class="property">
                                        <input type="radio" th:id="'propertyType_' + ${property.propertyTypeCode}"
                                            name="propertyTypeCode" th:value="${property.propertyTypeCode}"
                                            th:checked="${state.index==0}">
                                        <label
                                            th:for="'propertyType_' + ${property.propertyTypeCode}">[[${property.propertyTypeName}]]</label>
                                    </div>
                                </td>
                                <td style="height: 170px;">
                                    <header>소분류</header>
                                    <th:block th:each="property : ${propertyList}">
                                        <div th:if="${property.subPropertyTypeList}">
                                            <div class="subproperty-wrapper"
                                                th:attr="data-property-type-code=${property.propertyTypeCode}">
                                                <div class="subProperty"
                                                    th:each="subProperty, state : ${property.subPropertyTypeList}">
                                                    <input type="radio"
                                                        th:id="'subPropertyType_' + ${subProperty.subPropertyTypeCode}"
                                                        name="subPropertyTypeCode"
                                                        th:value="${subProperty.subPropertyTypeCode}"
                                                        th:checked="${state.index==0}"
                                                        th:attr="data-parent=${property.propertyTypeCode}">
                                                    <label
                                                        th:for="'subPropertyType_' + ${subProperty.subPropertyTypeCode}">[[${subProperty.subPropertyTypeName}]]</label>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </td>
                            </tr>

                            <tr>
                                <th>매물주소 <span class="essential">*</span></th>
                                <td class="addr">
                                    <div class="addr_select">
                                        <div class="ad_laber">주소검색</div>
                                        <input type="text" id="addr" name="addr" readonly placeholder="검색버튼을 눌러주세요">
                                        <input type="button" value="검색" id="select" onclick="openPost();">
                                    </div>
                                    <div class="detail_addr">
                                        <div class="ad_laber">상세주소</div>
                                        <input type="text" name="detailAddr">
                                    </div>
                                </td>
                                <td>
                                    <div id="map"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>매물크기 <span class="essential">*</span></th>
                                <td colspan="5">
                                    <div class="pm_div">
                                        <label>전용면적</label>
                                        <input type="text" name="roomSizeP" id="roomSizeP" placeholder="평수 입력"><span
                                            class="pm">평</span>
                                        <span> = </span>
                                        <input type="text" name="roomSizeM" id="roomSizeM"
                                            placeholder="m&#178; 입력"><span class="pm">m&#178;</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>방 정보 <span class="essential">*</span></th>
                                <td colspan="5">
                                    <div class="floor">
                                        <label>층수</label>
                                        <input type="text" name="floor" placeholder="층수 입력">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table">
                    <h2>거래 정보</h2>
                    <table>
                        <tr>
                            <th>거래 종류 <span class="essential">*</span></th>
                            <td>
                                <th:block th:each="tradeType : ${tradeTypeList}">
                                    <input type="radio" name="tradeTypeCode" th:id="${tradeType.tradeTypeCode}"
                                        th:value="${tradeType.tradeTypeCode}"
                                        th:checked="${tradeType.tradeTypeCode == 'TTC_001'}">
                                    <label th:for="${tradeType.tradeTypeCode}">[[${tradeType.tradeTypeName}]]</label>
                                </th:block>
                            </td>
                        </tr>
                        <tr>
                            <th>가격 정보 <span class="essential">*</span></th>
                            <td class="expense">
                                <div class="monthly">
                                    <div>
                                        <div>보증금</div>
                                        <input type="text" name="deposit">
                                        <span class="won">만원</span>
                                    </div>
                                    <div>
                                        <div>월세</div>
                                        <input type="text" name="monthlyLease">
                                        <span class="monthly_won">만원</span>
                                    </div>
                                </div>
                                <div class="jeonse">
                                    <div>전세가</div>
                                    <input type="text" name="jeonseCost">
                                    <span class="won">만원</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>공용관리비 <span class="essential">*</span></th>
                            <td>
                                <div>
                                    <label>관리비 여부</label>
                                    <input type="radio" id="maintenanceNone" name="maintenanceOption" checked> 없음
                                    <input type="radio" id="maintenanceYes" name="maintenanceOption"> 있음
                                </div>
                                <div>
                                    <label for="maintenanceCost">관리비</label>
                                    <input type="text" name="maintenanceCost" id="maintenanceCost">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>입주가능일자 <span class="essential">*</span></th>
                            <td>
                                <div>
                                    <input type="radio" name="immediateOccupancy" value="Y" id="immediateOccupancyYes"
                                        checked>
                                    <label for="immediateOccupancyYes">즉시 입주</label>
                                    <input type="radio" name="immediateOccupancy" value="N" id="immediateOccupancyNo">
                                    <label for="immediateOccupancyNo">일자 선택</label>
                                    <input type="date" name="availableMoveInDate" id="moveInDateField">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table">
                    <h2>시설정보</h2>
                    <table class="options">
                        <tr th:each="option, state : ${optionsList}">
                            <th>[[${option.optionName}]]</th>
                            <td>
                                <th:block th:if="${option.optionCode =='OPTION_003'}">
                                    <div>
                                        <input type="checkbox" class="all_check" id="all_check_id">
                                        <label for="all_check_id">전체선택</label>
                                    </div>
                                </th:block>
                                <th:block th:each="detailOption, state1 : ${option.detailOptionList}">
                                    <th:block th:if="${state1.index==0 and state.index==0}">
                                        <input type="radio" name="detailOptions" id="no_select" checked>
                                        <label for="no_select">선택 안함</label>
                                    </th:block>
                                    <th:block th:if="${state.index==0}">
                                        <input type="radio" name="detailOptions"
                                            th:value="${detailOption.detailOptionCode}"
                                            th:id="'detailOptionCheckbox'+${detailOption.detailOptionCode}">
                                    </th:block>
                                    <th:block th:if="${option.optionCode =='OPTION_003'}">
                                        <th:block th:if="${state.index!=0}">
                                            <input type="checkbox" name="detailOptions"
                                                th:value="${detailOption.detailOptionCode}" class="detailOptionCheckbox"
                                                th:id="'detailOptionCheckbox'+${detailOption.detailOptionCode}">
                                        </th:block>
                                        <label
                                            th:for="'detailOptionCheckbox'+${detailOption.detailOptionCode}">[[${detailOption.detailOptionName}]]</label>
                                    </th:block>
                                    <th:block th:if="${option.optionCode !='OPTION_003'}">
                                        <th:block th:if="${state.index!=0}">
                                            <input type="checkbox" name="detailOptions"
                                                th:value="${detailOption.detailOptionCode}"
                                                th:id="'detailOptionCheckbox'+${detailOption.detailOptionCode}">
                                        </th:block>
                                        <label
                                            th:for="'detailOptionCheckbox'+${detailOption.detailOptionCode}">[[${detailOption.detailOptionName}]]</label>
                                    </th:block>
                                </th:block>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table">
                    <h2>사진 등록</h2>
                    <table>
                        <tr>
                            <th>사진 <span class="essential">*</span></th>
                            <td class="insert-img">
                                <label for="mainImg" class="custom-file-label">대표사진 추가</label>
                                <input type="file" id="mainImg" name="mainImg" accept="image/*">
                                <label for="subImg" class="custom-file-label">상세내용 사진 추가</label>
                                <input type="file" id="subImg" name="subImg" accept="image/*" multiple="multiple" onchange="limitFileSelection(this, 3);">
                            </td>
                        </tr>
                        <tr>
                            <th class="no-bor-r"></th>
                            <td colspan="3" class="insert-img no-bor-t">
                                <div id="mainImgList" class="image-list"></div>
                                <div id="subImgList" class="image-list"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table">
                    <h2>상세 설명</h2>
                    <table>
                        <tr class="room-content">
                            <th>제목 <span class="essential">*</span></th>
                            <td>
                                <input type="text" name="title" placeholder="리스트에 노출되는 문구입니다. 40자 이내로 작성해 주세요."
                                    class="input-field">
                                <div id="count_title">0/40</div>
                                <div class="content_text">- 한글, 영어, 숫자, 허용된 특수문자(+ - / , . ㎡) 이외에 문자는 입력할 수 없습니다. 평형, 평,
                                    기타 특수문자, 매물과 관련 없는
                                    정보는 삭제 처리 됩니다.</div>
                            </td>
                        </tr>

                        <tr class="room-content">
                            <th>상세설명 <span class="essential">*</span></th>
                            <td>
                                <textarea name="content" cols="30" rows="10"
                                    placeholder="매물 상세 페이지에 노출되는 문구입니다. 1000자 이내로 작성해주세요"
                                    class="textarea-field"></textarea>
                                <div id="count_content">0/1000</div>
                                <div class="content_text">- 매물 정보와 관련없는 홍보성 정보는 입력할 수 없습니다.</div>
                                <div class="content_text">- 매물등록규정에 위반되는 금칙어는 입력할 수 없습니다.</div>
                                <div class="content_text">- 위 주의사항 위반시 임의로 매물 삭제 혹은 서비스 이용이 제한될 수 있습니다.</div>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- ////////////////// 최수연 추가 ///////////////////////// -->
                <!-- 상품 목록 모달 -->
                <span class="useItem-title" data-bs-toggle="modal" data-bs-target="#ltem-list-modal">상품 사용하기</span>
                <input id="apply-item-input" type="text" class="" value="현재 적용중인 상품이 없습니다." width="500px;">
                <input id="apply-item-buyCode" type="hidden" name="buyCode" class="" value="" width="500px;">
                <input id="apply-item-buyType" type="hidden" name="buyType" class="" value="" width="500px;">
                <input id="apply-item-memCateCode" type="hidden" name="memCateCode" class="" value="" width="500px;">
                 
                <!-- Modal -->
                <div class="modal fade" id="ltem-list-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">사용 가능한 상품</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                         
                            <div th:if="${itemCnt == 0}">
                                사용 가능한 상품이 없습니다.
                            </div>

                            <div th:if="${itemCnt != 0}">
                                <div th:each="packageItem, state : ${packageItemList}">
                                    <th:block th:if="${state.index == 0}">
                                        <div class="cateName">[[${packageItem.memCateName}]]</div>
                                    </th:block>
                                    <div class="info-div">
                                        <div class="membershipInfo">
                                            <span class="membershipName">[[${packageItem.membershipName}]]</span>
                                            <span class="itemName">[[${packageItem.itemName}]]</span>
                                            <span class="endDate">[[${packageItem.endDate}]]</span>
                                        </div>
                                        <div class="packageDateilInfo">
                                            <div>
                                                <label>
                                                    <div class="itemName">일반 상품</div>
                                                    <div class="leftCntInfo">
                                                        <span>잔여</span>
                                                        <span id="package-generalCnt-span">&#40;[[${packageItem.generalProductCnt}]]	&#41;</span>
                                                    </div>
                                                    <input type="radio" id="checkGeneral" class="btn-check" name="btnradio" th:value="${packageItem.membershipName + ' ' + packageItem.itemName + ' 일반상품'}" th:data-buy-code="${packageItem.buyCode}" data-buy-type="GENERAL" th:data-mem-cate-code="${packageItem.memCateCode}" checked>
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <div class="itemName">플러스 정기권</div>
                                                    <div class="leftCntInfo">
                                                        <span>잔여</span>
                                                        <span id="plus-season-span">&#40;[[${packageItem.plusSeasonCnt}]]	&#41;</span>
                                                    </div>
                                                    <input type="radio" id="checkPlusSeason" class="btn-check" name="btnradio" th:value="${packageItem.membershipName + ' ' + packageItem.itemName + ' 플러스 정기권'}" th:data-buy-code="${packageItem.buyCode}" data-buy-type="SEASON" th:data-mem-cate-code="${packageItem.memCateCode}">
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <div class="itemName">플러스 일일권</div>
                                                    <div class="leftCntInfo">
                                                        <span>잔여</span>
                                                        <span class="plus-day-span">&#40;[[${packageItem.plusDayCnt}]]&#41;</span>
                                                    </div>
                                                    <input type="radio" id="checkPlusDay" class="btn-check" name="btnradio" th:value="${packageItem.membershipName + ' ' + packageItem.itemName + ' 플러스 일일권'}" th:data-buy-code="${packageItem.buyCode}" data-buy-type="DAY" th:data-mem-cate-code="${packageItem.memCateCode}">
                                                </label>
                                            </div>
                                        </div>
                                        <input type="hidden" id="packageIsValid" name="isValid" th:value="${packageItem.isValid}">
                                    </div>
                                </div>
                                <div th:each="generalItem, state : ${generalItemList}">
                                    <th:block th:if="${state.index == 0}">
                                        <div class="cateName">[[${generalItem.memCateName}]]</div>
                                    </th:block>
                                    <div class="info-div">
                                        <div class="membershipInfo">
                                            <span class="membershipName">[[${generalItem.membershipName}]]</span>
                                            <span class="itemName">[[${generalItem.itemName}]]</span>
                                            <span class="endDate">[[${generalItem.endDate}]]</span>
                                        </div>
                                        <div class="generalDateilInfo">
                                            <div>
                                                <label >
                                                    <div class="itemName">일반 상품</div>
                                                    <div class="leftCntInfo">
                                                        <span>잔여</span>
                                                        <span class="generalProductCnt">&#40;[[${generalItem.generalProductCnt}]]	&#41;</span>
                                                    </div>
                                                    <input type="radio" class="btn-check" name="btnradio" th:value="${generalItem.itemName}" th:data-buy-code="${generalItem.buyCode}" th:data-mem-cate-code="${generalItem.memCateCode}">
                                                </label>
                                            </div>
                                        </div>
                                        <input type="hidden" id="generalIsValid" name="isValid" th:value="${generalItem.isValid}">
                                    </div>
                                </div>
                                <div th:each="plusItem, state : ${plusItemList}">
                                    <th:block th:if="${state.index == 0}">
                                        <div class="cateName">[[${plusItem.memCateName}]]</div>
                                    </th:block>
                                    <div class="info-div">
                                        <div class="membershipInfo">
                                            <span class="membershipName">[[${plusItem.membershipName}]]</span>
                                            <span class="itemName">[[${plusItem.itemName}]]</span>
                                            <span class="endDate">[[${plusItem.endDate}]]</span>
                                        </div>
                                        <div class="plusDateilInfo">
                                            <div th:if="${plusItem.plusType == 'S'}">
                                                <label>
                                                    <input type="radio" class="btn-check" name="btnradio" th:value="${plusItem.itemName}" th:data-buy-code="${plusItem.buyCode}" th:data-mem-cate-code="${plusItem.memCateCode}">
                                                </label>
                                            </div>
                                            <div th:if="${plusItem.plusType == 'D'}">
                                                <label>
                                                    <input type="radio" class="btn-check" name="btnradio" th:value="${plusItem.itemName}" th:data-buy-code="${plusItem.buyCode}" th:data-mem-cate-code="${plusItem.memCateCode}">
                                                </label>
                                            </div>
                                        </div>
                                        <input type="hidden" id="plusIsValid" name="isValid" th:value="${plusItem.isValid}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalCloseBtn">Close</button>
                            <button type="button" class="btn btn-primary" onclick="setApplyItemInfo();">Save changes</button>
                        </div>
                    </div>
                </div>
                </div>
                <input type="button" id="submitButton" onclick="roomInsertCkeck();" value="매물등록">
            </form>
        </div>
    </th:block>
    <th:block layout:fragment="content_js">
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=22ce9cdc2a0d0a47b1149d42f3bab1c0&libraries=services,clusterer,drawing"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="/js/room/room_reg.js"></script>
    </th:block>
</body>

</html>