<!DOCTYPE html>
<html lang="ko" xlmns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/room/room_detail.css">
        <div th:onload="detailInfo([[${optionList}]]);"></div>
        <div id="wrap">
            <input type="hidden" th:value="${roomDetail.roomCode}" id="roomCodeNumber">
            <div class="row">
                <div class="col img-box">
                    <th:block th:each="img : ${roomDetail.imgList}">
                        <p><img th:src="'/img/room/' + ${img.attachedFileName}" alt=""></p>
                    </th:block>
                </div>
            </div>
            <div class="container-box">
                <div class="row">
                    <div class="col">
                        <div class="box price">
                            <h3 class="title_a">가격정보</h3>
                            <ul>
                                <li>
                                    <div th:if="${roomDetail.tradeTypeCode == 'TTC_001'}">월세</div>
                                    <div th:if="${roomDetail.tradeTypeCode == 'TTC_002'}">전세</div>
                                    <div th:if="${roomDetail.tradeTypeCode == 'TTC_001'}">
                                        [[${roomDetail.deposit}]]/[[${roomDetail.monthlyLease}]]</div>
                                    <div th:if="${roomDetail.tradeTypeCode == 'TTC_002'}">
                                        [[${roomDetail.jeonseCost}]]</div>
                                </li>
                                <li>
                                    <div>관리비</div>
                                    <div>[[${roomDetail.maintenanceCost}]]</div>
                                </li>
                            </ul>
                        </div>
                        <div class="box">
                            <h3 class="title_a">상세정보</h3>
                            <ul>
                                <li>
                                    <div>방종류</div>
                                    <div th:if="${roomDetail.subPropertyTypeCode == 'STYPE_001'}">원룸</div>
                                    <div th:if="${roomDetail.subPropertyTypeCode == 'STYPE_002'}">투룸</div>
                                    <div th:if="${roomDetail.subPropertyTypeCode == 'STYPE_003'}">쓰리룸 이상</div>
                                    <div th:if="${roomDetail.subPropertyTypeCode == 'STYPE_004'}">오피스텔(도시형)</div>
                                    <div th:if="${roomDetail.subPropertyTypeCode == 'STYPE_005'}">아파트</div>
                                </li>
                                <li>
                                    <div>해당층/건물층</div>
                                    <div>[[${roomDetail.floor}]]층/건물층</div>
                                </li>
                                <li>
                                    <div>전용/공급면적</div>
                                    <div>평 : [[${roomDetail.roomSizeP}]]/ M : [[${roomDetail.roomSizeM}]]</div>
                                </li>
                                <li>
                                    <div>난방종류</div>
                                    <th:block th:each="option : ${optionList}">
                                        <th:block th:each="alloption : ${allOptionList}">
                                            <th:block th:each="detailOption : ${alloption.detailOptionList}"
                                                th:if="${detailOption.optionCode == 'OPTION_001' and detailOption.detailOptionCode.contains(option)}">
                                                <div>[[${detailOption.detailOptionName}]]</div>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </li>
                                <li>
                                    <div>베란다/발코니</div>
                                    <div id="balcony-check">없음</div>
                                </li>
                                <li>
                                    <div>입주가능일</div>
                                    <div></div>
                                </li>
                                <li>
                                    <div>건축물용도</div>
                                    <th:block th:if="${roomDetail.propertyTypeCode == 'MTYPE_001'}">
                                        <div>주택/빌라</div>
                                    </th:block>
                                    <th:block th:if="${roomDetail.propertyTypeCode == 'MTYPE_002'}">
                                        <div>오피스텔(도시형)</div>
                                    </th:block>
                                    <th:block th:if="${roomDetail.propertyTypeCode == 'MTYPE_003'}">
                                        <div>아파트</div>
                                    </th:block>
                                </li>
                                <li>
                                    <div>최초등록일</div>
                                    <div>[[${roomDetail.createDate}]]</div>
                                </li>
                            </ul>
                        </div>
                        <div class="box">
                            <h3 class="title_a">옵션</h3>
                            <ul class="option-box">
                                <th:block th:each="option : ${optionList}">
                                    <th:block th:each="alloption : ${allOptionList}">
                                        <th:block th:each="detailOption : ${alloption.detailOptionList}"
                                            th:if="${detailOption.optionCode == 'OPTION_002' or detailOption.optionCode == 'OPTION_003'}">
                                            <th:block th:if="${option.contains(detailOption.detailOptionCode)}">
                                                <li>[[${detailOption.detailOptionName}]]</li>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </ul>
                        </div>
                        <div class="box">
                            <h3 class="title_a">보안/안전시설</h3>
                            <ul class="option-box">
                                <th:block th:each="option : ${optionList}">
                                    <th:block th:each="alloption : ${allOptionList}">
                                        <th:block th:each="detailOption : ${alloption.detailOptionList}"
                                            th:if="${detailOption.optionCode == 'OPTION_005'}">
                                            <th:block th:if="${option.contains(detailOption.detailOptionCode)}">
                                                <li>[[${detailOption.detailOptionName}]]</li>
                                            </th:block>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </ul>
                        </div>
                        <div class="box">
                            <h3 class="title_a">상세설명</h3>
                            <div>[[${roomDetail.content}]]</div>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#report-modal">허위매물 신고하기</button>
                        </div>
                    </div>
                </div>
                <div class="wing">
                    <div class="wing-box">
                        <div class="row">
                            <div class="col">매물번호 [[${number}]]</div>
                        </div>
                        <div class="row">
                            <div th:if="${roomDetail.tradeTypeCode == 'TTC_001'}">
                                월세[[${roomDetail.deposit}]]/[[${roomDetail.monthlyLease}]]</div>
                            <div th:if="${roomDetail.tradeTypeCode == 'TTC_002'}">
                                전세[[${roomDetail.deposit}]]/[[${roomDetail.jeonseCost}]]</div>
                        </div>
                        <div class="row">
                            <div class="col">[[${roomDetail.roomAddrVO.addr}]] [[${roomDetail.roomAddrVO.detailAddr}]]
                            </div>
                        </div>
                        <div class="row wd25">
                            <th:block th:if="${roomDetail.propertyTypeCode == 'MTYPE_001'}">
                                <div class="col">주택/빌라</div>
                            </th:block>
                            <th:block th:if="${roomDetail.propertyTypeCode == 'MTYPE_002'}">
                                <div class="col">오피스텔(도시형)</div>
                            </th:block>
                            <th:block th:if="${roomDetail.propertyTypeCode == 'MTYPE_003'}">
                                <div class="col">아파트</div>
                            </th:block>
                            <div class="col">[[${roomDetail.roomSizeM}]]㎡</div>
                            <div class="col">[[${roomDetail.floor}]]층</div>
                            <div class="col">매월 [[${roomDetail.maintenanceCost}]]만원</div>
                        </div>
                        <div class="row">
                            <th:block th:if="${personInfo.loginType == 'USER'}">
                                <div class="col">[[${personInfo.nickName}]](직거래)</div>
                            </th:block>
                            <th:block th:if="${personInfo.loginType == 'REALTOR'}">
                                <div class="col">[[${personInfo.realtorDetailVO.officeName}]]</div>
                            </th:block>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#tel-modal">
                                    연락처보기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="tel-modal"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">연락처 보기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <th:block th:if="${personInfo.loginType == 'REALTOR'}">
                            <div class="info-box">
                                <div class="row realtorOffice">
                                    <div class="col">[[${personInfo.realtorDetailVO.officeName}]]</div>
                                </div>
                                <div class="row">
                                    <div class="col realtorName flx">
                                        <div class="gnb">대표명</div>
                                        <div class="text">[[${personInfo.realtorDetailVO.realtorName}]]</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col realtorNum flx">
                                        <div class="gnb">사업자등록번호</div>
                                        <div class="text">[[${personInfo.realtorDetailVO.identificationNum}]]</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">[[${personInfo.phone}]]</div>
                                <div>중개사무소에 연락하여 방문일을 예약하세요.<br>
                                    다방에서 보고 연락한다고 말씀하시면,<br>
                                    더욱 빠른 예약이 가능합니다.</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button th:onclick="loginResult([[${session.loginInfo}]]);" class="btn btn-primary">문의하기</button>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="${personInfo.loginType == 'USER'}">
                            <div class="row">
                                <div class="col">[[${personInfo.nickName}]](직거래)</div>
                            </div>
                            <div class="row">
                                <div class="col">[[${personInfo.phone}]]</div>
                                <div>개인과의 직거래 시 언제나 안전에 유의하세요.</div>
                            </div>
                        </th:block>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="inquiry-modal"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">문의하기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/room2/insertInquiry" method="post">
                            <!-- <input type="hidden" th:value="${session.loginInfo.userNo}" name="fromUserNo"> -->
                            <select name="inquiryTitleCode" id="">
                                <option th:value="${title.inquiryTitleCode}" th:each="title : ${inquiryTitleList}">[[${title.inquiryTitles}]]</option>
                            </select>
                            <textarea name="inquiryContent" id="" cols="30" rows="10"></textarea>
                            <input type="submit" value="문의하기">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="report-modal"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">개인정보 수집 및 이용에 대한 안내</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="law">
                            <div class="txt">
                                · 개인정보 수집 및 이용 목적(개인정보보호법 제15조)
                                ▫ 부동산매물클린관리센터는 관계 법령에 따라 소관 업무를 수행하기 위하여 개인정보를 수집 및 이용 합니다. 수집된 개인정보는 정해진 목적 이외의 용도로는
                                이용되지
                                않으며
                                수집 목적이 변경될 경우 사전에 알 리고 동의를 받을 예정입니다.
                            </div>
                            <div class="txt">
                                · 수집하는 개인정보의 항목
                                ▫ 부동산매물클린관리센터는 아래와 같은 최소한의 개인정보를 수집하고 있습니다.
                                - 필수항목 : 신고자의 성명, 성별, 휴대폰 번호, 생년월일 / 증빙자료 내 신고인의 기타 정보
                                ▫ 서비스 이용과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
                                - IP Address, 방문 일시, 서비스 이용기록
                            </div>
                            <div class="txt">
                                · 개인정보 파일 보유 및 기간
                                ▫ 부동산매물클린관리센터는 원칙적으로 개인정보 보존기관이 경과하거나 처리목적이 달성된 경우 개인정보를 파기합니다.
                                - 보존 기간 : 수집일로부터 1년
                                - 증빙자료 보존기간 : 수집일로부터 60일
                            </div>
                            <div class="txt">
                                · 동의 거부 권리 및 거부에 따른 불이익
                                ▫ 신고 처리를 위하여 수집하는 최소한의 정보 이외에 개인정보 수집에 동의를 거부할 권리가 있으나 최소한의 개인정보 수집동의 거부 시에는 부동산매물클린관리센터
                                서비스를 제공
                                받을 수 없습니다.
                            </div>
                        </div>
                        <div class="ment">
                            집주인 미인증, 층수 미표시, 주차대수 정보 오류, 중복매물 등록 등은 클린관리센터 허위매물 검증 기준이 아닙니다.
                            위 사안으로 신고할 경우 ‘처리불가’ 되오니 주의 부탁드립니다.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#elDAS-modal">본인인증하러가기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="elDAS-modal"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">inner-modal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/room2/elDAS" method="post">
                            <div>아이디</div>
                            <div><input type="text" name="userName" id="elDAS-userName"></div>
                            <div>비밀번호</div>
                            <div><input type="password" name="password" id="elDAS-password"></div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-primary" onclick="elDAS();" value="본인확인"></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="report-inner-modal"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">inner-modal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="report-room-info">
                            <ul>
                                <li>
                                    <div>매물구분</div>
                                    <div>
                                        <span th:if="${roomDetail.subPropertyTypeCode == 'STYPE_001'}">원룸 </span>
                                        <span th:if="${roomDetail.subPropertyTypeCode == 'STYPE_002'}">투룸 </span>
                                        <span th:if="${roomDetail.subPropertyTypeCode == 'STYPE_003'}">쓰리룸 이상 </span>
                                        <span th:if="${roomDetail.subPropertyTypeCode == 'STYPE_004'}">오피스텔(도시형) </span>
                                        <span th:if="${roomDetail.subPropertyTypeCode == 'STYPE_005'}">아파트 </span>
                                        <span th:if="${roomDetail.tradeTypeCode == 'TTC_001'}">월세</span>
                                        <span th:if="${roomDetail.tradeTypeCode == 'TTC_002'}">전세</span>
                                    </div>
                                </li>
                                <li>
                                    <div>매물소재지</div>
                                    <div>[[${roomDetail.roomAddrVO.addr}]] [[${roomDetail.roomAddrVO.detailAddr}]]</div>
                                </li>
                                <li>
                                    <div>매물상세내역</div>
                                    <div>전용면적 : [[${roomDetail.roomSizeP}]]</div>
                                </li>
                            </ul>
                        </div>
                        <div class="reason-box">
                            <h3 class="titla_b">매물신고사유</h3>
                            <div class="reason-inner-box">
                                <form action="/room2/falseOfferings" method="post" id="false-offerings">
                                    <input type="hidden" name="roomCode" th:value="${roomDetail.roomCode}">
                                    <input type="hidden" name="userNo" id="report-person" value="none">
                                    <th:block th:each="reason : ${reasonList}">
                                        <div><input type="radio" name="reasonCode"
                                                th:value="${reason.reasonCode}">[[${reason.reason}]]</div>
                                    </th:block>
                                    <textarea name="reportContent"cols="10" rows="3"></textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="report();">신고하기</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/room/room2_detail.js" defer></script>
    </th:block>
</body>

</html>