@charset "UTF-8";

/* 공통 설정 */
h1, p{
    color: rgb(34, 34, 34);
}

/* 나머지 설정 */
.login_section{
    padding: 100px 0px 126px;
}

.login_frame{
    width: 476px;
    margin: 0px auto;
    border: 1px solid rgb(245, 245, 245);
    padding: 68px;
}

.email_title{
    padding-bottom: 28px;
}

.email_title > h1{
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.5px;
    font-weight: 700;
}

.login_ment{
    padding-top: 28px;
}

.login_ment > p{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.login_form{
    margin-top: 48px;
}

#pwShow{
    position: relative;
    right: 30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
