@charset "UTF-8";

.hidden {
    display: none;
}

.user_header {
    width: 100%;
    flex: 0 0 auto;
}

.user_header div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 278px;
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    padding: 0px 10px;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.userHT {
    margin: 80px 0px 64px;
    font-size: 46px;
    line-height: 70px;
    letter-spacing: -1px;
    font-weight: 700;
}

.inquiryC {
    width: 850px;
    height: 900px;
    margin: 0px auto;
    border-bottom: 1px solid rgb(231, 231, 231);
    border-top: 1px solid rgb(231, 231, 231);
}

.inquiryCT {
    width: 100%;
    padding: 50px 0px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: rgb(34, 34, 34);
}

.inquiryU {
    border-top: 1px solid rgb(231, 231, 231);
}

.inquiryL {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px 0px;
}

.inquiryLT {
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 400;
    width: 130px;
    text-align: center;
}

.selectIC {
    height: 46px;
    padding: 0px 8px 0px 10px;
    color: rgb(76, 76, 76);
    font-size: 14px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    box-sizing: border-box;
    background: url("/img/member/select_arrow_icon.svg") right 8px center / 10px 6px no-repeat rgb(255, 255, 255);
    outline: none;
    appearance: none;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
}

.inquiryT {
    padding: 0px 16px;
    color: rgb(76, 76, 76);
    font-size: 14px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    height: 44px;
}

.inquiryD {
    color: rgb(76, 76, 76);
    font-size: 14px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    resize: none;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    height: 263px;
    padding: 16px;
}

.imgW {
    display: flex;
    flex-direction: column;
}

.imgWW {
    display: flex;
    border: none;
}

.imgaddW {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 106px;
    height: 106px;
    border-radius: 2px;
    border: 1px solid rgb(223, 223, 223);
    background-color: transparent;
    cursor: pointer;
}

.imgPv {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 106px;
    height: 106px;
    border-radius: 2px;
    border: 1px solid rgb(223, 223, 223);
    background-color: transparent;
    cursor: pointer;
}

.imgaddW button {
    margin-top: 4px;
    color: rgb(34, 34, 34);
    font-size: 13px;
    font-weight: 400;
    border: none;
    z-index: -1;
}

.imgT {
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}

.imgT p {
    color: rgb(134, 134, 134);
    font-size: 12px;
    font-weight: 400;
    height: 18px;
}

.inquiryBtn {
    width: 100%;
    margin: 50px 0px;
    text-align: center;
}

.inquiryBtnS {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    width: 216px;
    height: 52px;
    line-height: 52px;
    border: 0px;
    border-radius: 2px;
    background-color: rgb(50, 108, 249);
}

.inquiryTA {
    width: 850px;
    height: 100px;
    margin: 0px auto 260px;
    padding: 25px 0px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 2px;
    text-align: center;
}

.ccT {
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.ccT span {
    color: rgb(50, 108, 249);
    font-size: 18px;
    font-weight: 400;
}

.tmT {
    color: rgb(134, 134, 134);
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
    line-height: 24px;
}

.photoIcon {
    margin-top: 10px;
    width: 24px;
    height: 24px;
    z-index: -1;
}

.imgaddW p {
    margin-top: 10px;
}