@charset "UTF-8";

.inquiryWP {
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.inquiryWP div:not(.inquiryTA){
    width: 1200px;
    height: 100%;
    padding: 0px 10px;
    margin: 40px auto 120px;
}

.inquiryTA {
    width: 1200px;
    height: 100px;
    margin-bottom: 40px;
    padding: 0px 10px;
    margin: 40px auto 120px;
}

.inquiryTA p{
    color: rgb(101, 101, 101);
}

.inquiryBtnWP {
    position: absolute;
    flex: 0 0 auto;
    display: flex;
    padding-top: 50px;
}

.inquiryBtn {
    position: relative;
    bottom: 200px;
    left: 1000px;
    width: 140px;
    height: 44px;
    color: rgb(255, 255, 255);
    border: 0;
    background-color: transparent;
}

.inquiryBtn a{
    border: 0px;
    border-radius: 2px;
    background-color: rgb(50, 108, 249);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 140px;
    height: 44px;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
}

.inquiryCT {
    flex: 0 0 auto;
    padding: 150px 0px 200px;
    text-align: center;
}