@charset "UTF-8";

table{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
}

.room-inquiry-titles{
    text-align: left;
    padding-left: 15px;
}

td{
    padding: 5px;
}
.room-inquiry-answer{
    display: none;
}
.toggle-tr td{
    text-align: left;
    padding: 20px 0 20px 107px;
}
.no-room-inquiry td{
    padding-top: 19px;
    font-weight: bold;
}

.callWP {
    position: relative;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.compensationTA {
    width: 1200px;
    height: 100px;
    margin-bottom: 40px;
    padding: 0px 10px;
    margin: 40px auto 120px;
}

.compensationTA p{
    color: rgb(101, 101, 101);
}

.compensation {
    position: absolute;
    top: 30px;
    right: 30px;
}

.compenBtn {
    width: 140px;
    height: 44px;
    color: rgb(255, 255, 255);
    border: 0;
    background-color: transparent;
}

.compenBtn a{
    border: 0px;
    border-radius: 2px;
    background-color: rgb(50, 108, 249);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 140px;
    height: 44px;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
}

.compenCT {
    flex: 0 0 auto;
    padding: 150px 0px 200px;
    text-align: center;
}